doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title EventMost Admin
		link(href="/favicon.ico", type="image/x-icon" rel="icon")
		link(href="/favicon.ico", type="image/x-icon" rel="shortcut icon")
		block css
			link(href="/css/bootstrap.flatly.min.css" rel="stylesheet")
			link(href="/css/font-awesome.min.css" rel="stylesheet")
			link(href="/css/admin.css" rel="stylesheet")
	body(ng-app="emAdmin")
		block container
			.container-full
				.row
					.col-md-2.col-lg-2.col-sm-2(style="width: 16.5%")
						a(href="/admin/")
							img.img-responsive(src="/images/logo.svg", style="margin-top:20px; min-height:35px;")
						hr
						ul.list-group
							a.list-group-item(href="/")
								span.glyphicon.glyphicon-log-out
								|   Back to EventMost
						hr
						ul.list-group.nav
								a.list-group-item(href="/admin/" class= activePage == 1 ? "active" : null)
									span.glyphicon.glyphicon-dashboard
									|  Dashboard
								a.list-group-item(href="/admin/users" class= activePage == 2 ? "active" : null)
									span.glyphicon.glyphicon-user
									|  Users
								a.list-group-item(href="/admin/events" class= activePage == 3 ? "active" : null)
									span.fa.fa-calendar
									|  Events
								a.list-group-item(href="/admin/emails" class= activePage == 4 ? "active" : null)
									span.glyphicon.glyphicon-envelope
									|  Emails
					.col-md-10.col-lg-10.col-sm-10(style="width: 83.5%")
						block content
		block js
			script(src="/js/gan.js", async)
			script(src="/js/jquery.min.js", defer)
			script(src="/js/bootstrap.min.js", defer)
			script(src="/js/highcharts.js", defer)
			script(src="/js/angular.min.js", defer)
			script(src="/js/angular-admin.js", defer)
			script(src="/js/moment.min.js", defer)
			script(src="/js/jquery-ui-1.10.3.custom.min.js", defer)
			script(src="/js/jquery.ui.touch-punch.min.js", defer)