!!! 5
html(style="width: 100%")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title EventMost Admin
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		block css
			link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css", rel="stylesheet")
			style.
				.container-full {
					margin-left: auto;
					margin-right: auto;
					padding-left: 10px;
					padding-right: 10px;
				}
	body(style="width: 100%")
		block container
			.container-full
				.row
					.col-md-2.col-lg-2.col-sm-2
						a(href="/admin/")
							img.img-responsive(src="/images/logo.svg", style="margin-top:20px;")
						hr
						ul.list-group.nav
								a.list-group-item(href="/admin/", class= activePage == 1 ? "active" : null)
									span.glyphicon.glyphicon-dashboard
									|  Dashboard
								a.list-group-item(href="/admin/users", class= activePage == 2 ? "active" : null)
									span.glyphicon.glyphicon-user
									|  Users
								a.list-group-item(href="/admin/events", class= activePage == 3 ? "active" : null)
									span.glyphicon.glyphicon-calendar
									|  Events
								a.list-group-item(href="/admin/emails", class= activePage == 4 ? "active" : null)
									span.glyphicon.glyphicon-envelope
									|  Emails
						ul.list-group
							a.list-group-item(href="/")
								span.glyphicon.glyphicon-log-out
								|   Back to EventMost
					.col-md-10.col-lg-10.col-sm-10
						block content
		block js
			script(src="/js/jquery.min.js")
			script(src="/js/jquery-ui.custom.min.js")
			script(src="/js/jquery-ui-timepicker-addon.js")
			script(src="/js/gan.js")
			script(src="/js/highcharts.js")