!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		title EventMost Admin
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		block css
			link(rel="stylesheet", href="/css/bootstrap.css")
	body
		block container
			.row
				.col-md-2(style="position: fixed; width: 300px;")
					br&nbsp;
					img(style="padding-left: 10px; float: center;" src="/images/logo.svg")
					br&nbsp;
					br&nbsp;
					ul.nav
						li.active
							a(href="/admin/")
								span.glyphicon.glyphicon-dashboard
								|  Dashboard
						li
							a(href="/admin/users")
								span.glyphicon.glyphicon-user
								|  Users
						li
							a(href="/admin/events")
								span.glyphicon.glyphicon-calendar
								|  Events
						li
							a(href="/admin/emails")
								span.glyphicon.glyphicon-envelope
								|  Emails
						br
						li
							a(href="/")
								span.glyphicon.glyphicon-log-out
								|  Logout
				.col-md-9
					block content
		block js
			script(src="/js/jquery.min.js")
			script(src="/js/jquery-ui.custom.min.js")
			script(src="/js/jquery-ui-timepicker-addon.js")
			script(src="/js/gan.js")
			script(src="/js/highcharts.js")