extends layout

block content
	div(ng-controller="usersController", ng-init="setCsrf('#{token}')")
		h2 {{ users.length }}
			|  Users
		table.table
			thead
				tr
				tr
					th Name
					th Surname
					th Email
					th Created
					th: abbr(title="Twitter") Tw
					th: abbr(title="Facebook") Fb
					th: abbr(title="LinkedIn") in
					th Admin
					th Remove
					th OP
			tbody
				tr(ng-repeat="user in users | orderBy:'-created'")
					td {{ user.name }}
					td {{ user.surname }}
					td {{ user.email }}
					td {{ user.created.getDate() }}/{{ user.created.getMonth()+1 }}/{{ user.created.getFullYear() }} {{ user.created.getHours() }}:{{ user.created.getMinutes() }}:{{ user.created.getSeconds() }}
					td
						span.glyphicon.glyphicon-ok(ng-show="user.twitter.userid != null")
					td
						span.glyphicon.glyphicon-ok(ng-show="user.facebook.userid != null")
					td
						span.glyphicon.glyphicon-ok(ng-show="user.linkedin.userid != null")
					td
						span.glyphicon.glyphicon-ok(ng-show="user.admin == true")
					td
						a.btn.btn-danger.btn-xs(ng-click="removeUser(user)")
							span.glyphicon.glyphicon-remove
							span  Remove
				
					td
						.btn-group
							a.btn.btn-danger.btn-xs(ng-click="deopUser(user)", ng-show="user.admin == true")
								span.glyphicon.glyphicon-chevron-down
							a.btn.btn-success.btn-xs(ng-click="opUser(user)", ng-show="user.admin == false")
								span.glyphicon.glyphicon-chevron-up
							a.btn.btn-default.btn-xs(ng-click="editUser(user)")
								i.fa.fa-edit.fa-fw
								|  Edit