#businessCardLibrary.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				a(href="/", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")
				
				h1 Choose a template
				p.lead.center For your business card's background
				
				.row
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('1')")
						img(src="/images/businessCardTemplates/1.svg")
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('2')")
						img(src="/images/businessCardTemplates/2.svg")
				br
				.row
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('3')")
						img(src="/images/businessCardTemplates/3.svg")
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('4')")
						img(src="/images/businessCardTemplates/4.svg")
				br
				.row
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('5')")
						img(src="/images/businessCardTemplates/5.svg")
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('6')")
						img(src="/images/businessCardTemplates/6.svg")
				br
				.row
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('7')")
						img(src="/images/businessCardTemplates/7.svg")
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('8')")
						img(src="/images/businessCardTemplates/8.svg")
				br
				.row
					a.col-xs-6.col-sm-6.col-md-6.col-lg-6(href="", ng-click="selectTemplate('9')")
						img(src="/images/businessCardTemplates/9.svg")

#businessCardLibrary1.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				a(href="/", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")
				
				h1 Choose a template
				p.lead.center For your business card's background
				
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('1')")
						img(src="/images/businessCardTemplates/1.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('2')")
						img(src="/images/businessCardTemplates/2.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('3')")
						img(src="/images/businessCardTemplates/3.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('4')")
						img(src="/images/businessCardTemplates/4.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('5')")
						img(src="/images/businessCardTemplates/5.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('6')")
						img(src="/images/businessCardTemplates/6.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('7')")
						img(src="/images/businessCardTemplates/7.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('8')")
						img(src="/images/businessCardTemplates/8.svg")
				br
				.row.center
					a.col-xs-12.col-sm-12.col-md-12.col-lg-12(href="", ng-click="selectTemplate('9')")
						img(src="/images/businessCardTemplates/9.svg")