#restricion1Modal.reveal-modal
	.center2
		img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
	.center.headerspacer.smaller
		| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them to message other attendees. Upside: your event is easy for intended attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors. Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you to do that. <br />
		| In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
		| Anyone from anywhere can see your event but must be within 2 KM to access it (meaning their EventMost profile will show up with all the other attendees allowing them to message other attendees and such). This is mainly for people that show up to your event that did not initially register via your link. This also could be for more ad-hoc meetups where there wasn’t much of a formal registration. Or this could be used if you don’t give anyone the link, but only want to allow people to be a part of your event network if they really physically attended. As the planner you do have admin rights to kick-out any attendee you want, and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused.
	a(href="#", class="close-reveal-modal") 
		img(src="/img/x.svg")
#restricion2Modal.reveal-modal
	.center2
		img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
	.center.headerspacer.smaller
		| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them to message other attendees.
		| Upside: your event is easy for intended attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors.
		| Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it
		| more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want to receive correspondence from such.
		| Although Attendees can control this in their personal settings, some people are particular about their privacy. <b>Extra precautionary measures we take: </b>We have special algorithms
		| that are extremely effective in preventing spamming and if any individual appears to be doing such, we automatically freeze his/her account.<br /><br />
		| Anyone from anywhere can see your event but <b>must have the password</b> to access it (meaning their EventMost profile will show up with all the other attendees allowing them to message other attendees and such).
		| You create any password you want and there will be two ways by which users can access your event:<br />
		| 1) using the link you provided <br />
		| 1) or <br />
		| 2) entering the password you created.
	a(href="#", class="close-reveal-modal") 
		img(src="/img/x.svg")
#restricion3Modal.reveal-modal
	.center2
		img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
	.center.headerspacer.smaller
		| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them
		| to message other attendees. Upside: your event is easy for intended attendees to enter if they did not get the link.
		| It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors. Also, as the planner you do have admin rights to kick-out
		| any attendee you want and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it
		| more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want
		| to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular
		| about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming
		| and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
		| Anyone from anywhere can see your event, but users that don’t use your link must be within 2KM and know the password
		| you created in order to access your event (meaning their EventMost profile will show up with all the other attendees
		| allowing them to message other attendees and such).
	a(href="#", class="close-reveal-modal") 
		img(src="/img/x.svg")
#restricion5Modal.reveal-modal
	.center2
		img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
	.center.headerspacer.smaller
		| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile
		| will show up with all the other attendees allowing them to message other attendees. Upside: your event is easy for intended
		| attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors.
		| Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you
		| to do that. In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused.
		| Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want
		| to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular
		| about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming
		| and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
		| No one can see or access your event unless they use the link.
	a(href="#", class="close-reveal-modal") 
		img(src="/img/x.svg")
