.modal.fade#dropboxSettings(tabindex="-1", aria-hidden="true")
	.modal-dialog
		.modal-content.reveal-modal
			a.close-reveal-modal(href="#" data-dismiss="modal")
				img(src="/images/x.svg")
			.nspacer
			
			h1 Dropbox Settings
			
			.nspacer-awsome
			
			form(action="/event/#{ev._id}/dropbox", method="POST")
				input(name="_csrf" value=token type="hidden")
				.row
					.col-lg-10.col-md-10.col-xs-10.no-float
						
							.font-evente.pull-left.fontish(style="margin-left:30px;")
								| Allow attendees to upload files?
							.pull-left
								label.checkbox.toggle.candy(style='width: 100px; margin-left:20px; margin-top:4px;' onclick='')
									input.allowAttendeesToUploadToDropbox.invisible(type='checkbox' name="allowDropboxUpload" value="yes" checked= ev.allowDropboxUpload == true ? "checked" : null)
									span
										span No
										span Yes
									a.slide-button
				.clearfix
				.row
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						.center
							input.btn.btn-info(type="submit", value="SAVE SETTINGS")
						.clearfix
				.nspacer-big
			.clearfix

.modal.fade#filesharingModal(tabindex="-1", aria-hidden="true")
	.modal-dialog
		.modal-content.reveal-modal
			a.close-reveal-modal(href="#" data-dismiss="modal")
				img(src="/images/x.svg")
			.nspacer-awsome
			.row
				.col-lg-10.col-md-10.col-xs-10.no-float
					.text-center.font-evente.color-green
						b Who can view:
						span.break(style="color:#542437;") {{ file.name }}
			
			.clearfix
			
			.nspacer-big
			
			//- dropdowns large
			.row
				.col-md-6.col-lg-6.col-sm-6.col-xs-6
					.nspacer-big
					.row
						.col-lg-2.col-md-2.col-xs-2.col-sm-2.col-lg-offset-1.col-xs-offset-1.col-md-offset-1.col-sm-offset-1(style="margin-left:25px;")
							p.check5-green-small
								input#creditcardsmaller4(type="checkbox" ng-model="file.permissions.all" ng-change="toggleAll()")
								label(for='creditcardsmaller4')
						.col-lg-9.col-md-9.col-xs-9.col-sm-9
							.font-evente.pad-right-five.pad-top.fontish
								| All attendees
				.col-md-6.col-lg-6.col-sm-6.col-xs-6
					ul.nav.navbar-nav.nav-last
						li.dropdown.dropdown-menu-last1
							a.dropdown-toggle.dropdown-toggle-last(href='#' data-toggle='dropdown')
								| Select Categories
								b.caret
							ul.dropdown-menu.dropdown-menu-last.pull-right
								li(ng-repeat="category in categories" ng-class="{ 'border-bottom': $last }")
									a(href='#' style="min-height:45px; white-space:normal;", onclick="$('#dropboxCategory{{$index}}').trigger('click')")
										.col-md-9.col-lg-9.col-sm-9.col-xs-9.nspacer(for="dropboxCategory{{$index}}")
											| {{ category.name }}
										.col-md-2.col-lg-2.col-sm-2.col-xs-2
											p.check5-purple-solid(style="margin:0;")
												input(type="checkbox" id="dropboxCategory{{$index}}" ng-model="category.checked" ng-change="updateCategories()" style="margin-left:-10px;")
												label(for="dropboxCategory{{$index}}" ng-click="toggle" style="padding-top:10px;")
			
			.clearfix
			p.text-center(ng-show="showNobody") Nobody can View this File except Event Planners
			.row
				.col-md-12.col-lg-12.col-sm-12.col-xs-12
					.center
						button.btn.btn-info.font-e(dropbox-save) Good To Go
			.nspacer