.modal.fade#dropboxSettings(tabindex="-1", aria-hidden="true")
	.modal-dialog
		.modal-content.reveal-modal
			a.close-reveal-modal(href="#" data-dismiss="modal") 
				img(src="/images/x.svg")
			.nspacer
			
			h1 Dropbox Settings
			
			.nspacer-awsome
			
			form(action="/event/#{ev._id}/dropbox", method="POST")
				input(name="_csrf" value=token type="hidden")
				.row
					.col-lg-12.col-md-12.col-xs-12
						.font-evente.pull-left.fontish(style="margin-left:10px;")
							| Allow attendees to upload files?
						.pull-left
							label.checkbox.toggle.candy(style='width: 100px; margin-left:20px; margin-top:4px;' onclick='')
								input.allowAttendeesToUploadToDropbox.invisible(type='checkbox' name="allowDropboxUpload" value="yes" checked= ev.allowDropboxUpload == true ? "checked" : null)
								span
									span No
									span Yes
								a.slide-button
				.clearfix
				.row
					.col-lg-12.col-md-12.col-xs-12.col-sm-12
						.center
							input.btn.btn-info(type="submit", value="SAVE SETTINGS")
						.clearfix
				.nspacer-big
			.clearfix

.modal.fade#filesharingModal(tabindex="-1", aria-hidden="true")
	.modal-dialog
		.modal-content.reveal-modal
			a.close-reveal-modal(href="#" data-dismiss="modal") 
				img(src="/images/x.svg")
			.nspacer-big
			.row
				.col-lg-12.col-md-12.col-xs-12
					.text-center.font-evente.color-green
						| Who can view {{ file.name }}
			
			.clearfix
			
			.nspacer-big
			.row
				.col-lg-1.col-md-1.col-xs-1.col-sm-1.col-lg-offset-3.col-md-offset-3.col-sm-offset-3.col-xs-offset-3
					p.check5-green-small
						input#creditcardsmaller4(type="checkbox" ng-model="file.all")
						label(for='creditcardsmaller4')
				.col-lg-4.col-md-4.col-xs-4.col-sm-4
					.font-evente.pad-right-five.pad-top.fontish
						| All attendees
				
			//- dropdowns large
			.row
				.col-md-6.col-lg-6.col-sm-6.col-xs-6
					.font-evente.center.cat-text.fontish
						| Show to categories
					
					ul.nav.navbar-nav.nav-last
						li.dropdown.dropdown-menu-last1
							a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
								| Select Categories
								b.caret
							ul.dropdown-menu.dropdown-menu-last.pull-right
								li(ng-repeat="category in categories" ng-class="{ 'border-bottom': $last }")
									a(href='#' style="min-height:45px; white-space:normal;", onclick="$('#dropboxCategory{{$index}}').trigger('click')")
										.col-md-9.col-lg-9.col-sm-9.col-xs-9.nspacer(for="dropboxCategory{{$index}}")
											| {{ category }}
										.col-md-2.col-lg-2.col-sm-2.col-xs-2
											p.check5-purple-solid(style="height:25px;")
												input(type="checkbox" id="dropboxCategory{{$index}}")
												label(for="dropboxCategory{{$index}}" ng-click="toggle")
				.col-md-6.col-lg-6.col-sm-6.col-xs-6
					.font-evente.center.cat-text2.fontish
						| Select Attendees
					ul.nav.navbar-nav.nav-last
						li.dropdown.dropdown-menu-last1
							a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
								| Choose Attendees
								b.caret
							
							ul.dropdown-menu.dropdown-menu-last.pull-right
								li(ng-repeat="attendee in attendees" ng-class="{ 'border-bottom': $last }")
									a(href='#' style="min-height:45px; white-space:normal;", onclick="$('#dropboxAttendee{{$index}}').trigger('click')")
										.col-md-9.col-lg-9.col-sm-9.col-xs-9.nspacer(for="dropboxAttendee{{$index}}")
											| {{ attendee.user.name }} {{ attendee.user.surname }}
										.col-md-2.col-lg-2.col-sm-2.col-xs-2
											p.check5-purple-solid(style="height:25px;")
												input(type="checkbox" id="dropboxAttendee{{$index}}")
												label(for="dropboxAttendee{{$index}}" ng-click="toggle")

			.nspacer-big

			.col-lg-12.col-md-12.col-xs-12
				.center.font-evente.fontish
					| File will be viewable <b>but not downloadable </b> for anyone who has acccess to your event. <br />
					Would you like to allow general public to also be able to view this file, but not downloand it?<br />
					<b>!(such could help with brand promotion)!</b>

			.clearfix