#controlsModal.reveal-modal
	.center2
		h3 Comment controls
	.center.headerspacer2
		| Allow attendees to comment out in the open <br /> (like facebook)? <b>(remember you can always delete comments or attendees)</b>
	.center2.turn2
		label.checkbox.toggle.candy(style='width: 100px;', onclick='')
			input(type='checkbox', class="invisible")
			span
				span No
				span Yes
			a.slide-button
	.clearfix
	a(href="#", class="close-reveal-modal")
		img(src="/images/x.svg")