#privacyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				input(type="hidden", name="_csrf", value=token)
				h1 Privacy settings
				br
				h3.text-center Allow people to private message me?
				.text-center
					label.radio-inline
						input(type="radio", name="allowPM", value="yes", checked= user.privacy.allowPM == true ? "checked" : null)
						| Yes
					label.radio-inline
						input(type="radio", name="allowPM", value="no", checked= user.privacy.allowPM == false ? "checked" : null)
						| No
				hr
				h3.text-center Allow people to comment on my wall?
				.text-center
					label.radio-inline
						input(type="radio", name="allowWall", value="yes", checked= user.privacy.allowWall == true ? "checked" : null)
						| Yes
					label.radio-inline
						input(type="radio", name="allowWall", value="no", checked= user.privacy.allowWall == false ? "checked" : null)
						| No
				hr
				h3.text-center Turn off location ability?
				p.text-center you will not be able to find Events in range
				.text-center
					label.radio-inline
						input(type="radio", name="allowLocation", value="yes", checked= user.privacy.allowLocation == true ? "checked" : null)
						| Yes
					label.radio-inline
						input(type="radio", name="allowLocation", value="no", checked= user.privacy.allowLocation == false ? "checked" : null)
						| No
				hr
				h3.text-center Show my profile in events?
				.row
					.col-md-12.col-lg-12.col-sm-12.col-xs-12
						h2 You will not be able to see other attendees or access event information and documents other than the event description and location!
				.text-center
					label.radio-inline
						input(type="radio", name="showProfile", value="yes", checked= user.privacy.showProfile == true ? "checked" : null)
						| Yes
					label.radio-inline
						input(type="radio", name="showProfile", value="no", checked= user.privacy.showProfile == false ? "checked" : null)
						| No
				br
				p.lead.text-center.statusText.hide Saving..
				.pop-input.center
					button.btn.btn-primary.font.font-ah(type='submit', href="")
						| Save
				
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/img/x.svg")
	

#notificationModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				input(type="hidden", name="_csrf", value=token)
				h1 Notification settings
				.center2
					| <b>My email account can recive notification</b> <br /> <b>of receipt of a ____________ in EventMost:</b>
				.pop-input.center.headerspacer2
					.left.right-al
						| Private message
					.left.switches
						label.radio-inline
							input(type='checkbox', name="privateMessages", value="yes", checked= user.notification.email.privateMessages == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Business Card
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="businessCards", value="yes", checked= user.notification.email.businessCards == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Comment on my wall
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="comments", value="yes", checked= user.notification.email.comments == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Someone saved my profile
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="savedProfile", value="yes", checked= user.notification.email.savedProfile == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
				.center2
					| <b>My mobile device, via the EventMost app,</b> <br /> <b>can receive a push notification of a ____________ <br /> in EventMost:</b>
				.pop-input.center.headerspacer2
					.left.right-al
						| Private message
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="privateMessages", value="yes", checked= user.notification.mobile.privateMessages == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Business Card
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="businessCards", value="yes", checked= user.notification.mobile.businessCards == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Comment on my wall
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="comments", value="yes", checked= user.notification.mobile.comments == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.left.right-al
						| Someone saved my profile
					.left.switches
						label.checkbox.toggle.candy(style='width: 100px;', onclick='')
							input(type='checkbox', name="savedProfile", value="yes", checked= user.notification.mobile.savedProfile == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
				.center2
					| <b>My mobile device, via the EventMost app, can receive push notification of a message deemed important by the Event Planner?</b>
				.center2.turn
					label.checkbox.toggle.candy(style='width: 100px;', onclick='')
						input(type='checkbox', name="message", value="yes", checked= user.notification.mobile.message == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button
					.clearfix
				.center2
					.pop-input.center
						button.btn.btn-primary.font.font-ah(type='submit', href="")
							| Save
					
					a(href="#", class="close-reveal-modal", data-dismiss="modal") 
						img(src="/img/x.svg")

