#privacyModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal(style="background-color:#fdd093;")
				input(type="hidden", name="_csrf", value=token)
				h1 Privacy settings
				br
				h3.text-center Allow people to private message me?
				.text-center
					label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
						input.invisible(type='checkbox' name="allowPM" value="yes" checked= user.privacy.allowPM == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button

				h3.text-center Allow people to comment on my wall?
				.text-center
					label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
						input.invisible(type='checkbox' name="allowWall" value="yes" checked= user.privacy.allowWall == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button
				h3.text-center Turn on location ability?
				p.text-center you will be able to find Events in range
				.text-center
					label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
						input.invisible(type='checkbox' name="allowLocation" value="yes" checked= user.privacy.allowLocation == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button
				h3.text-center Show my profile in events?
				.row
					.col-md-12.col-lg-12.col-sm-12.col-xs-12
						h2 You will not be able to see other attendees or access event information and documents other than the event description and location!
				.text-center
					label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
						input.invisible(type='checkbox' name="showProfile" value="yes" checked= user.privacy.showProfile == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button
				p.lead.text-center.statusText.hide Saving..
				.pop-input.center
					button.btn.btn-primary.font.font-ah(type='submit', href="")
						| Save
				
				a(href="#", class="close-reveal-modal", data-dismiss="modal")
					img(src="/images/x.svg")

#notificationModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal(style="background-color:#fdd093;")
				input(type="hidden", name="_csrf", value=token)
				h1 Notification settings
				.center2
					b My email account can recive notification
					br
					b  of receipt of a ____________ in EventMost:
				.pop-input.center.headerspacer2
					.col-xs-6.col-lg-6.col-sm-6.right
						| Private message
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="emailPrivateMessages" value="yes" checked= user.notification.email.privateMessages == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Business Card
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="emailBusinessCards" value="yes" checked= user.notification.email.businessCards == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Comment on my wall
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="emailComments" value="yes" checked= user.notification.email.comments == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Someone saved my profile
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="emailSavedProfile" value="yes" checked= user.notification.email.savedProfile == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
				.center2
					b My mobile device, via the EventMost app,
					br
					b  can receive a push notification of a ____________ 
						br
						| in EventMost:
				.pop-input.center.headerspacer2
					.col-xs-6.col-lg-6.col-sm-6.right
						| Private message
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="mobilePrivateMessages" value="yes" checked= user.notification.mobile.privateMessages == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Business Card
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="mobileBusinessCards" value="yes" checked= user.notification.mobile.businessCards == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Comment on my wall
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="mobileComments" value="yes" checked= user.notification.mobile.comments == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
					.col-xs-6.col-lg-6.col-sm-6.right
						| Someone saved my profile
					.col-xs-6.col-lg-6.col-sm-6.switches
						label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
							input.invisible(type='checkbox' name="mobileSavedProfile" value="yes" checked= user.notification.mobile.savedProfile == true ? "checked" : null)
							span
								span No
								span Yes
							a.slide-button
					.clearfix
				.center2
					b My mobile device, via the EventMost app, can receive push notification of a message deemed important by the Event Planner?
				.center
					label.checkbox.toggle.candy(style='width: 100px; margin:20px auto;')
						input.invisible(type='checkbox' name="mobileMessage" value="yes" checked= user.notification.mobile.messages == true ? "checked" : null)
						span
							span No
							span Yes
						a.slide-button
					.clearfix
				.center2
					.pop-input.center
						button.btn.btn-primary.font.font-ah(type='submit', href="")
							| Save
					
					a(href="#", class="close-reveal-modal", data-dismiss="modal")
						img(src="/images/x.svg")

#loginSettingsModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal(style="background-color:#fdd093;")
				h1 Login Settings
				.row
					.col-sm-12.col-lg-12.col-md-12.col-xs-12
						form.form-horizontal(action="/profile/edit", method="POST")
							input(type="hidden", name="_csrf", value=token)
							.center: small Change your login information here
							br
							p.lead.text-center.statusText.hide Saving..
							.form-group
								label.control-label.col-sm-4.col-md-4.col-lg-4 Email
								.col-sm-7.col-md-7.col-lg-7
									input.form-control(type="email" name="email" value="#{user.email}" required="required")
							.form-group
								label.control-label.col-sm-4.col-md-4.col-lg-4 Password
								.col-sm-7.col-md-7.col-lg-7
									input.form-control(type="password" name="password_old" value="" placeholder="Enter only if you wish to change your password")
							.form-group
								label.control-label.col-sm-4.col-md-4.col-lg-4 New Password
								.col-sm-7.col-md-7.col-lg-7
									input.form-control(type="password" name="password" value="" placeholder="Enter only if you wish to change your password")
							.form-group
								.col-sm-7.col-md-7.col-lg-7.col-sm-offset-4.col-md-offset-4.col-lg-offset-4
									button.btn.btn-primary.font.font-ah(type='submit', href="")
										| Save
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal")
					img(src="/images/x.svg")