#landingPage1.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| Just by agreeing to be a part of your event, attendees place their EventMost profile in the virtual event where they can send other attendees private messages, saved business cards, or comment out in the open (which you can control).  Speaking of control, you can control everything - See “Event settings” to view all your admin superpowers.
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")

#landingPage2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| Prominent guest speakers, though nice people they are, often times don’t want to be inundated with numerous emails post-event.  But check this out:  In a survey of 85 VIPs (pardon the pretentiousness), 79 responded they would definitely be interested in receiving an aggregate of feedback/contact info from everyone if it was all in one shot.  (The other 6 never answere us :/).  You can set up non-active profiles in a manner we’ve made very simple and efficient, that serve as inboxes for them which you later can forward on.   This is also perfect for teams!  Say you have a business pitch competition, or soap box presentations.  This is a great way to quickly set up profiles (can be no more than their team name if you’d like or as full as a normal profile w/pic and website, etc.) It receives the feedback which you have the power to forward on, or not…up to you.   Also great for events that have numerous company booths.
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")

#landingPage3.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| If you haven’t heard attendees ask “Can I get this presentation?” you haven’t been to a lot of events.  This happens all the time!  Even when the person presenting says “yeah, I’ll make it available”, they never do!...or it’s a pain to find!  Why not put it in the event dropbox for easy access, along with your event schedule, event brochure, pics, etc.  It’s not cool having everyone's’ event materials all over the  place…our dropbox can be a one-stop-shop for your attendees.
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")

#landingPage4.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| Other sites charge AT LEAST $1.00 per ticket and 6% in fees.  We charge 0 per ticket and only 3.5% in fees (which is the credit card company, not us).			
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")

#landingPage5.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| Want a summary of everyone's  email, how many people attended, what type attended, how many emails they sent to each other, how long they were on the social networking platform, or how many times they clicked on a sponsor’s logo?  You can access the event summary report at any time.			
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")

#landingPage6.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				| Other sites charge AT LEAST $1.00 per ticket and 6% in fees.  We charge 0 per ticket and only 3.5% in fees (which is the credit card company, not us).			
				.clearfix
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")
