#attendModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal(style="background-color:#fdd093;")
				.font-e.center
					if (typeof eventattending !== "undefined" && eventattending)
						| Attending this event as <b>#{attendee.category}</b>
						br
						br
						| Change my Category to:
					else
						| Attending this event as:
				.clearfix
				.nspacer
				#eventCategoryList(class= ev.allowAttendeesToCreateCategories == false ? "col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-sm-6" : "col-md-5 col-lg-5 col-sm-5" )
					for category in ev.categories
						input.input-ashen-rounded.font-exception(type="button", value=category style="padding:10px; font-size:16px;")
						.nspacer-small
				if ev.allowAttendeesToCreateCategories
					.col-md-2.col-lg-2.col-sm-2
						.center(style="margin-top:50px;")
							| or
					.col-md-5.col-lg-5.col-sm-5.semi-bold(style="margin-top:20px;")
						| Create your own:
						input.input-ashen-rounded.font-exception#createOwnCategory(type="text" style="padding:10px; font-size:16px;")
				.clearfix
				.nspacer
				.center
					.text-center
						p.accessEventWarningMessage.hide(style="font-size: 16px;") Please select a category, otherwise 
							code click "Access Event" once more
							|  if you don't like it when computers make you do things :)
					button#accessEvent.btn.btn-primary.hide-prof-butt(type='submit', style="border-radius: 10px; padding:10px; padding-right:25px; padding-left:25px;")
						if (typeof eventattending !== "undefined" && eventattending)
							| Change<br/>Category
						else
							| Access <br />event
				.clearfix
				a.close-reveal-modal(href="#", data-dismiss="modal")
					img(src="/images/x.svg")
#locationModal.modal.fade(role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
				span(aria-hidden='true') ×
				span.sr-only Close
				h4.modal-title Modal title
			.modal-body
				//- normal calendars
				.col-lg-2.col-md-2.col-xs-2.pad-left-zero.pad-right-zero.res-dis-non
					.container.bg-purple.pad-top-zero.pad-right-zero(style="height:62px;")
						.pull-left.event-address
							.font.font-thin.logo-text
								| Event date

				.col-lg-5.col-md-5.col-xs-5.pad-left-five.pad-right-zero.res-dis-non
					.container.bg-purple.date-height.datepickerWrapper
						.center
							.font.font-thin.logo-text
								| FROM:
						.datepicker#fromDateDesktop(style="min-height:300px;")
						.clearfix
						.nspacer
						.pull-left
							.input-grey-rounded.psev
								a.link-purple.nowButton(href="#")
									| NOW
						.pull-right.nspacer-small
							.pull-left.font-e
								| Time of event:
							.pull-left.pad-left-ten
								input.input-grey-rounded(name="start_date" type="text" placeholder="00:00" style="max-width:150px;")
				.col-lg-5.col-md-5.col-xs-5.pad-left-five.pad-right-zero.res-dis-non
					.container.bg-purple.date-height.datepickerWrapper
						.center
							.font.font-thin.logo-text
								| TO:
						.datepicker#toDateDesktop(style="min-height:300px;")
						.clearfix
						.nspacer
						.pull-left
							.input-grey-rounded.psev
								a.link-purple.nowButton(href="#")
									| NOW
						.pull-right.nspacer-small
							.pull-left.font-e
								| Time of event:
							.pull-left.pad-left-ten
								input.input-grey-rounded(name="start_date" type="text" placeholder="23:59" style="max-width:150px;")
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes