#showCommentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				
				.pull-left(style="overflow:hidden; border-radius:22px; -webkit-border-radius: 22px; -moz-border-radius:22px;width:44px;height:44px;border:0px solid #542437;")
					img#subcommentAvatar(src="", style="width:44px;margin:0px auto auto 0px;")
				.pull-left.pad-left-ten.width85.width85posts
					.font14.font14sm.break.font-exception.small-post
						a#subcommentProfile.link-green(href="" target="_blank"): span#subcommentUsername.font16.bold
					p#subcommentMessage
							
					#subcommentPosted.pull-left.font14.font14md.color-green.pad-left-five.font-exception(title="")
						
				
				.clearfix