#loginModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				h1 Hello !
				form#LoginForm(action="/auth/password", method="POST")
					input(type="hidden", name="_csrf", value=token)
					.formStatus.center
					.pop-input.center
						input.login#LoginUserEmail(name="login", placeholder="email", type="email", required="required")
					.pop-input.center
						input.pass#LoginUserPassword(name="password", placeholder="password", type="password", required="required")
					.pop-input.center
						button.btn.btn-primary.font.font-ah(type='submit', authentication-login)
							| ENTER
					.clearfix
					.pop-input.center.font-e.font-reg(style="margin-top:15px;")
						| Login in with
						a.pad-left-ten(href="/auth/facebook")
							img(src="/images/face-icon.svg", alt="", class="icon-min")
						a.pad-left-ten(href="/auth/twitter")
							img(src="/images/twit-icon.svg", alt="", class="icon-min")
						a.pad-left-ten(href="/auth/linkedin")
							img(src="/images/in-icon.svg", alt="", class="icon-min")
				.clearfix
				.pop-input.center
					| Want to create an account? 
					a.link-purple#openRegisterModal(href="#") Enter here!
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")
			
#signModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				h1 Hello !
				.center
					| To create an account please fill our form.
				form#RegisterForm(action="/auth/password", method="POST")
					input(type="hidden", name="_csrf", value=token)
					.formStatus.center
					.pop-input.center
						input.name#RegisterUserName(name="name", placeholder="name", maxlength="128", type="text",)
					.pop-input.center
						input.login#RegisterUserEmail(name="login", placeholder="email", maxlength="128", type="email", required="required", )
					.pop-input.center
						input.pass#RegisterUserPassword(name="password", placeholder="password", type="password", required="required",)
					.pop-input.center
						button.btn.btn-primary.font.font-ah(type='submit', href="",)
							| REGISTER
					.clearfix
					.pop-input.center.font-e.font-reg(style="margin-top:15px;")
						| Sign up with
						a.pad-left-ten(href="/auth/facebook")
							img(src="/images/face-icon.svg", alt="", class="icon-min")
						a.pad-left-ten(href="/auth/twitter")
							img(src="/images/twit-icon.svg", alt="", class="icon-min")
						a.pad-left-ten(href="/auth/linkedin")
							img(src="/images/in-icon.svg", alt="", class="icon-min")
					a(href="#", class="close-reveal-modal", data-dismiss="modal") 
						img(src="/images/x.svg")