extends ../responsive

block content
	.container
		.row
			if(locals.message)
				center
					h2=locals.message
					
			.col-sm-9.col-md-9.col-lg-6
				h1 Business Card Library
			.col-sm-3.col-md-3.col-lg-6
				br.hidden-xs
				.btn-group.nspacer.pull-right
					
				br.visible-xs
				br.visible-xs
		
		- for(var i = 0; i < locals.cards.length;)
			.row
				- for(var x = 0; x < 3; x++)
					- var index = i++;
					
					- var card = locals.cards[index];
					- if (!card) continue;

					
					div
						a(href="/cards/remove/"+card._id, title="Delete Card")
							i(class="glyphicon glyphicon-trash")

						img.img-responsive.col-sm-4.col-md-4.col-lg-4(src="/businesscards/"+card._id+".png", style= card.primary ? "border-right:1px black solid; border-left:1px black solid;" : null)
						
			br.hidden-xs
		if (locals.cards.length == 0)
			h3.text-center No Business Cards Added
			p.text-center.lead Create one from scratch or upload your own

		br
		br
		center
			
			if (locals.cards.length != 0)
				a.btn.btn-info(href="/cards/choosePrimary") Choose Primary
				| &nbsp;
			a.btn.btn-primary(href="/card/new")
				i.fa.fa-plus.fa-fw
				|  Create Business Card

			| &nbsp;
			a.btn.btn-info(href="/cards/upload") Upload Business Card Photo
