extends ../responsive

block content
	.container
		.row
			.col-sm-9.col-md-9.col-lg-6
				h1 Business Card Library
			.col-sm-3.col-md-3.col-lg-6
				br.hidden-xs
				a.btn.btn-primary.pull-right(href="/card/new") New Business card
				br.visible-xs
				br.visible-xs
		
		- for(var i = 0; i < cards.length; i)
			.row
				- for(var x = 0; x < 3; x++)
					- var index = i++;
					
					- var card = cards[index];
					- if (!card) continue;
					
					img.col-sm-4.col-xs-12.col-md-4.col-lg-4(src="/businesscards/"+card._id+".png")
			br.hidden-xs