extends ../responsive

block content
	.container
		.row
			.col-sm-9.col-md-9.col-lg-6
				h1 Business Card Library
			.col-sm-3.col-md-3.col-lg-6
				br.hidden-xs
				.btn-group.nspacer.pull-right
					a.btn.btn-info(href="/cards/choosePrimary") Choose a Primary Business Card
					a.btn.btn-primary(href="/card/upload")
						i.fa.fa-plus.fa-fw
						|  New Business card
				br.visible-xs
				br.visible-xs
		
		- for(var i = 0; i < locals.cards.length;)
			.row
				- for(var x = 0; x < 3; x++)
					- var index = i++;
					
					- var card = locals.cards[index];
					- if (!card) continue;
					
					a(href="/cards/choosePrimary/#{card._id}"): img.img-responsive.col-sm-4.col-md-4.col-lg-4(src="/businesscards/"+card._id+".png", style= card.primary ? "border-right:1px black solid; border-left:1px black solid;" : null)
			br.hidden-xs
		if (locals.cards.length == 0)
			h3.text-center No business cards created yet
			p.text-center.lead Create one using button in top right
