extends ../base

block content

	.eighty-five
		.center2.dropbox.color
			img(src="/img/dropbox.svg", alt="" style="padding-right:20px;")
			| Event dropbox
	//- photo
	.eighty-five
		.headerspacer2.smallslid3
			.left.well2.yellowborder2
				img(src="/img/default_logo.svg", alt="", class="arrow")
			.left
				#file_browse_wrapper
					input(type="file", id="file_browse")
			.left
				#file_upload_wrapper
			.left
				#file_delete_wrapper
		.clearfix
	.headerspacer2.center2.color.speaker_title2
		| Who can view this file:
	.headerspacer2.center2
		.smallt.thin.color.smallslid8
			| All attendees
		.thirty
			p.check7.smallslid.checkdropbox
				input(name="", placeholder="", type="checkbox", id="yhm", value="css3")
				label(for='yhm')
	.clearfix
	.headerspacer2
	.span6
		.right
			.smallt.thin.color.center.smallslid9.outer5
				| Certain attendee <br />categories
			dl.dropdown7
				dt
					a.dropx7(href="#")
						| Choose categories
				dd
					ul
						li
							a(href="#",) guest speaker
							p.check7.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="yhm2", value="css3")
								label(for='yhm2')
						li
							a(href="#",) guest speaker2
							p.check7.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="yhm22", value="css3")
								label(for='yhm22')
						li
							a(href="#",) guest speaker
							p.check7.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="yhm3", value="css3")
								label(for='yhm3')
						li.border_bottom2
							a(href="#", style="height:30px;") guest speaker
							p.check7.smallslid.checkdropbox2-end
								input(name="", placeholder="", type="checkbox", id="yhm4", value="css3")
								label(for='yhm4')
	.span6
		.left
			.smallt.thin.color.center.smallslid9.outer5
				| Cetrain individuals
			dl.dropdown8
				dt
					a.dropx8(href="#")
						| Choose individuals
				dd
					ul
						li
							a(href="#",) guest speaker
							p.check8.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="1yhm2", value="css3")
								label(for='1yhm2')
						li
							a(href="#",) guest speaker2
							p.check8.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="2yhm22", value="css3")
								label(for='2yhm22')
						li
							a(href="#",) guest speaker
							p.check8.smallslid.checkdropbox2
								input(name="", placeholder="", type="checkbox", id="3yhm3", value="css3")
								label(for='3yhm3')
						li.border_bottom2
							a(href="#", style="height:30px;") guest speaker
							p.check8.smallslid.checkdropbox2-end
								input(name="", placeholder="", type="checkbox", id="4yhm4", value="css3")
								label(for='4yhm4')
	.clearfix
	.headerspacer2.center2.smallt.thin.color
		| File will be viewable <b>but not downloadable</b> for anyone who has acccess to your event. <br />
		| Would you like to allow general public to also be able to view this file, but not downloand it? <br />
		| <b>!(such could help with brand promotion)!	</b>

	.center2
		.toggle-center
			label.checkbox.toggle.candy(style='width: 100px;', onclick='')
				input(type='checkbox', class="invisible")
				span
					span No
					span Yes
				a.slide-button		
	.center2
		input.dropbox-add(type="submit", value="Add another file...")
	.clearfix
	.headerspacer2
