#takeoverModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="true", ng-controller="TakeoverController", ng-init="setCsrf('#{token}')")
	.modal-dialog
		.modal-content
			.modal-body.reveal-modal
				a(href="#", class="close-reveal-modal", data-dismiss="modal") 
					img(src="/images/x.svg")
				h1 Select User
				small Select a user from EventMost or enter an email address. You can send this feedback profile's inbox or full account control to another user
				.clearfix
				
				.col-sm-5.col-xs-5.col-md-5.hide-mini3-except-smart
					.font-e.right.nspacer
						| Search EventMost:
				.col-sm-7.col-xs-7.col-md-7.hide-mini3-except-smart
					form(method="POST", accept-charset="utf-8")
						input.gonew2.pull-right.header-links(type="button", ng-click="searchUser()", value="GO", style="width:20%;")
						input.pull-right.font-s.search-input.pad-left-ten.header-links(ng-model="search", type="search", required="required", placeholder="search people", style="width:77%;")
				.clearfix
				.nspacer
				
				.col-sm-5.col-xs-5.col-md-5.hide-mini3-except-smart
					.font-e.right.nspacer
						| Enter Email Address:
				.col-sm-7.col-xs-7.col-md-7.hide-mini3-except-smart
					form(method="POST", accept-charset="utf-8")
						input.gonew2.pull-right.header-links(type="button", ng-click="doEmail()", value="GO", style="width:20%;")
						input.pull-right.font-s.search-input.pad-left-ten.header-links(ng-model="email", type="email", required="required", placeholder="Target e-mail address", style="width:77%;")
				.clearfix
				
				.row
					.nspacer-big
					p.col-sm-12.col-lg-12.col-md-12.col-xs-12.lead.text-center(ng-show="progress.length > 0")
						{{ progress }}
				div(ng-show="showPeopleSearch")
					.nspacer-big
					div(ng-repeat="person in peopleSearch")
						.nspacer
						.row
							a.col-md-2.col-sm-2.col-lg-2(target="_blank", href="/user/{{person._id}}")
								img.img-responsive(ng-src="{{person.avatar}}")
							.col-md-8.col-sm-8.col-lg-8
								.row
									h4.col-md-12.col-sm-12.col-lg-12
										a(target="_blank", href="/user/{{person._id}}"): strong {{person.fullName}}
								.row
									strong.col-md-12.col-sm-12.col-lg-12
										span(ng-show="person.position.length > 0")
											{{person.position}}, 
										span(ng-show="person.company.length > 0")
											{{person.company}}, 
										span(ng-show="person.location.length > 0")
											{{person.location}}
							.col-md-2.col-sm-2.col-lg-2
								a.btn.btn-default.btn-md(ng-click="selectProfile(person)") Select
						br
						.line-purple(ng-hide="$last")
				
				.nspacer
				.col-sm-12.col-xs-12.col-md-12(ng-show="showAction")
					.center
						.inline.nspacer-small
							button.btn.btn-primary.font-e2.hide-prof-butt(ng-click="sendInvite()", style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:20px;")
								| Invite user to take<br />over this profile
						.inline.nspacer-small.pad-on-smart
							button.btn.btn-default.font-e2.hide-prof-butt(ng-click="sendInbox()", style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:20px;")
								| Send this profile’s inbox <br />to the selected user
				.clearfix