//- TODO display user avatar and make it clickable (the image)
mixin card(card)
	.col-md-2.col-xs-2.col-sm-2.col-lg-2.nspacer-medium
		.pull-left(style="text-align:center")
			a(href="/user/#{card.from._id}"): img.img-responsive.circularespond(src= card.from.avatar.length > 0 ? card.from.avatar+"-116x116.png" : "/images/default_speaker.svg" style="max-width:102px;")
			a(href="/user/#{card.from._id}"): span= card.from.getName()
	.col-md-3.col-xs-3.col-sm-3.col-lg-3.nspacer-medium
		.center
			img.pad-left-ten.img-responsive(style="width:350px;height:150px", src="/businesscards/"+card.card._id+".png")
	.col-md-1.col-xs-1.col-sm-1.col-lg-1