mixin savedProfile(profile)
	.inline
		.div
			img(src= profile.avatar.length > 0 ? profile.avatar : "/images/default_speaker.svg", alt="", class="circularespond",)
		.font-s
			a(href="/user/"+profile._id): b= profile.getName()
			br
			if (profile.company && profile.position)
				= profile.company
				| , 
				= profile.position
			- else if (profile.company)
				= profile.company
			- else if (profile.position)
				= profile.position