node_modules
.DS_STORE
public/avatars/*
public/avatars/!empty
public/profileavatars/*
public/profileavatars/!empty
public/dropbox/*
public/dropbox/!empty
public/businesscards/*
public/businesscards/!empty
data/*/*
data/*/!empty
data/!empty
newrelic_agent.log
scripts/*.pyc
config-credentials.js
public/js/vendor/all_required.min.js
