extends ../../responsive
include ../inc/navbar

mixin submit(value)
	.clearfix
	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center
			form(action="/event/"+ev._id+"/edit", method="POST")
				input(type="hidden", name="_csrf", value=token)
				input(type="hidden", name="layout", value=value)
				input.btn.btn-primary.font-evente.hide-prof-butt.button-font(type="submit", style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;", value="CHOOSE")

block content
	+navbar
	//- header of the content

	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.inline
			img(src="/images/other-logo.svg", alt="", class="img-responsive")
		.inline
			.font-lebig.inline.pad-left-ten.button-font
				| Change Event Layout
			.font-evente.pad-left-ten.button-font
				| Depending on the layout, you can add maximum 3 logos of the sponors. 
		.inline.pull-right
			button.btn.btn-primary.font-evente.hide-prof-butt.button-font(type='submit', style="border-radius: 10px; padding:5px; padding-right:15px; padding-left:15px;")
				| Go back to event page
	.clearfix

	.nspacer
	.col-md-12.col-xs-12.col-sm-12
		.center.semi-bold.font-evente.button-font
			| Choose how you’d like the top portion of your event to look like:
		.center.font-evente.button-font
			| (Use the first three options if you don’t have an event logo)
	
	.clearfix

	//- option 1
	.nspacer-big
	include ../layouts/0
	
	+submit("0")
	
	
	//- option 2
	.nspacer-big
	include ../layouts/1
	
	+submit("1")

	//- option 3
	.nspacer-big
	include ../layouts/2
	
	+submit("2")
	
	//- option 4
	.nspacer-big
	include ../layouts/3
	
	+submit("3")
	
	//- option 5
	.nspacer-big
	include ../layouts/4
	
	+submit("4")
	
	//- option 6
	.nspacer-big
	include ../layouts/5
	
	+submit("5")