.col-md-2.col-xs-2.col-sm-2.nspacer-medium.hide-mini3-except-smart
	.font-s
		b Planner options
.col-md-10.col-xs-10.col-sm-10.hide-mini3-except-smart
	.font-x1.bg-yellow.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
		a.link-purple(href="../admin/logos") Add logos
	.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
		a.link-white(href="../admin/email") Email attendees
	.font-x1.bg-green.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
		a.link-white(href="../admin/notifications") Push notifications
	.font-x1.bg-yellow.center.pull-right.psev2.prof-wall
		a.link-purple(href="../admin/feedback") Create<br />feedback profile
	.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
		a.link-white(href="../admin/summary") Event summary
	.font-x1.bg-green.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
		a.link-white(href="../admin/panel") Admin panel
.clearfix.hide-mini3-except-smart

.col-md-4.col-xs-4.col-sm-4.hide-mini3-except-smart
	.line-green(style="height:3px; margin-top:-3px;")
