extends ../../responsive

include ../inc/navbar

block content
	+navbar
	
	.clearfix
	.nspacer

	.col-md-12.col-lg-12.col-sm-12
		.font-evente.center.font-exception
			| Total number of registrations:

	.clearfix
	.nspacer

		//- yellow box

	.col-md-12.col-lg-12.col-sm-12.bg-yellow.summary-yellow-height
		.col-md-3.col-lg-3.col-xs-4.nspacer.dont-show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:

		.col-md-8.col-lg-8.col-xs-8.nspacer.dont-show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:
			.nspacer
			.input-ashen-rounded
				.font-s.psev.graphs-font
					| Number of attendees that entered via NOT trough your initial link:

		.col-md-1.col-lg-1.col-xs-1.pull-right.nspacer-awsome.inde.dont-show320-2
			.div
				img(src="/images/raport-icon.svg" class="img-responsive")
				.font-s.center
					| Summary <br /> report
		.clearfix

		//- must be duplicated it's impossible to make it clear for 320 width
		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:

		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of attendees that entered via NOT trough your initial link:

		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:

		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of attendees that entered via NOT trough your initial link:

		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of xyz attendees:

		.clearfix.show320-2
		.nspacer.show320-2
		.col-md-12.col-lg-12.col-xs-12.nspacer.show320-2
			.input-ashen-rounded
				.font-s.psev.graphs-font.break
					| Number of attendees that entered via NOT trough your initial link:

	.clearfix
	.nspacer



		//- graphs
					
	.col-md-3.col-lg-3.col-xs-3
		.font-xs2.center
			| Number of private messages sent:  <b>28</b>
		.center.nspacer-big
			img(src="/images/graph-temp.svg" class="img-responsive")
		
	.col-md-3.col-lg-3.col-xs-3
		.font-xs2.center
			| Number of private messages sent:  <b>28</b>
		.center.nspacer-big
			img(src="/images/graph-temp.svg" class="img-responsive")

	.col-md-3.col-lg-3.col-xs-3
		.font-xs2.center
			| Number of private messages sent:  <b>28</b>
		.center.nspacer-big
			img(src="/images/graph-temp.svg" class="img-responsive")

	.col-md-3.col-lg-3.col-xs-3
		.font-xs2.center
			| Number of private messages sent:  <b>28</b>
		.center.nspacer-big
			img(src="/images/graph-temp.svg" class="img-responsive")


	.clearfix

	.nspacer-big

		//- numbers

	.col-md-2.col-lg-2.col-xs-6
		.bg-purple.center.pad-top-big.number-height.graphs-font2
			| Total <br /> correspondence <br /> sent to <br />feedback profiles:
			.center.pad-top-med.font.semi-bold
				| 105

	.col-md-2.col-lg-2.col-xs-6
		.bg-green.center.pad-top-awsome.number-height.graphs-font2
			| Private<br />messages:
			.center.pad-top-awsome.font.semi-bold
				| 105

	.col-md-2.col-lg-2.col-xs-6
		.bg-purple.center.pad-top-awsome.number-height.graphs-font2
			| Business <br />cards:
			.center.pad-top-awsome.font.semi-bold
				| 105

	.col-md-2.col-lg-2.col-xs-6
		.bg-green.center.pad-top-awsome.number-height.graphs-font2
			| Saved <br />profiles:
			.center.pad-top-awsome.font.semi-bold
				| 105

	.col-md-2.col-lg-2.col-xs-6
		.bg-purple.center.pad-top-awsome.number-height.graphs-font2
			| Wall <br />comments:
			.center.pad-top-awsome.font.semi-bold
				| 105

	.col-md-2.col-lg-2.col-xs-6
		.bg-green.center.pad-top-awsome.number-height.graphs-font2
			| Total number <br />of public comments <br />made:
			.center.pad-top-med1.font.semi-bold
				| 105
	.clearfix


		//- Attendees
				
	.nspacer-big	
	.col-md-12.col-lg-12.col-xs-12
		.font-evente.center.font-exception
			| #{ev.attendees.length} Attendees:

	.nspacer-big

	.col-md-6.col-lg-6.col-xs-6
		.font-evente.font-exception
			| Name

	.col-md-6.col-lg-6.col-xs-6
		.font-evente.font-exception
			| Email

	.clearfix
	.line-purple


	.col-md-6.col-lg-6.col-xs-6
		for attendee in ev.attendees
			.nspacer
			input.input-ashen-rounded(value=attendee.user.getName(), type="text")
	.col-md-6.col-lg-6.col-xs-6
		for attendee in ev.attendees
			.nspacer
			input.input-ashen-rounded(value=attendee.user.email, type="text")
	.clearfix


		//- page visits
				
	.nspacer-big	
	.col-md-12.col-lg-12.col-xs-12
		.font-evente.center.font-exception
			| Page visits


	.col-md-6.col-lg-6.col-xs-6
		.nspacere.font-exception.font-evente.overfonts(style="padding-top:250px;")
			| Page visits: <b>105</b><br />
			| Visits from promotional tools: <b>105</b>

	.col-md-6.col-lg-6.col-xs-6
		.nspacer-awsome.font-exception.font-evente.big-pad-left.overfonts
			| <b>709</b> in the last 30 days
		.nspacer-big
		img(src="/images/graph-temp2.svg" class="img-responsive")


	.clearfix


	.nspacer-big	
	.col-md-12.col-lg-12.col-xs-12
		.font-evente.center.font-exception
			| Tickets sold


	.col-md-6.col-lg-6.col-xs-6
		.nspacere.font-exception.font-evente.overfonts(style="padding-top:250px;")
			| Tickets sold:: <b>105</b><br />
			| Tickets sold from promotional tools: <b>105</b>

	.col-md-6.col-lg-6.col-xs-6
		.nspacer-awsome.font-exception.font-evente.big-pad-left.overfonts
			| <b>709</b> in the last 30 days
		.nspacer-big
		img(src="/images/graph-temp2.svg" class="img-responsive")


	.clearfix
	.nspacer