.row-fluid
	.span4.content.well
		a(href="/auth/facebook")
			img(src="/img/facebooksq.png")
	.span4.content.well
		a(href="/auth/twitter")
			img(src="/img/twittersq.png")
	.span4.content.well
		a(href="/auth/github")
			img(src="/img/githubsq.png")
.row-fluid
	.span4.content.well
		a(href="/auth/linkedin")
			img(src="/img/linkedinsq.png")
	.span8.content.well
		a(href="/auth/google")
			img(src="/img/googlesq.png")