if flash.length > 0
	.alert.bg-yellow(style="margin-top:20px;")
		button.close.fui-cross(data-dismiss="alert")
		h3.center Alerts:
		ul.pad-left-zero(style="list-style: none;")
			for aFlash in flash
				li.center - #{aFlash}
	- emptyFlash()