footer
	.container
		p.text-center.muted
			a(href='/about') About us
			|  | 
			a(href='/features') Features
			|  | 
			a(href='#') Terms and Conditions
			|  | 
			a(href='#') Press
			|  | 
			a(href='#') Contact us
			br
			span &copy; 2013 EventMost