form.form-horizontal.form-horizontal-short(action='/login', method='POST', accept-charset='utf-8')
	.page-header.moveLeft.moveRight
		h1 Log in
	.control-group
		label.control-label(for="logEmail") E-Mail
		.controls
			input#logEmail(name='email', placeholder='Your E-Mail address', maxlength='128', type='email', required)
	.control-group
		label.control-label(for="logPassword") Password
		.controls
			input#logPassword(name='password', placeholder='Password', type='password', required)
	.control-group.noBottomMargin
		input.btn.btn-large.btn-block.btn-red(type='submit', value='Log in')