#left-menu
	.padarea-10
		if everyauth.loggedIn == true
			.logged.user-short-info
				.avatar.left
					a(href="/profile")
						img(src=user.avatar, alt="")
				.left.loggeddesc
					.name
						a(href="/profile")
							= user.getName()
					.role= user.position
						| , 
						= user.company
				.clear
			.element
				ul.menu-list
					li
						a(href="/", class="profile") Home
			if typeof event !== "undefined" && event != null
				.element
					ul.menu-list
						li= event.name
						li
							a.filebox(href="/event/"+event._id) Details
						li
							a.filebox(href="/event/"+event._id+"/forum") Forum
						li
							a.filebox(href="/event/"+event._id+"/dropbox") Dropbox
						if event.user._id.equals(user._id)
							li
								a.event-details(href="/event/"+event._id+"/edit") Edit event
							li
								a.speakers(href="/event/"+event._id+"/speakers") Speakers
							li
								a.push(href="/event/"+event._id+"/notifications") Send notifications
			.element
				ul.menu-list
					li
						a(href="/messages/mailbox", class="mailbox") Mailbox
					li
						a(href="/sharedcards", class="cards") Received business cards
			.element
				ul.menu-list
					li
						a(href="/profile", class="profile") Your profile
					li
						a(href="/cards", class="cards") Your bussines card
			.element
				ul.menu-list
					li
						a(href="/users/getFavourites", class="saved-profiles") Saved profiles
			.element
				ul.menu-list
					li
						a(href="/logout", class="logout") Logout
		else
			.logged.user-short-info
				.avatar.left
					a(href="/")
						img(src="/img/avatar.jpg", alt="")
				.left.loggeddesc
					.name
						a(href="/") Guest
					.role
				.clear
			.element
				ul.menu-list
					li
						a(href="/", class="profile") Login
			if typeof event !== "undefined" && event != null
				.element
					ul.menu-list
						li= event.name
						li
							a.filebox(href="/event/"+event._id) Details
						li
							a.filebox(href="/event/"+event._id+"/forum") Forum
						li
							a.filebox(href="/event/"+event._id+"/dropbox") Dropbox
						li
							a.speakers(href="/event/"+event._id+"/speakers") Speakers