.span3
	if everyauth.loggedIn == true
		ul.nav.nav-list.nav-list-vivid
			if typeof event !== "undefined" && event != null
				li.nav-header= event.name
				li
					a.filebox(href="/event/"+event._id) Details
				li
					a.filebox(href="/event/"+event._id+"/attendees") Attendees
				li
					a.filebox(href="/event/"+event._id+"/speakers") Speakers
				li
					a.filebox(href="/event/"+event._id+"/forum") Forum
				li
					a.filebox(href="/event/"+event._id+"/dropbox") Dropbox
				if event.user && event.user._id.equals(user._id)
					li
						a.event-details(href="/event/"+event._id+"/edit") Edit event
					li
						a.speakers(href="/event/"+event._id+"/speakers") Speakers
					li
						a.push(href="/event/"+event._id+"/notifications") Send notifications
			li.nav-header Home
			li
				a(href="/", class="profile") Home
			li
				a(href="/messages/mailbox", class="mailbox") Mailbox
			li
				a(href="/sharedcards", class="cards") Received business cards
			li
				a(href="/profile", class="profile") Your profile
			li
				a(href="/cards", class="cards") Your bussines card
			li
				a(href="/users/getFavourites", class="saved-profiles") Saved profiles
			li
				a(href="/logout", class="logout") Logout
	else
		if typeof event !== "undefined" && event != null
			.element
				ul.menu-list
					li= event.name
					li
						a.filebox(href="/event/"+event._id) Details
					li
						a.filebox(href="/event/"+event._id+"/forum") Forum
					li
						a.filebox(href="/event/"+event._id+"/dropbox") Dropbox
					li
						a.speakers(href="/event/"+event._id+"/speakers") Speakers