extends ../../../responsive

include ../../inc/navbar
include ../../inc/attendee

include inc/card

block content
	+navbar
	.clearfix
	include navbar
	
	.clearfix
	.nspacer
	
	//- business
	
	if (locals.feedbackProfile.user.receivedCards.length == 0)
		h3.text-center No cards received
	
	for card in locals.feedbackProfile.user.receivedCards
		+card(card)
	
	//- end business
	.clearfix