extends ../../../responsive

include ../../inc/navbar
include ../../inc/attendee

include inc/message

block content
	+navbar
	.clearfix
	include navbar
	
	.nspacer
	
	for message in messages
		+message(message)
	
	if (messages.length == 0)
		p.text-center.lead No Private Messages
	
	.clearfix