extends responsive

append content
	h1.text-center
		i.fa.fa-frown-o
		|  Something went seriously wrong
	p.lead.text-center We screwed something up. We've been notified of the issue and are working fast to resolve it.
		br
		|  Thanks