extends base

append addonjs
	script(src="js/datepicker.js")
	script(src="js/tiny.editor.packed.js")
	script.
		var editor = new TINY.editor.edit('editor', {
			id: 'tinyeditor',
			width: 1170,
			height: 175,
			cssclass: 'tinyeditor',
			controlclass: 'tinyeditor-control',
			rowclass: 'tinyeditor-header',
			dividerclass: 'tinyeditor-divider',
			controls: ['bold', 'italic', 'underline', 'strikethrough', 'leftalign', 'centeralign', 'rightalign', 'blockjustify', 'font', 'size',],
			footer: true,
			fonts: ['Raleway', 'Verdana','Arial','Georgia','Trebuchet MS'],
			xhtml: true,
			cssfile: 'custom.css',
			bodyid: 'editor',
			footerclass: 'tinyeditor-footer',
			resize: {cssclass: 'resize'}
		});

append content
	include inc/flash
	.row-fluid.headerSpacer 
		.span12
			.redbox
				.left.well2.redbox
					| Event <br /> name
				.row-fluid
					.left.span10
						input(name="", placeholder="", type="email", id="", required="required", class="file_input_textbox6")
	.row-fluid
		.left.span2.well2.yellow
			| Logo
		.left.span4.well2.yellowborder
			img(src="/img/default_logo.svg", alt="", class="arrow")
		.right
			#file_delete_wrapper
		.right
			#file_upload_wrapper
		.right
			#file_browse_wrapper
				input(type="file", id="file_browse",)
		.clearfix
	.row-fluid.headerSpacer 
		.span10
			.yellow
				.left.well3.yellow
					| Venue <br /> name
				.row-fluid
					.left.span9
						input(name="", placeholder="", type="email", id="", class="file_input_textbox5")
		.left.headerspacer2.smallslid
			img(src="/img/optional.svg", alt="", class="arrow")
		.clearfix
	.row-fluid.headerSpacer 
		.span8
			.orange
				.left.well3.orange
					| Event <br /> address
				.row-fluid
					.left.span8
						input(name="", placeholder="", type="email", id="", class="file_input_textbox7")
		.span2
			.orange
				.left.well4.orange
					p.check
						input(name="", placeholder="", type="checkbox", id="css3", value="css3")
						label(for='css3')
					p.small use current location
		.left.headerspacer2.smallslid
			img(src="/img/optional.svg", alt="", class="arrow")
		.clearfix
	.row-fluid.headerSpacer 
		.left.well3.orange.span3
			| Event <br /> date
		.left
			.left.orange.well5
				| FROM:
				#datepicker
		.left
			.left.orange.well5
				| TO:
				#datepicker2
	.clearfix
	.row-fluid.headerSpacer
		textarea#tinyeditor(style="width: 1170px; height: 200px")

		.search-box#bigred
			.search-content
				p
					span.title About EventMost
		#info-page.users.form
			.clear
			p Eventmost is the easiest way to make and keep contacts for events or conferences. Once you get to your event, simply open up the app, select the event, and that’s it! Your profile pops up with everyone else’s. You can send attendees your virtual business card, private message them, or comment out in the open.
			br
			p Eventmost saves this all, so you can revisit contacts from the past while you’re waiting for the bus or sipping down a latte (it’s a lot better than that jar of business cards!). You can also leave feedback and/or contact information for guest speakers or teams.
			br
			p There’s also a dropbox within the app so that the schedule, powerpoint presentations, brochures and more can all be kept in one place. Tell your organizer you don’t like looking all over a dozen different websites!
			br
			p Whether you’re a professional planner/organizer or just filling in the role, Eventmost is the simplest way to set up your event. Use “Quick Start Event” if you just want people to be able to reconnect in the future. Use “Start an Event – Planner” if you want the full range of helpful planner options (don’t worry, it’s all free and has only 2 extra steps).
	.clear