extends base

block addonjs
	script(src="/js/geo.js")
	script(src="/js/getNearbyEvents.js")

append content
	include inc/flash
	include modals/homemodals
		.avatar2.headerSpacer 
			a(href="/profile")
				img(src=user.avatar, alt="")
	.right.span13p
		.headerSpacer.inh.smallslid4
			.speaker_titlerespond2
				| You currentry have no <b>business card</b> on file. You can: <br />
				| Choose your <b>business card</b> tamplate here...
			.headerspacer2
				.left
					img(src="/img/card-template1.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template2.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template3.svg", alt="")
				.clearfix
			.headerspacer2
				.left
					img(src="/img/card-template4.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template5.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template6.svg", alt="")
				.clearfix
			.headerspacer2
				.left
					img(src="/img/card-template7.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template8.svg", alt="")
				.left.smallslid4
					img(src="/img/card-template9.svg", alt="")
				.clearfix
			.speaker_titlerespond2.headerspacer2
				| or upload a picture of your current <b>business card</b> here!
			.headerspacer2
				.left
					img(src="/img/card9.svg", alt="")
				.left.smallslid4
					#file_browse2_wrapper
						input(type="file", id="file_browse2")
				.left.zero2
					a(href="#", alt="", title="")
						img(src="/img/upload2.svg", alt="")
				.left.zero2
					a(href="#", alt="", title="")
						img(src="/img/sumbit2.svg", alt="")
				.clearfix
				.headerspacer2
	//- User card
	.avatar.redbox
		p.prof= user.getName()
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="/profile", alt="", title="") Edit profile
			if user.admin
				.set
					a.link4(href="/admin", alt="", title="") Administration
		img(src="/img/card.svg", alt="")
		a.link4(href="/cards", alt="", title="")
			| Choose your bussines card
		.headerSpacer
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="", alt="", title="", data-reveal-id="NotificationModal")
					| Notification settings
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a.link4(href="", alt="", title="", data-reveal-id="PrivacyModal")
					| Privacy settings
		.clearfix
		a(href="/logout", class="logout") Logout



	.row-fluid.headerSpacer 

		.clearfix
