!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		title EventMost - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")

		block css
			link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
			link(rel="stylesheet", href="/bootstrap/css/bootstrap-responsive.css")
			link(rel="stylesheet", href="/css/flat-ui.css")
			link(rel="stylesheet", href="/css/newdesign.css")

	body
		block container
			.row-fluid
				header.span12
					.container
						.row-fluid.headerSpacer
							if everyauth.loggedIn != true
								//- Only displayed when users are guests
								.logo.span3
									a(href="/")
										img(src="/img/logo.png", class="logo")
								.signin.span3.offset6
									a(href="/", class="link1") Login 
									| |
									a(href="", class="link1")  Sign up
							else
								//- Only displayed when user is logged in
								.logo.span3
									a(href="/")
										img(src="/img/logo.png", class="logo")
								.menu.span7.right
									a(href="/", class="link1") Home 
									| |
									a(href="/", class="link1")  Create event
								.span7.headerspacer2
									form(method="POST", accept-charset="utf-8")
										.right
											input.gonew2(type="button", value="GO")
										input(type="hidden", name="_csrf", value=token)
										input(type="search", placeholder="search events of people", class="file_input_textbox4")
								img(src="/img/dot.svg", class="purpleline")
								.right.minus2
									a.right.image(href="/conversations")
										if user.mailboxUnread == 0
											img(src="/img/messagesempty.svg" class="minus4")
										else
											img(src="/img/messages.svg") 
										h5 Inbox
										h15= user.mailboxUnread

			.container
				block content
				.row-fluid
					footer
						.left.blocks
							.image
								img(src="/img/bubble.svg",)
							| Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut.
							.right.spacer
								a(href="/", class="link1") READ MORE >
						.left.blocks.bigslid
							.image
								img(src="/img/calendar-icon.svg") 
								h15 26
							| Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut.
							.right.spacer
								a(href="/", class="link1") READ MORE >
						.left.blocks.bigslid
							h5 FOLLOW US
							.left.slid
								a(href="http://www.facebook.com/groups/361667753935493/", alt="EventMost on Facebook", title="EventMost on Facebook")
									img(src="/img/facebook-icon.svg", alt="")
							.left.smallslid.slid
								a(href="#", alt="EventMost on Twitter", title="EventMost on Facebook")
									img(src="/img/twitter-icon.svg", alt="")
							.left.smallslid.slid
								a(href="#", alt="EventMost on LinkedIn", title="EventMost on LinkedIn")
									img(src="/img/linkedin-icon.svg", alt="")
							.clearfix
							.left
								a(href="#", alt="EventMost RSS Feed", title="EventMost RSS Feed")
									img(src="/img/rss-icon.svg", alt="")
							.left.smallslid.slid
								a(href="#", alt="Google+EventMost", title="Google+EventMost")
									img(src="/img/google-icon.svg", alt="")
							.left.smallslid.slid
								a(href="#", alt="EventMost on Pinterest", title="EventMost on Pinterest")
									img(src="/img/printerest-icon.svg", alt="")
						.clearfix
						.copy.text-center Copyright &copy; 2013 <b>EventMost</b>. All rights reserved.
		block js
			script(src="/js/gan.js")
			script(src="/js/jquery-1.8.3.min.js")
			script(src="/js/jquery-ui-1.10.3.custom.min.js")
			script(src="/js/jquery.ui.touch-punch.min.js")
			script(src="/js/bootstrap.min.js")
			script(src="/js/bootstrap-select.js")
			script(src="/js/bootstrap-switch.js")
			script(src="/js/flatui-checkbox.js")
			script(src="/js/flatui-radio.js")
			script(src="/js/jquery.tagsinput.js")
			script(src="/js/jquery.placeholder.js")
			script(src="/js/jquery.stacktable.js")
			script(src="/js/jquery.tinycarousel.min.js")
			script(src="/js/tinycarousel2.js")
			script(src="/js/three.js")
			script(src="/js/four.js")
			script(src="/js/jquery.jcarousel.min.js")
			script.
				// Temporary
				$("a[href='#']").bind('click', function(event) {
					event.preventDefault();
					return false;
				});
			block addonjs


  
