doctype
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		if (typeof ev !== "undefined")
			meta(name="event_id", content="#{ev._id}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title ESCT - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here

		block css
			link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
			link(rel="stylesheet", type="text/css", href="/css/esct-ver1.css")
			link(rel="stylesheet", type="text/css", href="http://www.google.com/fonts#UsePlace:use/Collection:Fjalla+One")
			link(rel="stylesheet", type="text/css", href="https://www.google.com/fonts#UsePlace:use/Collection:Comfortaa")						
			link(rel="stylesheet", href="/css/font-awesome.min.css", rel="stylesheet")

			
	body(ng-app="eventMost")
		//- main container
		block 
		header
			.spacer
				.center
					a(href="/")
						img(src="/images-esct/logo.svg" alt="")

				.spacer
				.row
					.col-md-3.col-xs-3
						.font-button.left-marg.spacer-small.bold.right.dark
							| Name Layer
					.col-md-7.col-xs-7		
						input.input-white.font-button.dark.reg-padding(type="text", value="enter name", placeholder="enter name")
					.clearfix
				.spacer
		

			

		block content
		



		//- usually globally persistent
		block js
			script(src="/js-esct/jquery.min.js", defer)
			script(src="/js-esct/bootstrap.min.js", defer)
			script(src="/js-esct/jquery.atooltip.min.js", defer)
			script(src="/js-esct/tool.js", defer)
			script(src="/js-esct/font-change.js", defer)
			script(src="/js-esct/radio.js", defer)