extends layout

append content
	.row-fluid
		.span12.content.well
			.moveLeft.moveRight.moveTop.moveBottom
				h1.text-center Features
	.row-fluid
		.well.span12.content
			.row-fluid
				.span4
					.page-header.moveLeft.moveRight
						h1 Events
					p.lead.moveLeft.moveRight EventMost is an event organiser service that ...
				.span8.noMargin
					img(src="http://joelportman.files.wordpress.com/2011/04/week-4-sq11.jpg")
	.row-fluid
		.well.span12.content
			.row-fluid
				.span5.noMargin
					img(src="http://www.pixeden.com/media/k2/galleries/56/002-psd-businees-card-mock-up-template-3d-background.jpg")
				.span7
					.page-header.moveLeft.moveRight
						h1 E-Business card
					p.lead.moveLeft.moveRight Paperless sharing of business cards that just works
	.row-fluid
		.well.span12.content
			.row-fluid
				.span7
					.page-header.moveLeft.moveRight
						h1 File Dropbox
					p.lead.moveLeft.moveRight Share your presentation with others wirelessly, without asking a single question
				.span5.noMargin
					img(src="/img/upload.png")
	.row-fluid
		.well.span6.content
			include inc/login
		.well.span6.content
			include inc/register