extends responsive

append addonjs
	script(src="/js/angular-nearEvents#{minified}.js" defer)
	script(src="/js/homeModals.js" defer)

append content
	include event/inc/item
	
	.col-xs-12.hide-all2

		.nspacer.he1.hide-all2.pull-left(style="width:30%;")
			a(href="/profile")
				img.img-responsive(src= user.avatar.length == 0 ? "/images/big-avatar.svg" : user.avatar, style="max-height: 100%; margin:0 auto;")
		a(href="/event/add")
		.col-xs-8.nspacer.bg-purple.font-thin.center.he1.hide-all2.pull-right
			a.link-ashen.space.iphone-size(href="/event/add", style="font-size:14px;") Create event
			.clearfix
			.inline.font-e(style="width:20%;")
				img(src="/images/people-icon.svg", alt="" , class="create-e-img" )
				.center event
			.inline.font-e(style="width:20%;")
				img(src="/images/martini-icon.svg", alt="" , class="create-e-img" )
				.center meetup
			.inline.font-e(style="width:20%;")
				img(src="/images/conference-icon.svg", alt="" , class="create-e-img" )
				.center conference
			.inline.font-e(style="width:20%;")
				img(src="/images/other-icon.svg", alt="", class="create-e-img" )
				.center other

	.col-md-3.col-xs-3.nspacer.he1.hide-mini
		a(href="/profile")
			img.img-responsive(src= user.avatar.length == 0 ? "/images/big-avatar.svg" : user.avatar, style="max-height: 100%; margin:0 auto;")
	a(href="/event/add")
		.col-md-9.col-xs-9.nspacer.bg-purple.font-bigs.font-thin.center.he1.img-responsive.hide-mini
			a.link-ashen.space(href="/event/add") Create event
			.clearfix
			.inline.font-e(style='width:22%;')
				img(src="/images/people-icon.svg", alt="" , class="img-responsive create-e-img inline" )
				.center event
			.inline.font-e(style='width:22%;')
				img(src="/images/martini-icon.svg", alt="" , class="img-responsive create-e-img inline" )
				.center meetup
			.inline.font-e(style='width:22%;')
				img(src="/images/conference-icon.svg", alt="" , class="img-responsive create-e-img inline" )
				.center conference
			.inline.font-e(style='width:22%;')
				img(src="/images/other-icon.svg", alt="", class="img-responsive create-e-img inline" )
				.center other

	//- User card
	.clearfix.hide-all2
	.nspacer.hide-all2
	.pull-left.nspacer.hide-all2(style='width:33%;')
		.bg-ashen(style='height:242px;')
			p.break.center.font-thin2.font-a(style='padding-top:10px;')
				a.link-purple(href="/user/"+user._id)= user.getName()
			.pull-left.pad-left-ten
				img(src="/images/i.svg", height="7px" width="7px;")
			.pull-left.pad-left-ten.font-s.font-thin2
				a.link-purple.font-en(href="/profile") Edit profile
			.center.clearfix
				img(src="/images/default-card.svg", alt="" class="nspacer-small img-responsive")
				a.link-purple.font-thin2.resfont.font-en6(href="/cards", alt="", title="",)
					| Business Card Library
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="7px" width="7px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple.font-en6(data-toggle="modal", href="#notificationModal")
					| Notification settings
			.clearfix
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="7px" width="7px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple.font-en6(data-toggle="modal", href="#privacyModal")
						| Privacy settings
			.clearfix
			.center.nspacer
				a(href="/logout", class="logout link-yellow")
					button.btn.btn-default.font-e(type='submit', style="border-radius: 8px; margin-bottom:10px; font-size:9px;")
						| Logout
	//- Events nearby
	.col-xs-4.pad-right-zero.pad-left-zero.hide-all2.nspacer
		a.link-green2(href="/events/near", alt="Events Nearby")
			.font-bigs.font-thin.center.home-big
				| Events nearby
				img.home-big3(src="/images/location-icon.svg", class="img-responsive", style="width:80%; margin:auto;")
		//- All Events
	.col-xs-4.bg-yellow.pad-right-zero.pad-left-zero.hide-all2.nspacer(style='height:242px;')
		a.link-purple2(href="/events", alt="Events")
			.font-bigs.font-thin.center.home-big
				| All events<br />
				img.home-big2(src="/images/purple-arrow.svg", class="img-responsive", style="width:70%; margin:auto;")
	.clearfix.hide-all2
		//- My Events
	.col-xs-12.hide-all2
		.bg-green.font-ah.pad-left-ten(style="min-height:27px;")
			| My Events
			.pull-right
				ul.nav.navbar-nav(style="margin-right:-7px; margin-top:-5px;")
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| Arrange by
							b.caret
						ul.dropdown-menu.pull-right
							li
								a(href='#') Most recent to latest
							li
								a(href='#') Latest to most recent
							li
								a(href='#') Events name A-Z
							li
								a(href='#') My planned events
	.clearfix.hide-all2

	//- User card
	.col-md-3.col-xs-3.nspacer.hide-mini
		.bg-ashen(style='height:312px;')
			p.break.font-e.center.font-thin2.pad-left-ten.pad-right-ten(style='padding-top:10px;')
				a.link-purple(href="/user/"+user._id)= user.getName()
			.pull-left.pad-left-ten
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.font-thin2
				a.link-purple(href="/profile", alt="", title="") Edit profile
			.clearfix
			.center
				img.small-avatar(src="/images/default-card.svg", class="nspacer-small img-responsive", style="margin:5px auto;")
				a.link-purple.font-thin2.resfont(href="/cards")
					| Business Card Library
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				.dropdown(style="padding:0;")
					a.link-purple(data-toggle="dropdown" href)
						| Account Settings
					ul.dropdown-menu
						li: a.link-purple(data-toggle="modal" href="#loginSettingsModal") Log In Settings
						li.divider
						li: a.link-purple(data-toggle="modal" href="#notificationModal") Notification settings
						li.divider
						li: a.link-purple(data-toggle="modal" href="#privacyModal") Privacy Settings
			.clearfix
			br
			.center.nspacer
				a(href="/logout", class="logout link-yellow")
					button.btn.btn-default.font-e.difffont(type='submit', data-reveal-id="loginModal" style="border-radius: 8px; margin-bottom:10px;")
						| Logout
	//- Events nearby
	.col-md-9.col-xs-9.nspacer.pad-right-zero.pad-left-zero.three.hide-mini
		.col-md-6.col-xs-6.pad-right-zero.pad-left-zero
			a.link-green2(href="/events/near", alt="Events Nearby")
				.font-bigs.font-thin.center.home-big
					| Events nearby
					img.home-big3(src="/images/location-icon.svg", alt="",)
		//- Events
		.col-md-6.col-xs-6.bg-yellow.pad-right-zero.pad-left-zero
			a.link-purple2(href="/events", alt="Events")
				.font-bigs.font-thin.center.home-big
					| All events<br />
					img.home-big2(src="/images/purple-arrow.svg", alt="",)
		.clearfix
		.col-md-12.col-xs-12.bg-green.nspacer
			.font-bigs.font-thin.e(style='padding-top:5px;')
				| My Events
				.pull-right.mfresponsive
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Arrange by
								b.caret
							ul.dropdown-menu.pull-right
								li
									a(href='/') Most recent to latest
								li
									a(href='#') Latest to most recent
								li
									a(href='#') Events name A-Z
								li
									a(href='#') My planned events
	.clearfix.hide-mini
	
	.exc-spac
	//- My Events
	for event in myevents
		mixin eventItem(event)
	if myevents.length == 0
		.nspacer.col-md-12.col-xs-12.col-lg-12.col-sm-12
			p.lead.text-center You have no events.
				br
				a(href="/event/add") Create an event
	else
		- var pages = Math.ceil(myeventsTotal / 5)
		- var curpage = Math.ceil(myeventsSkip / 5)
		.nspacer
			.pull-right(style='height:35px;')
				ul.pagination
					li
						a(href='/') «
					- for (var i = 0; i < pages; i++)
						li(class= curpage == i ? "active" : null)
							a(href='/?skip='+i*5)= i+1
					
					li
						a(href='/?skip='+((pages*5)-5)) »
		.clearfix


	//- nearby
	.nspacer.col-md-12.col-xs-12.font-bigs.font-thin.hide-mini
		.bg-ashen(style='width:101.4%;')
			.color-green.pad-left-ten
				| Events nearby
				.pull-right.mfresponsive2
					ul.nav.navbar-nav.nav-grey
						li.dropdown
							a.dropdown-toggle.dropdown-toggle-grey(href='#', data-toggle='dropdown')
								| Arrange by
								b.caret
							ul.dropdown-menu.dropdown-menu-grey.pull-right
								li
									a(href='/') Most recent to latest
								li
									a(href='/') Latest to most recent
								li
									a(href='/') Events name A-Z
								li
									a(href='/') My planned events
	.clearfix.hide-mini


	.col-xs-12.hide-all2
		.bg-ashen.color-green.font-ah.pad-left-ten(style="min-height:27px;")
			| Events nearby
			.pull-right
				ul.nav.navbar-nav.nav-grey(style="margin-right:-7px; margin-top:-5px;")
					li.dropdown
						a.dropdown-toggle.dropdown-toggle-grey(href='#', data-toggle='dropdown')
							| Arrange by
							b.caret
						ul.dropdown-menu.dropdown-menu-grey.pull-right
							li
								a(href='/') Most recent to latest
							li
								a(href='/') Latest to most recent
							li
								a(href='/') Events name A-Z
							li
								a(href='/') My planned events
	.clearfix.hide-all2
	
	//- Events nearby
	#nearbyEventsPlaceholder
		p.text-center.lead
	
	.center.hide2
			button#tryAgainNearbyEvents.btn.btn-warning.font.big-pad-left.big-pad-right(type='submit', href="#", style="font-weight:300;")
				| Allow EventMost to GeoLocate my current position
	
	.clearfix
	
	include modals/homemodals