extends responsive

append addonjs
	script(src="/js/geo.js", defer="true")
	script(src="/js/getNearbyEvents.js", defer="true")

append content
	include inc/flash

	
	.col-md-3.col-xs-3.nspacer
		a(href="/profile")
			//- img(src=user.avatar, alt="" style="")
			img.big-avatar(src="/images/big-avatar.svg", alt="")
	a(href="/event/add")
		.col-md-9.col-xs-9.nspacer.bg-purple.font-bigs.font-thin.center(style='height:138px;') 
			a.link-ashen.space(href="/event/add") Create event
			.clearfix
			.inline.font-e(style='width:15%;') 
				img(src="/images/people-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center event
			.inline.font-e(style='width:15%;')
				img(src="/images/martini-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center meetup
			.inline.font-e(style='width:15%;')
				img(src="/images/conference-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center conference
			.inline.font-e(style='width:15%;')
				img(src="/images/other-icon.svg", alt="" ,style="margin-top:-20px; padding-top:20px;")
				.center other
	//- User card
	.col-md-3.col-xs-3.nspacer
		.bg-ashen(style='height:312px;') 
			p.break.font-e.center.font-thin2(style='padding-top:10px;')= user.getName()
			.pull-left.pad-left-ten
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.font-thin2
				a.link-purple(href="/profile", alt="", title="") Edit profile
				if user.admin
					.set
						a.link4(href="/admin", alt="", title="") Administration
			.center
				img.small-avatar(src="/images/default-card.svg", alt="" class="nspacer-small")
				a.link-purple.font-thin2.resfont(href="/cards", alt="", title="")
					| Choose your bussines card
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple(href="", alt="", title="", data-reveal-id="NotificationModal")
					| Notification settings
			.clearfix
			.pull-left.pad-left-ten.nspacer-small
				img(src="/images/i.svg", alt="", height="16px" width="16px;")
			.pull-left.pad-left-ten.font-s.nspacer-small.font-thin2
				a.link-purple(href="", alt="", title="", data-reveal-id="PrivacyModal")
						| Privacy settings
			.clearfix
			.center.nspacer
				a(href="/logout", class="logout link-yellow")
					button.btn.btn-default.font-e(type='submit', data-reveal-id="loginModal" style="border-radius: 8px; margin-bottom:10px;")
						| Logout
	//- Events nearby
	.col-md-9.col-xs-9.nspacer.pad-right-zero.pad-left-zero(style='height:313px;')
		.col-md-6.col-xs-6.pad-right-zero.pad-left-zero
			a.link-green2(href="/events/near", alt="Events Nearby")
				.font-bigs.font-thin.center(style='padding-top:35px;') 
					| Events nearby
					img(src="/images/location-icon.svg", alt="", class="arrow")
		//- Events
		.col-md-6.col-xs-6.bg-yellow.pad-right-zero.pad-left-zero
			a.link-purple2(href="/events", alt="Events")
				.font-bigs.font-thin.center(style='padding-top:35px;') 
					| All events<br />
					img(src="/images/purple-arrow.svg", alt="", style='padding-bottom:35px;') 
		.clearfix
		.col-md-12.col-xs-12.bg-green.nspacer
			.font-bigs.font-thin(style='height:80px; padding-top:5px;')
				| My Events
				.pull-right(style='margin-right:-15px;')
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| Arrange by
								b.caret
							ul.dropdown-menu.pull-right
								li
									a(href='#') Most recent to latest
								li
									a(href='#') Latest to most recent
								li
									a(href='#') Events name A-Z
								li
									a(href='#') My planned events
	.clearfix
	//- My Events
	.nspacer.col-md-12.col-xs-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.rbox(style='height:169px; padding-left:15px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
	.nspacer.col-md-12.col-xs-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.rbox(style='height:169px; padding-left:15px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
	.nspacer
		.pull-right(style='height:35px;')
			ul.pagination
				li
					a(href='#') «
				li.active
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li.disabled
					a(href='#') ...
				li
					a(href='#') 5
				li
					a(href='#') »
	.clearfix
	.nspacer.col-md-12.col-xs-12.font-bigs.font-thin
		.bg-ashen(style='width:101.4%;')
			.color-green.pad-left-ten
				| Events nearby
				.pull-right
					ul.nav.navbar-nav.nav-grey
						li.dropdown
							a.dropdown-toggle.dropdown-toggle-grey(href='#', data-toggle='dropdown')
								| Arrange by
								b.caret
							ul.dropdown-menu.dropdown-menu-grey.pull-right
								li
									a(href='/') Most recent to latest
								li
									a(href='/') Latest to most recent
								li
									a(href='/') Events name A-Z
								li
									a(href='/') My planned events
	//- Events nearby
	.nspacer.col-md-12.col-xs-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.rbox(style='height:169px; padding-left:15px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
	.nspacer.col-md-12.col-xs-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.rbox(style='height:169px; padding-left:15px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
	.nspacer
		.pull-right(style='height:35px;')
			ul.pagination
				li
					a(href='#') «
				li.active
					a(href='#') 1
				li
					a(href='#') 2
				li
					a(href='#') 3
				li.disabled
					a(href='#') ...
				li
					a(href='#') 5
				li
					a(href='#') »
	.clearfix

	