!!! 5
html
	head
		title EventMost | Features
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name="viewport", content="width=device-width")
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/css/site.css')
			link(rel='stylesheet', href='/css/login.css')
	body
		block container
			.bgTopLine
				.container.siteHeader
					header.text-center
						a(href="/")
							h1 Event
								span Most
					.pull-right
						if everyauth.loggedIn
							.btn-group
								a.btn.btn-link(href="/user")
									if user.name != null && user.surname != null
										= user.name
										|  
										= user.surname
									else
										= user.email
								a.btn.btn-link(data-toggle="dropdown")
									i.icon-chevron-down.icon-white
								ul.dropdown-menu
									li
										a(href="/account")
											i.icon-user
											|  Account
									li
										a(href="/edit")
											i.icon-cog
											|  Edit
									li.divider
									li
										a(href="/logout") Logout
						else
							a.btn.btn-link(href="/auth") Login
							span /
							a.btn.btn-link(href="/auth") Register
			.bgMiddleLine
			.container.containerTopMargin
				block content
			include inc/footer

			block js
				script(src='/js/jquery.min.js')
				script(src='/js/bootstrap.min.js')