!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		title EventMost - Login
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		block css
			link(rel="stylesheet", type="text/css", href="/css/event.css")
			link(rel="stylesheet", href="/css/jquery-ui-1.10.3.custom.css")
	body
		block container
			#container
				#black
				#header
					h1
						a(href="/", class="logo")
							span.dax-medium Event
							span.dax-light Most
				#content
					#stripe.purple
					#wrapper
						block content
							
				#footer
					.left &copy; 2013 EventMost
					.right
						a(href="/pages/info", class="footer-link") Info
						a(href="/contact/send", class="footer-link") Contact us
					.clear
			#bigavatar
		
		block js
			script(src="/js/jquery.min.js")
			script(src="/js/jquery-ui.custom.min.js")
			script(src="/js/jquery-ui-timepicker-addon.js")
			script(src="/js/app.js")
			script(src="/js/geolocalization.js")
			block addonjs
				script(src="/js/geoHome.js")
