extends layout

append content
	.row
		.span4.offset2
			h4 Login / Register
			form#UserLoginForm(action="/auth/password", method="post", accept-charset="utf-8")
				input(type="hidden", name="_csrf", value=token)
				input.large(name="login", placeholder="E-mail", type="email", required="required")
				input.large(name="password", placeholder="Password", type="password", required="required")
				input.btn.btn-primary(type="submit", value="Log in / Register now")
				a.btn(href="#") Can't login?
		.span4#login
			h4 Social
			a.btn.btn-large.btn-social-twitter(href="/auth/twitter")
				i.fui-twitter
				|  Connect with twitter
			a.btn.btn-large.btn-social-facebook(href="/auth/facebook")
				i.fui-facebook
				|  Connect with facebook
			a.btn.btn-large.btn-social-linkedin(href="/auth/linkedin")
				i.fui-linkedin
				|  Connect with LinkedIn
			