extends base

block addonjs
	//script(src="/js/geoLogin.js")

append content
	include inc/flash
	.row-fluid.spacer
		.span2
			.well.redbox
				h6 Sign in
				h6 Sign up
			.well.redbox.sociallogin
				a(href="/auth/facebook", alt="Log in with facebook", title="Log in with facebook")
					img(src="/img/facebook.png", alt="")
			.well.redbox.sociallogin
				a(href="/auth/linkedin", alt="Log in with linkedin", title="Log in with linkedin")
					img(src="/img/linkedin.png")
			.well.redbox.sociallogin
				a(href="/auth/twitter", alt="Log in with twitter", title="Log in with twitter")
					img(src="/img/twitter.png")
		.span10
			form(method="POST", accept-charset="utf-8")
				input(type="hidden", name="_csrf", value=token)
				.row-fluid
					.span10
						input(type="text", placeholder="Search")
					.span2
						input.btn.btn-primary(type="button", value="Go")
			h1 Why use us
	.well.redbox
		form#UserLoginForm(action="/auth/password", method="post", accept-charset="utf-8")
			input(type="hidden", name="_csrf", value=token)
			.row-fluid
				.span5
					input(name="login", placeholder="E-mail", maxlength="128", type="email", id="UserEmail", required="required")
				.span5
					input(name="password", placeholder="Password", type="password", id="UserPassword", required="required")
				.span2
					input.btn.btn-primary(type="submit", value="Log in / Register now")