extends responsive

block addonjs
	script(src="/v2/js/geo.js", defer="true")
	script(src="/v2/js/getNearbyEvents.js", defer="true")

append content
	include inc/flash
	.row-fluid.smallspacer
		.span2p
			.well.redboxres
				h4 Sign in
				h4 Sign up
				.tops-minus-res
					img(src="/img/finger.svg", alt="", class="arrow")
			.well.redboxres.sociallogin
				.sociallogin
				a(href="/auth/facebook", alt="Log in with facebook", title="Log in with facebook")
					img(src="/img/facebook.svg", alt="")
			.well.redboxres.sociallogin
				a(href="/auth/twitter", alt="Log in with twitter", title="Log in with twitter")
					img(src="/img/twitter.svg")
			.well.redboxres.sociallogin
				a(href="/auth/linkedin", alt="Log in with linkedin", title="Log in with linkedin")
					img(src="/img/linkedin.svg")
		.span10p
			form(method="POST", accept-charset="utf-8" style="height:38px;")
				input(type="hidden", name="_csrf", value=token)
				.row-fluid
					.span10p
						input(type="search", placeholder="search events or people", class="file_input_textboxres")
					.right
						input.gonewres(type="button", value="GO")
			h12 Why use us <br />
			h17 Not only can you register your event here, you can also:

			#slider1.row-fluid
				.span1
					a.buttons.prev(href="#")
				.span9
					.viewport 
						ul.overview
							li 
								img(src="/img/1.svg", alt="", class="slid") 
								| Create a social network<br /> like Facebook or Linkedin<br /> surrounding your event.
							li 
								img(src="/img/2.svg", alt="", class="slid") 
								| Create a feedback platform<br /> for your guests speakers teams,<br /> vendors or other.
							li 
								img(src="/img/3.svg", alt="", class="slid") 
								| Store files here for free <br /> that your attendees <br /> might use: power point <br />presentations, schedules, <br />pictures, etc.
							li 
								img(src="/img/4.svg", alt="", class="slid") 
								| We will send you and after-event analytics report full of tons of interesting stats (also free... well everything <br />is free).
							li 
								img(src="/img/5.svg", alt="", class="slid") 
								| You can upload logos for your sponsors too (also free), that will be seen during the entire event and after this significantly increasing sponsor revenue!.
							li
								img(src="/img/6.svg", alt="", class="slid")
								| No ticketing Fee! Eventbrite charges £.65 per ticket + 2.5% + 3.5% transaction fee. We only charge the 3.5%  transaction fee so we don’t lose money!
				.span2
					a.buttons.next(href="#")
	.well.redboxres2(style="height: auto;")
		form#UserLoginForm(action="/auth/password", method="post", accept-charset="utf-8", style="margin:0;")
			input(type="hidden", name="_csrf", value=token)
			.row-fluid
				.span5
					input.file_input_textbox2res(name="login", placeholder="email", maxlength="128", type="email", id="UserEmail", required="required", style="margin-bottom:0;")
				.span5
					input.file_input_textbox3res(name="password", placeholder="password", type="password", id="UserPassword", required="required", style="margin-bottom:0;")
				.right
					input.enteres(type="submit", value="ENTER")
			.hide.center2.formStatus(style="font-size:20px;")
	.left.inres.orangeboxres
		a.link5(href="/event/add")
			| Create your event <br />
			img(src="/img/arrow_big.svg", alt="", class="arrow")
	.right.zero2.smallspacer
		a.link1(href="/")
			img(src="/img/appstore.svg" )
	.right.zero2.smallspacer
		a.link1(href="/")
			img(src="/img/android.svg" )
	.clearfix
	.bluebox.center
		.left 
			img.arrow(src="/img/star.svg", alt="")
		a.link4(href="/events/near") Events in range
		.right
			img.arrow(src="/img/star.svg", alt="")
	.clearfix
	
	.row-fluid#nearbyEventsPlaceholder
		.span12
			p.text-center.eventtext Looking for events..
	