extends responsive

block addonjs
	script(src="/js/geo.js", defer="defer")
	script(src="/js/angular-nearEvents.js", defer="defer")

append content
	.nspacer-big.center
		.font-big
			img(src="/images/big-purple-star.svg", alt="" class="starr ex-st" style="margin-top:-10px;") 
			|  Why use us 
			img(src="/images/big-purple-star.svg", alt="" class="starr ex-st2" style="margin-top:-10px;") 
		h4 Not only can you register your event here, you can also:
		.clearfix

	.nspacer
	.hide-all.mob-text
		.col-xs-12
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-1slider.svg", alt=""  )
			.pull-left.col-xs-10
				| Create a social network like Facebook or Linkedin surrounding your event. 
		.clearfix
		.col-xs-12.nspacer
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-2slider.svg", alt=""  )
			.pull-left.col-xs-10
				| Create a feedback platform for your guests speakers teams, vendors or other.
		.clearfix
		.col-xs-12.nspacer
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-3slider.svg", alt=""  )
			.pull-left.col-xs-10
				| Store files here for free that your attendees might use: power point presentations, schedules, pictures, etc.	
		.clearfix
		.col-xs-12.nspacer
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-4slider.svg", alt=""  )
			.pull-left.col-xs-10
				| We will send you and after-event analytics report full of tons of interesting stats (also free... well everything is free).
		.clearfix
		.col-xs-12.nspacer
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-5slider.svg", alt=""  )
			.pull-left.col-xs-10
				| You can upload logos for your sponsors too (also free), that will be seen during the entire event and after thus significantly increasing sponsor revenue!
		.clearfix
		.col-xs-12.nspacer
			.col-xs-2.pad-left-zero
				img(src="/images/mobile-6slider.svg", alt=""  )
			.pull-left.col-xs-10
				| No ticketing Fee!  Eventbrite charges £.65 per ticket + 2.5% + 3.5% transaction fee.  We only charge the 3.5%  transaction fee so we don’t lose money!

		.nspacer
		.clearfix
		.hide-all.col-xs-12
			.bg-yellow.center.psev(style="width:100%; height:45px; font-size:14px; padding-top:12px;")
				a(href="", class="link-purple")
					| Create event

	include modals/landingpage
	#slider1.nspacer-big.hide2
		.col-md-1.col-xs-1.lf
			a.buttons.prev(href="#")
		.col-md-9.col-xs-9
			.viewport
				ul.overview.font-exception
					li 
						a.pink-border(data-toggle="modal", href="#landingPage1")
							.slider-text
								| Create a social network<br /> like Facebook or Linkedin<br /> surrounding your event.
					li 
						a.pink-border2(data-toggle="modal", href="#landingPage2")
							.slider-text
								| Create a feedback platform for your guests<br />  speakers teams,vendors or other.
					li 
						a.pink-border3(data-toggle="modal", href="#landingPage3")
							.slider-text
								| Store files here for free <br /> that your attendees <br /> might use: power point <br />presentations, <br />schedules, pictures, etc.
					li 
						a.pink-border4(data-toggle="modal", href="#landingPage4")
							.slider-text
								| We will send you and after-event analytics report full of tons of interesting stats (also free... well everything <br />is free).
					li
						a.pink-border5(data-toggle="modal", href="#landingPage5")
							.slider-text
								| You can upload logos <br /> for your sponsors too (also free), that will be seen during the entire event and after this significantly increasing sponsor revenue!.
					li
						a.pink-border6(data-toggle="modal", href="#landingPage6")
							.slider-text
								| No ticketing Fee! <br />Eventbrite charges £.65 <br />per ticket + 2.5% + 3.5%<br /> transaction fee. We <br />only charge the 3.5%  <br />transaction fee so we <br />don’t lose money!
		.col-md-1.col-xs-1
			a.buttons.next(href="#")
	.clearfix
	.center.nspacer-big.hide2
			button.btn.btn-warning.font.big-pad.big-pad-left.big-pad-right.font-exception(type='button', data-toggle="modal", href="#loginModal", style="font-weight:500;")
				| Create event
	
	.col-md-12.col-xs-12
		.nspacer-big
			h2 Events near you
	.clearfix
	#nearbyEventsPlaceholder
		p.text-center.lead.font-exception
	