extends responsive

block addonjs
	script(src="/v2/js/geo.js", defer="true")
	script(src="/v2/js/getNearbyEvents.js", defer="true")

append content
	include inc/flash
	.nspacer-big.center
		.font-big
			img(src="/images/big-purple-star.svg", alt="" class="pad-right-ten" style="margin-top:-10px;") 
			| Why use us 
			img(src="/images/big-purple-star.svg", alt="" style="margin-top:-10px;") 
		h4 Not only can you register your event here, you can also:
		.clearfix


	#slider1.nspacer-big
		.col-md-1.col-xs-1.lf
			a.buttons.prev(href="#")
		.col-md-9.col-xs-9
			.viewport 
				ul.overview
					li 
						a(href="", class="pink-border")
							.slider-text
								| Create a social network<br /> like Facebook or Linkedin<br /> surrounding your event.
					li 
						a(href="", class="pink-border2")
							.slider-text
								| Create a feedback platform for your guests<br />  speakers teams,vendors or other.
					li 
						a(href="", class="pink-border3")
							.slider-text
								| Store files here for free <br /> that your attendees <br /> might use: power point <br />presentations, schedules, <br />pictures, etc.
					li 
						a(href="", class="pink-border4")
							.slider-text
								| We will send you and after-event analytics report full of tons of interesting stats (also free... well everything <br />is free).
					li 
						a(href="", class="pink-border5")
							.slider-text
								| You can upload logos <br /> for your sponsors too (also free), that will be seen during the entire event and after this significantly increasing sponsor revenue!.
					li
						a(href="", class="pink-border6")
							.slider-text
								| No ticketing Fee! <br />Eventbrite charges £.65 <br />per ticket + 2.5% + 3.5%<br /> transaction fee. We <br />only charge the 3.5%  <br />transaction fee so we <br />don’t lose money!
		.col-md-1.col-xs-1
			a.buttons.next(href="#")
	.clearfix
	.center.nspacer-big
		a(href="",)
			img(src="/images/create-event.svg", alt="")
	.col-md-12.col-xs-12
		.nspacer-big
			h2 Events near you
		.pull-left.event
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.pad-left-ten.rbox(style='height:169px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix

	.nspacer-big.col-md-12.col-xs-12
		.pull-left.event
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.pad-left-ten.rbox(style='height:169px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix

	.nspacer-big.col-md-12.col-xs-12
		.pull-left.event
			a.slid-box
				article.c-two(style='background-image: url(images/event-avatar.jpg);')
					.slid-box-background
						h4 
							img(src="/images/eye.svg", alt="", style="margin-top:-10px; padding-bottom:10px;")
							| <br /> REVIEW
				.col-lg-9.col-md-9.col-xs-9.psev.pad-left-ten.rbox(style='height:169px;')
					h4 Temporibus autem quibusdam et aut officiis
					| At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium </b>voluptatum deleniti atque 
					corrupti quos <b>dolores et quas molestias.</b> At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis 
					praesentium </b>voluptatum deleniti atque corrupti quos dolores et quas molestias.. At vero eos et accusamus et iusto 
					odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque  corrupti quos dolores et quas mole.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque 
					corrupti quos dolores et quas molestias. 
	.clearfix
	
	p.nspacer-big.text-center Looking for events..



	.well.redboxres2(style="height: auto;")
		form#UserLoginForm(action="/auth/password", method="post", accept-charset="utf-8", style="margin:0;")
			input(type="hidden", name="_csrf", value=token)
			.row-fluid
				.span5
					input.file_input_textbox2res(name="login", placeholder="email", maxlength="128", type="email", id="UserEmail", required="required", style="margin-bottom:0;")
				.span5
					input.file_input_textbox3res(name="password", placeholder="password", type="password", id="UserPassword", required="required", style="margin-bottom:0;")
				.right
					input.enteres(type="submit", value="ENTER")
			.hide.center2.formStatus(style="font-size:20px;")
	