extends base

append content
	include inc/flash
	.avatar.headerSpacer 
		img(src="/img/avatar2.jpg", alt="")
	.right.span13p
		.orangebox.inh
			| Create event 
			.box
			.iconbox
				img(src="/img/people.svg", alt="")
				.center event
			.iconbox
				img(src="/img/meetup.svg", alt="")
				.center meetup
			.iconbox
				img(src="/img/conference.svg", alt="")
				.center conference
			.iconbox
				img(src="/img/other.svg", alt="")
				.center other
	.avatar.redbox
		p.prof Profile name 
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a(href="", alt="", title="", class="link4")
					| Edit profile
		img(src="/img/card.svg", alt="")
		a(href="", alt="", title="", class="link4")
			| Choose your bussines card
		.headerSpacer
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a(href="", alt="", title="", class="link4")
					| Notification settings
		.clearfix
		.box2
			.left
				img(src="/img/i.svg", alt="")
			.set
				a(href="", alt="", title="", class="link4")
					| Privacy settings
		.clearfix
		a(href="/logout", class="logout") Logout
	a(href="",) 
		.span7p
			h6 Events<br /> nearby
			img(src="/img/map-icon2.svg", alt="", class="arrow")
	a(href="",)
		.span7p.yellow
			h5 All<br /> events
			img(src="/img/arrow_big.svg", alt="", class="arrow")
	.clearfix
	.bluebox
		| My events
		.right.arrange
			| Arrange by
		.clearfix
		.right
			dl.dropdown
				dt
					a(href="#", class="dropx") 
						| select
				dd
					ul
						li
							a(href="#",) Most recent to latest
						li
							a(href="#",) Latest to most recent
						li
							a(href="#",) Events name A-Z
						li.border_bottom
							a(href="#") My planned events
	.row-fluid
		.events
			.span1p
				img(src="/img/map-icon.svg", alt="",)
			.span1
				img(src="/img/default_event.svg", alt="", class="minus")
			.span8p
				h8 Temporibus autem quibusdam et aut officiis
				p.eventtext At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium</b> voluptatumdeleniti atque corrupti quos <b>dolores et quas molestias</b>
			.right_star
				img(src="/img/martini.svg", alt="", class="arrow")
			.right_star
				.image2
					img(src="/img/calendar-icony.svg", alt="", class="image2")
					h16 03.15 2013
			.right_star
				.left
					img(src="/img/clock.svg", alt="", class="arrow")
				.left.date
					| 12:00 <br /> (BST)
			.left.headerSpacer
				.left
					img(src="/img/map6.svg", alt="", class="arrow")
				.left.location
					| Oxford,
					h1 United Kingdom 
	.line
	.span8p
		a(href="/", class="link2") READ MORE >
	.clearfix
	.row-fluid
		.events
			.span1p
				img(src="/img/map-icon.svg", alt="",)
			.span1
				img(src="/img/default_event.svg", alt="", class="minus")
			.span8p
				h8 Temporibus autem quibusdam et aut officiis
				p.eventtext At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium</b> voluptatumdeleniti atque corrupti quos <b>dolores et quas molestias</b>
			.right_star
				img(src="/img/martini.svg", alt="", class="arrow")
			.right_star
				.image2
					img(src="/img/calendar-icony.svg", alt="", class="image2")
					h16 09.09 2013
			.right_star
				.left
					img(src="/img/clock.svg", alt="", class="arrow")
				.left.date
					| 13:00 <br /> (BST)
			.left.headerSpacer
				.left
					img(src="/img/map6.svg", alt="", class="arrow")
				.left.location
					| Gdynia,
					h1 Poland 
	.line
	.span8p
		a(href="/", class="link2") READ MORE >
	.clearfix
	.right
		.pagination2
			ul
				li
					a(href="/",) Prev
				li
					a(href="/",) 1
				li
					a(href="/",) 2
				li
					a(href="/", class="current") 3
				li
					a(href="/",) 4
				li
					a(href="/",) 5
				li
					a(href="/", class="disabled") ...
				li
					a(href="/",) 542
				li
					a(href="/",) Next
	.clearfix
	.bluebox
		| Events nearby
		.right.arrange
			| Arrange by
		.clearfix
		.right
			dl.dropdown
				dt
					a(href="/", class="dropx") 
						| select
				dd
					ul
						li
							a(href="/",) Most recent to latest
						li
							a(href="/",) Latest to most recent
						li
							a(href="/",) Events name A-Z
						li.border_bottom
							a(href="/") My planned events
	.row-fluid
		.events
			.span1p
				img(src="/img/map-icon.svg", alt="",)
			.span1
				img(src="/img/default_event.svg", alt="", class="minus")
			.span8p
				h8 Temporibus autem quibusdam et aut officiis
				p.eventtext At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium</b> voluptatumdeleniti atque corrupti quos <b>dolores et quas molestias</b>
			.right_star
				img(src="/img/martini.svg", alt="", class="arrow")
			.right_star
				.image2
					img(src="/img/calendar-icony.svg", alt="", class="image2")
					h16 12.12 2013
			.right_star
				.left
					img(src="/img/clock.svg", alt="", class="arrow")
				.left.date
					| XX:00 <br /> (BST)
			.left.headerSpacer
				.left
					img(src="/img/map6.svg", alt="", class="arrow")
				.left.location
					| Death Star
					h1 Imperial Property 
	.line
	.span8p
		a(href="/", class="link2") READ MORE >
	.clearfix
	.row-fluid
		.events
			.span1p
				img(src="/img/map-icon.svg", alt="",)
			.span1
				img(src="/img/default_event.svg", alt="", class="minus")
			.span8p
				h8 Temporibus autem quibusdam et aut officiis
				p.eventtext At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium</b> voluptatumdeleniti atque corrupti quos <b>dolores et quas molestias</b>
			.right_star
				img(src="/img/martini.svg", alt="", class="arrow")
			.right_star
				.image2
					img(src="/img/calendar-icony.svg", alt="", class="image2")
					h16 03.15 2013
			.right_star
				.left
					img(src="/img/clock.svg", alt="", class="arrow")
				.left.date
					| 10:00 <br /> (BST)
			.left.headerSpacer
				.left
					img(src="/img/map6.svg", alt="", class="arrow")
				.left.location
					| London,
					h1 United Kingdom 
	.line
	.span8p
		a(href="/", class="link2") READ MORE >
	.clearfix
	.row-fluid
		.events
			.span1p
				img(src="/img/map-icon.svg", alt="",)
			.span1
				img(src="/img/default_event.svg", alt="", class="minus")
			.span8p
				h8 Temporibus autem quibusdam et aut officiis
				p.eventtext At vero eos et accusamus et iusto odio dignissimos ducimus qui <b>blanditiis praesentium</b> voluptatumdeleniti atque corrupti quos <b>dolores et quas molestias</b>
			.right_star
				img(src="/img/martini.svg", alt="", class="arrow")
			.right_star
				.image2
					img(src="/img/calendar-icony.svg", alt="", class="image2")
					h16 03.15 2013
			.right_star
				.left
					img(src="/img/clock.svg", alt="", class="arrow")
				.left.date
					| 10:00 <br /> (BST)
			.left.headerSpacer
				.left
					img(src="/img/map6.svg", alt="", class="arrow")
				.left.location
					| London,
					h1 United Kingdom 
	.line
	.span8p
		a(href="/", class="link2") READ MORE >
	.clearfix
	.right
		.pagination2
			ul
				li
					a(href="/",) Prev
				li
					a(href="/",) 1
				li
					a(href="/",) 2
				li
					a(href="/", class="current") 3
				li
					a(href="/",) 4
				li
					a(href="/",) 5
				li
					a(href="/", class="disabled") ...
				li
					a(href="/",) 542
				li
					a(href="/",) Next
	.clearfix