!!! 5
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8;")
		meta(name="_csrf", content="#{token}")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title EventMost - #{title}
		link(href="/favicon.ico", type="image/x-icon", rel="icon")
		link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
		
		//- all css goes here
		block css
			link(rel="stylesheet", href="/v2/css/bootstrap.min.css")
			link(rel="stylesheet", href="/v2/css/bootstrap-eventmost.css")
			link(rel="stylesheet", href="/v2/css/toggle-switch.css")
			
			//- Temporary hack until BS3.0.1 comes out.. 
			style.
				.modal-open, .modal-open .navbar-fixed-top {
					margin-right: auto !important;
				}

	body(ng-app="eventMost")
		//- main container
		block container
		header
			.container
				.pull-left.col-md-4.col-xs-4
					a(href="/")
						img.nspacer.logos(src="/images/logo.svg")
				
				if loggedIn == false
					.pull-right.logo-right
							//- Only displayed when users are guests
							button.btn.btn-warning.pb.pull-right(type='submit', data-toggle="modal", href="#signModal")
								b SIGN UP
							button.btn.btn-default.pb.pull-right(type='submit', data-toggle="modal", href="#loginModal", style="margin-right:-4px;")
								b LOGIN
				else
					//- Only displayed when user is logged in
					.pull-right.col-md-2.col-xs-2
						a.image(href="/conversations")
							if user.mailboxUnread == 0
								img.mail.pull-right.img-mess-smart(src="/images/message-icon.svg", alt="")
							else
								img.img-mess-smart.img-responsive(src="/img/messages.svg") 
							.row-fluid.minus2
								.message-nr
									h20= user.mailboxUnread
					.col-md-6.col-xs-6.pull-right
						.pull-right.nspacer-small
							a.font-e.link-purple.header-links(href="/") Home
							|  | 
							a.font-e.link-purple.header-links(href="/event/add") Create event
							if user.admin
								|  | 
								a.font-e.link-purple.header-links(href="/admin") Administration
						.clearfix
						.nspacer.hide-mini
							form(method="GET", accept-charset="utf-8", action="/search/people/")
								input.gonew2.pull-right.header-links(type="submit", value="GO", style="width:10%;")
								input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", name="q", placeholder="search for people on EventMost", style="width:75%;", value= typeof search !== "undefined" ? search.query : null)
			
		.container
			block content
			.row
				footer.col-xs-12.col-md-12.col-sm-12.col-lg-12
					.text-center Copyright © 2013 <b>EventMost</b> | 
						a.link-white(href="/contact") Contact us
			
			if !loggedIn
				include modals/signup
			
		//- usually globally persistent
		block js
			script(src="/v2/js/gan.js", async="true")
			script(src="/v2/js/jquery.min.js", defer="true")
			script(src="/v2/js/bootstrap.min.js", defer="true")
			script(src="/v2/js/angular.min.js", defer="true")
			script(src="/v2/js/angular-eventmost.js", defer="true")
			script(src="/js/jquery-ui-1.10.3.custom.min.js", defer="true")
			script(src="/js/jquery.ui.touch-punch.min.js", defer="true")
			script(src="/js/jquery.tinycarousel.min.js", defer="true")
			script(src="/js/tinycarousel2.js", defer="true")
			script(src="/js/over-box.js", defer="true")
			if !loggedIn
				script(src="/v2/js/signin.js", defer="true")
				
		//- page-specific
		block addonjs
