#plane{
position:absolute; 
top:-80px; 

background-repeat: no-repeat; 
display:block;
height:100px; 
width:350px;
margin-left: 100px;
}
#plane2{
position:absolute; 
top:-80px; 

background-repeat: no-repeat; 
display:block;
height:100px; 
width:350px;
margin-left: 100px;
}
#plane3{
position:relative; 
top:-80px; 

background-repeat: no-repeat; 
display:block;
height:100px; 
width:350px;
margin-left: 100px;
}
