@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,400,700,700italic,900,400italic,300);

body {
	background-color: #542437;
	font-family: 'Raleway', Arial, sans-serif;
}
h1 {
	color: #ecd178;
}

header {
	background-color: #ecd178;
	height: 145px;
}

header .signin {
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
}

header .menu {
	font-size: 18px;
	text-align: right;
}

.headerSpacer {margin-top: 10px;}
.headerspacer2 {margin-top: 30px; padding-left-left: 15px;}
.spacer {margin-top: 20px;}
.minus {margin-left: -10px;}
.minus2 {margin-top: -37px; width: 130px;}
.smallslid {margin-left: 30px;}
.slid {margin-bottom: 10px;}
.bigslid {margin-left: 140px;}
.bigslid h5 {font-size: 30px; font-weight: 700;}
.minus2 h5 {font-size: 30px; font-weight: 400; color: #542437; position: absolute; top: 84px; left:-15px;}
.minus2 h15 {font-size: 25px; font-weight: 400; color: #ecd077; position: absolute; top: 92px; left:83px;}
p.small {font-size: 17px; font-weight: 400; margin-left: -20px; }

footer {
	background-color: #ecd178;
	height: 277px;
	color: #542437;
	font-size: 12px;
}
footer .blocks {
	padding: 15px;
	width: 22%;
	display: block;
}
footer .copy {
	font-size: 14px;
	margin-top: 15px;
}
.left {float: left;}
.right {float: right;}
.leftapp {
	float: left;
	padding-left: 48px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.right_star {
	float: right;
	padding-top: 20px;
	padding-right: 35px;
	height: 17px;
	color: #ecd077;
}
.land {
	width: 26% !important;
	float: right;
}
.right_votes {
	text-align: right;
	color: #ecd077;
	font-size: 18px;
	font-weight: 700;
	margin-top: 3px;
	width: 20%;
	float: right;
}
.well.redbox {
	border-radius: 0px;
	min-width: 100px;
	height: 82px;
	border: none;
}
.well2.redbox {
	border-radius: 0px;
	min-width: 158px;
	height: 97px;
	border: none;
	padding-top: 7px;
	font-size:40px;
	font-weight: 100;
	text-align: center;
	text-transform: none;
}
.well2.yellow {
	border-radius: 0px;
	min-width: 108px;
	height: 173px;
	border: none;
	padding-top: 60px;
	font-size:40px;
	font-weight: 100;
	text-align: center;
	text-transform: none;
}
.well3 {
	border-radius: 0px;
	min-width: 145px;
	border: none;
	font-size:40px;
	padding: 10px;
	padding-bottom: 7px;
	padding-left: 40px;
	font-weight: 100;
	text-align: left;
	text-transform: none;
}
.well4 {
	border-radius: 0px;
	min-width: 138px;
	border: none;
	font-size:40px;
	padding: 10px;
	padding-bottom: 7px;
	padding-left: 40px;
	font-weight: 100;
	text-align: left;
	text-transform: none;
	margin-left: -18px;
	height: 99px;
}
.well2.yellowborder {
	border-radius: 0px;
	min-width: 108px;
	height: 173px;
	border: none;
	font-size:40px;
	font-weight: 100;
	text-align: center;
	text-transform: none;
	background-color: none;
    border: 10px solid #ecd077 !important;
    margin-left: 10px !important;
}
.redbox {
	background-color: #c22844;
	text-transform: uppercase;
	color: #542437;
	margin-bottom: 10px;
}
.purpleline{
	width: 6px;
	height: 155px;
	margin-left: 20px;
	margin-top: -10px;
}
.in.orangebox {
	width: 47%;
	float: left;
}
.orangebox {
	background-color: #d95a42;
	color: #542437;
	font-weight: 100;
	font-size: 86px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: center;
	width: 100%;
}
.bluebox {
	background-color: #53777a;
	color: #542437;
	font-weight: 100;
	font-size: 86px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: left;
	padding: 20px;
}
.redbox h6 {
	color: inherit;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: -12px;
	padding-bottom: 10px;
}
.redbox h4 {
	color: inherit;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: -12px;
	padding-bottom: 3px;
}
.sociallogin img {
	margin: auto;
	vertical-align:middle;
	text-align:center;
	float: none;
	display: block;
}
.logo {
	padding-top: 10px;
	padding-left: 15px;
}
.arrow {
	padding-bottom: 26px;
	margin: auto;
	vertical-align:middle;
	text-align:center;
	float: none;
	display: block;
}
.arrow2 {
	padding-bottom: 6px;
	margin: auto;
	vertical-align:middle;
	text-align:center;
	float: none;
	display: block;
}
.image {
	padding-bottom: 10px;
	vertical-align:middle;
	text-align:left;
	float: none;
	display: block;
	position: relative;
	color: #ecd077;
}
.image2 {
	width: 55px;
	vertical-align:middle;
	text-align:left;
	float: none;
	display: block;
	color: #542437;
	position: relative;
}
a.link1{
	text-decoration: none;
	color: #542437;
}
a.link1:hover {
	text-decoration: none;
	color: #53777a;
}
a.link2{
	text-decoration: none;
	padding-left: 6px;
	font-weight: 700;
	font-size: 14px;
	color: #ecd077;
}
a.link2:hover {
	text-decoration: none;
	color: #53777a;
}
a.link4{
	text-decoration: none;
	color: #542437;
}
a.link4:hover {
	text-decoration: none;
	color: #ecd077;
}
a.link5{
	text-decoration: none;
	color: #542437;
}
a.link5:hover {
	text-decoration: none;
	color: #542437;
}
.login {
	color: #542437;
}
input.file_input_textbox {
	color:#542437;
	line-height: 39px;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
input.file_input_textbox2 {
	color:#ecd077;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	margin-top:15px; 
	line-height: 39px;
	background:url("../img/email-icon.svg")no-repeat scroll 15px 15px;
	background-color: #542437;
	padding-left: 50px;
	max-width: 429px;
}
input.file_input_textbox3 {
	color:#ecd077;
	line-height: 39px;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	margin-top:15px; 
	background:url("../img/pass-icon.svg")no-repeat scroll 15px 15px;
	background-color: #542437;
	padding-left: 50px;
	max-width: 429px;
	margin-left: 19px;
}
input.file_input_textbox4 {
	color:#542437 !important;
	margin-left: 10px;
	line-height: 20px !important;
	width: 540px !important;
	font-size: 18px;
	font-weight: 100;
	border: none;
	float: right;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    height: 24px !important;
    padding-left: 10px;
}
input.file_input_textbox5 {
	color:#ecd077;
	line-height: 39px;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-radius: 0px;
	margin-top:16px; 
	background-color: #542437;
	width: 102% !important;
	margin-left: 15px;
	height: 67px !important;
}
input.file_input_textbox6 {
	color:#ecd077;
	line-height: 39px;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-radius: 0px;
	margin-top:16px; 
	background-color: #542437;
	width: 100%;
	margin-left: 15px;
	height: 67px !important;
}
input.file_input_textbox7 {
	color:#ecd077;
	line-height: 39px;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-radius: 0px;
	margin-top:16px; 
	background-color: #542437;
	margin-left: 15px;
	height: 67px !important;
	width: 106% !important;
}
input[type="search"]::-webkit-input-placeholder {
	color:#542437 !important;
	height: 24px !important;
	line-height: 20px;
}
input[type="search"]:focus{
  	color:#542437 !important;
	height: 24px !important;
	line-height: 20px;
}
input[type="text"]::-webkit-input-placeholder {
	color:#542437 !important;
	line-height: 39px;
	background-color: #fff !important;
		padding-left: 6px !important;
}
input[type="text"]:focus{
  	color:#542437 !important;
	line-height: 39px;
	background-color: #fff !important;

}

input[type="search"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
	color:#542437 !important;
}
.inh {
	height: 217px;
}
.gonew {
	background-color: #c02942;
	border:none;
	height: 58px;
	width: 130px !important;
	float:right;
	font-size: 30px;
	font-weight: 200;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.gonew2 {
	background-color: #c02942;
	border:none;
	height: 40px;
	width: 100px !important;
	float:right;
	font-size: 18px;
	font-weight: 200;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.enter {
	background-color: #542437;
	border:none;
	height: 57px;
	width: 130px !important;
	float:right;
	font-size: 30px;
	font-weight: 700;
	border-radius: 5px;
	color: #ecd077;
	margin-top:15px; 
}
.logout {
	background-color: #542437;
	border:none;
	font-size: 30px;
	border-radius: 5px;
	color: #ecd077;
	margin-top:15px; 
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	font-weight: 100;
	height: 38px;
	width: 70%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
}
.logout:hover {
	color: #ecd077;
}
.span10p h1 {
	font-weight: 400;
	font-size: 80px;
}
.span7p h5 {
	padding-top: 10px;
	font-weight: 100;
	font-size: 80px;
}
.span7p h6 {
	padding-top: 10px;
	font-weight: 100;
	font-size: 80px;
	padding-bottom: 13px;
}
h7 {
	font-weight: 400;
	font-size: 35px;
	color: #ecd077;
	padding-left:10px;
}
h8 {
	font-weight: 700;
	font-size: 14px;
	color: #ecd077;
}
h15 {
	position: absolute;
	top:15px;
	left: 11px;
	width: 100%;
	font-size: 24px;
}
h16 {
	position: absolute;
	top:15px;
	left: 0px;
	font-size: 14px;
	text-align: center;
}
.eventtext {
	font-size: 14px;
	line-height: 18px;
	color: #ecd077;
	padding-top: 7px;
	font-weight: 200;
}

/* Tiny Carousel */

#slider1 { height: 1%; overflow:hidden; float: left; padding-top: 35px;}
#slider1 .viewport { float: left; width:770px; height: 230px; overflow: hidden; position: relative; padding-left: 30px; margin-left: 30px;}
#slider1 .buttons { background:url("../img/buttons.svg") no-repeat scroll 0 0 transparent; display: block; margin: 40px 10px 0 30px;  text-indent: -999em; float: left; width: 70px; height: 70px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0px -70px; margin: 53px 0 0 10px; height: 65px;  }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 850px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 40px 0 0; padding: 1px; width: 240px; color:#ecd077; font-size: 18px;}

/**** DROPDOWN ****/
        .arrange {font-size: 25px; margin-top: -10px; margin-right: 57px; font-weight: 400;}
        .dropdown {margin-top: -74px; margin-right: -15px;}
        .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px;  z-index: 799;}
        .dropdown dd { position:relative; }
        .dropdown a, .dropdown a:visited { color:#53777a; text-decoration:none; outline:none; font-size: 14px;}
        .dropdown a:hover { color:#53777a;  }
        .dropdown dt a:hover {  color:#53777a;}
        .dropdown dt a {background-image: url('../img/drop.svg') ; display:block; 
                      width:190px; height: 22px; background-color: #542437;}
        .dropdown dt a .dropx {cursor:pointer; display:block; padding:5px; color: #53777a; padding-left: 10px; padding-top: 15px;}
        .dropdown dd ul {   color:#53777a; display:none;
                          left:-4px; padding:0px; position:absolute; top:2px; width:auto; min-width:214px; list-style:none; }
        .dropdown span.value { display:none;}
        .dropdown dd ul li a { padding:5px; display:block; padding-left: 10px; border: 4px solid #53777a; border-bottom: none; background:#542437 none repeat scroll 0 0;}
        .dropdown dd ul li a:hover { background-color:#ecd077; color:#542437;}
        .dropdown .border_bottom a {border-bottom: 4px solid #53777a !important;}
        .dropx {cursor:pointer; display:block; padding:5px; color: #53777a; padding-left: 10px; padding-top: 7px;}

/**** DROPDOWN ****/

/**** checkbox1 ****/

p.check > input
{
	padding: 0;
	margin: 0;
	height: 50px;
	width: 55px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p.check > label 
{ 
	line-height: 50px; 
	color: #fff; 
	padding: 0 0 0 50px;
	padding-top: 35px;
	-moz-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	transition: color 1s ease; 
}
fieldset[dir=rtl] p.check > label {
	padding: 0 0px 0 0;
}

p.check:not(#foo) > input + label
{
	background: url('../img/check.svg');
	height: 18px !important;
	width: 5px;
	margin-left: 30px;
}

/* Checked styles */
p.check:not(#foo) > input[type=checkbox]:checked + label 						{ background-position: 0 50px; }
p.check:not(#foo) > input[type=checkbox]:hover:checked + label,
p.check:not(#foo) > input[type=checkbox]:focus:checked + label,
p.check:not(#foo) > input[type=checkbox]:checked + label:hover,
p.check:not(#foo) > input[type=checkbox]:focus:checked + label 					{ background-position: 0 -100px; }

/* Hover & Focus styles */
p.check:not(#foo) > input[type=checkbox]:hover + label,
p.check:not(#foo) > input[type=checkbox]:focus + label,
p.check:not(#foo) > input[type=checkbox] + label:hover 							{ background-position: 0 0px; }

/**** checkbox1 ****/

#file_browse_wrapper {
	margin-left: 10px;
    width: 196px;
    height: 173px;
    background: url('../img/browse_button.svg') 0 0 no-repeat;
    border:none;
    overflow:hidden;
    cursor: pointer !important;
}
#file_delete_wrapper {
	margin-left: 10px;
    width: 196px;
    height: 173px;
    background: url('../img/delete_button.svg') 0 0 no-repeat;
    border:none;
    overflow:hidden;
    cursor: pointer !important;
}
#file_upload_wrapper {
	margin-left: 10px;
    width: 196px;
    height: 173px;
    background: url('../img/upload_button.svg') 0 0 no-repeat;
    border:none;
    overflow:hidden;
    cursor: pointer !important;
}
#file_browse_wrapper:hover {
    cursor: pointer !important;
}
#file_browse{
    opacity:0.0;
     width: 196px;
    height: 173px;
    cursor: pointer !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


.row-fluid .span2p {
    width: 11%;
    *width: 11%;
 }

.row-fluid .span10p {
    width: 86.29%;
    *width: 86.29%;
}

.row-fluid .span1p {
    width: 2%;
    *width: 2%;
}

.row-fluid .span8p {
    width: 40.9574%;
    *width: 40.9574%;
    margin-left: 14px;
}
.row-fluid .span12p {
    width: 100%;
    margin-top: 25px;
}

.span13p{
	width: 80.6%;
	margin-left: 0px !important;
	margin-top: 8px;
}
.span7p{
	width: 40.34%;
	margin-left: 0px !important;
	margin-top: -3px;
	text-align: center;
	float: left;
	color: #ecd077;
}
.yellow {
	background-color: #ecd077;
	color:#542437 !important;
}
.orange {
	background-color: #d95a42;
	color:#542437 !important;
}
.events {
  	padding-top: 20px;
  	margin-bottom: 10px;
  	height: auto;
  }
.line {
	background-color: #ecd077;
	height: 1px;
	margin-bottom: 5px;
}

.pagination2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: -4px;
}
.pagination2 ul {
  background: none;
  color: #ecd077;
  vertical-align: top;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination2 li {
  list-style-type:none; 
  display:inline; 
  padding-bottom:1px;
  padding-right: 0px;
  vertical-align: top;
  color: #ecd077;
}

.pagination2 a {
  float: left;
  color: #ecd077;
  padding: 0 4px;
  line-height: 34px;
  text-decoration: none;
  border: none;
  border-left-width: 0;
}
.pagination2 a:hover {
color: #53777a;
}

.pagination2 .disabled,
.pagination2 .disabled a,
.pagination2 .disabled a:hover {
  color: #ecd077 !important;
  background-color: transparent;
  cursor: default;
}

.pagination2 .current,
.pagination2 .current a,
.pagination2 .current a:hover {
  color: #53777a !important;
  background-color: transparent;
  cursor: default;
}
.avatar {
	float: left;
	width:18.6%;
	margin-top: 8px;
	text-align: center;
	text-transform: none;
	font-weight: 200;
	margin-right: 8px;
	line-height: 24px;
	font-size: 15px;
}
.avatar .redbox {
	min-height: 45px;
}
.iconbox {
	font-size: 30px;
	min-width: 60px;
	display: inline-block;
	min-height: 50px;
}
.prof {
	font-size: 30px;
	color: #542437;
	text-transform: none;
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 0px;
}
.center {
	text-align: center;
}
.box2 {
	padding-left: 5px;
}
.set {
	padding-left: 10px;
	font-size: 19px;
	float: left;
	margin-bottom: 10px;
}
.date {
	font-size: 20px;
	font-weight: 700;
	padding-left: 4px;
}
.location {
	color: #ecd077;
	font-size: 25px;
	font-weight: 700;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-top: 8px;
}
.location h1 {
	font-weight: 700;
	font-size: 14px;
	margin-top: -2px;
}

