@import url(http://fonts.googleapis.com/css?family=Raleway:400,500.600);

body {
	background-color: #542437;
	font-family: 'Raleway', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #ecd178;
}

header {
	background-color: #ecd178;
	height: 145px;
}

header .signin {
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
}

header .headerSpacer {
	margin-top: 10px;
}

footer {
	background-color: #ecd178;
}
footer .copy {
}

.left {
	float: left;
}

.right {
	float: right;
}
.well.redbox {
	border-radius: 0px;
	width:100px;
	height: 82px;
	border: none;
}
.redbox {
	background-color: #c22844;
	text-transform: uppercase;
	color: #542437;
	margin-bottom: 10px;
}
.redbox h6 {
	color: inherit;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: -12px;
}

.spacer {
	margin-top: 20px;
}

.sociallogin img {
	margin: auto;
	vertical-align:middle;
	text-align:center;
	float: none;
	display: block;
}
.logo {
	padding-top: 10px;
	padding-left: 15px;
}
.arrow_redbox {
	padding-top: 2px;
	padding-left: 30px;
	padding-bottom: 26px;
}
a.link1{
	text-decoration: none;
	color: #542437;
}

a.link1:hover {
	text-decoration: none;
}

.login {
	color: #542437;
}

input.file_input_textbox {
	color:#542437;
	font-size: 32px;
	font-weight: 100;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.gonew {
	background-color: #c02942;
	border:none;
	height: 58px;
	width: 130px !important;
	float:right;
	font-size: 30px;
	font-weight: 200;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.span10p h1 {
	font-weight: 400;
	font-size: 80px;
}

h7 {
	font-weight: 400;
	font-size: 35px;
	color: #ecd077;
	padding-left:10px;

}

/* Tiny Carousel */

#slider1 { height: 1%; overflow:hidden; float: left; padding-top: 55px;}
#slider1 .viewport { float: left; width:770px; height: 270px; overflow: hidden; position: relative; padding-left: 30px; margin-left: 30px;}
#slider1 .buttons { background:url("../img/buttons.svg") no-repeat scroll 0 0 transparent; display: block; margin: 40px 10px 0 30px;  text-indent: -999em; float: left; width: 70px; height: 70px; overflow: hidden; position: relative; }
#slider1 .next { background-position: 0px -70px; margin: 53px 0 0 10px; height: 65px;  }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 850px; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 40px 0 0; padding: 1px; width: 230px; color:#ecd077; font-size: 18px;}

.slid {margin-bottom: 10px;}
 .row-fluid .span2p {
    width: 11%;
    *width: 11%;
  }

    .row-fluid .span10p {
    width: 86.29%;
    *width: 86.29%;
  }