body {
	background: #CCCCCC;
}

.well {
	min-height: 20px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	outline: 1px #e3e3e3;
	border: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.moveLeft {
	margin-left: 20px;
}
.moveRight {
	margin-right: 20px;
}
.moveTop {
	margin-top: 20px;
}
.moveBottom {
	margin-bottom: 20px;
}

.bgTopLine {
	background: #464646;
	min-width: 940px;
	width: 100%;
	height: 100px;
	position:absolute;
	top:0;
	left:0;
	overflow:visible;
	z-index:1;
	outline: 1px solid #000;
}
.bgMiddleLine {
	background: #EB005A;
	min-width: 940px;
	width: 100%;
	height: 30px;
	position:absolute;
	top:100px;
	left:0;
	overflow:visible;
	z-index:1;
}
.containerTopMargin {
	position:relative;
	z-index:0;
	margin-top:130px;
}
.container {
	position:relative;
}

.content {
	background: #EBEBEB;
	box-shadow: 0px 0px 3px #888;
	webkit-box-shadow: 0px 0px 3px 3px #888;
	moz-box-shadow: 0px 0px 3px 3px #888;
	outline: 1px solid #AAA;
	border-radius: 0px; /*0px 0px 4px 4px*/
}

.sitecontent {
	position: absolute;
	top:130px;
	left:0;
}

.siteHeader .btn-link, .siteHeader .pull-right span {
	color: #FFF;
	text-shadow:0 1px 1px rgba(0,0,0,0.75);
}
.siteHeader .pull-right {
	position: absolute;
	top: 5px;
	right: 5px;
}
.siteHeader header {
	margin-top: 25px;
}
.siteHeader header h1 {
	font-size: 4em;
	color: #FFF;
}
.siteHeader header h1 span {
	font-weight: normal;
	color: #EB005A;
}
.siteHeader header small {
	color: #FFF;
	font-size: 2em;
}

footer {
	margin-top: 35px;
	background: #4F4F4F;
	box-shadow: inset 0px 3px 5px -2px #333, inset 0px -3px 5px -2px #333;
	webkit-box-shadow: inset 0px 3px 5px -2px #333, inset 0px -3px 5px -2px #333;
	moz-box-shadow: inset 0px 3px 5px -2px #333, inset 0px -3px 5px -2px #333;
	outline: 0px solid #000;
	padding-top: 10px;
	text-shadow:0 1px 1px rgba(0,0,0,0.75);
}
footer a {
	color: #EEE;
}
footer a:hover {
	color: #EEE;
	text-decoration:underline;
}

footer .muted {
	color: #EEE;
}

legend, .page-header {
	border-bottom: 1px solid #CCC;
}

.btn {
	border-radius:1px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 1px;
	outline: 1px solid #DDD;
}

.form-horizontal-short label.control-label {
	width: 125px;
}
.form-horizontal-short .controls {
	margin-left: 145px;
}

form, .noBottomMargin, .noBottomMargin input {
	margin-bottom: 0px !important;
}

input[type="button"].btn-red, input[type="submit"].btn-red, button.btn-red {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #EB005A;
	background-image: -moz-linear-gradient(top,#EB005A,#EE005A);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#EB005A),to(#EE005A));
	background-image: -webkit-linear-gradient(top,#EB005A,#EE005A);
	background-image: -o-linear-gradient(top,#EB005A,#EE005A);
	background-image: linear-gradient(to bottom,#EB005A,#EE005A);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}