extends ../responsive

include ../event/inc/item

append addonjs
	script(src="/js/slidenav2.js?v={versionHash}" defer)
	script(src="/js/vendor/jquery.dotdotdot.js?v={versionHash}" defer)
	script(src="/js/dot-itme-text.js?v={versionHash}" defer)
	if (typeof nearby !== "undefined" && nearby)
		script(src="/js/angular-nearEvents.js?v=#{versionHash}" defer)

append contentemp
	include page