.nspacer

.col-md-6.col-xs-6.col-sm-6
	.bg-yellow.font-bigs2.center.deifer-font2
		= ev.name
	.font-lebig.center.setting-line.nspacer.deifer-font
		| Thanks to our sponsor:
.col-md-6.col-xs-6.col-sm-6
	img.img-responsive(src= ev.sponsorLayout.sponsor1 ? ev.sponsorLayout.sponsor1.url : "/images/sponsor-logo.svg")

.clearfix
.nspacer