.nspacer

.col-md-6.col-xs-6.col-sm-6
	.bg-yellow.font-bigs2.center.deifer-font2
		= ev.name
	.font-lebig.center.setting-line.nspacer.deifer-font
		| Thanks to our sponsor:
.col-md-6.col-xs-6.col-sm-6
	img(src="/images/sponsor-logo.svg", alt="", class="img-responsive")

.clearfix
.nspacer