.nspacer

.col-md-12.col-xs-12.col-sm-12
	.bg-yellow.font-bigs2.center.deifer-font2
		= ev.name

.clearfix
.nspacer-big

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src= ev.sponsorLayout.sponsor1 ? ev.sponsorLayout.sponsor1.url : "/images/sponsor-logo.svg")

.col-md-4.col-xs-4.col-sm-4
	.font-lebig.center.setting-line.nspacer.deifer-font.and
		| Thanks to our sponsors:

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src= ev.sponsorLayout.sponsor2 ? ev.sponsorLayout.sponsor2.url : "/images/sponsor-logo.svg")

.clearfix
.nspacer