.nspacer

.col-md-12.col-xs-12.col-sm-12
	.bg-yellow.font-bigs2.center.deifer-font2
		= ev.name
	.font-lebig.center.setting-line.nspacer.deifer-font
		| Thanks to our sponsors:

.clearfix
.nspacer-big

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src="/images/sponsor-logo.svg")

.col-md-4.col-xs-4.col-sm-4
	.font-lebig.center.setting-line.nspacer.deifer-font.and
		| and

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src="/images/sponsor-logo.svg")

.clearfix
.nspacer