.nspacer

.col-md-12.col-xs-12.col-sm-12
	.bg-yellow.font-bigs2.center.deifer-font2.font-exception
		= ev.name
	.font-lebig.center.setting-line.nspacer.deifer-font.font-exception
		| Thanks to our sponsors:

.clearfix
.nspacer-big

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src=ev.avatar.url)

.col-md-4.col-xs-4.col-sm-4
	.font-lebig.center.setting-line.nspacer.deifer-font.and.font-exception
		| Thanks to <br />our <br />sponsor:

.col-md-4.col-xs-4.col-sm-4
	img.img-responsive(src= ev.sponsorLayout.sponsor1 ? ev.sponsorLayout.sponsor1.url : "/images/sponsor-logo.svg")

.clearfix
.nspacer