extends ../responsive

include inc/message
include inc/card
include inc/savedProfile

block content
	include navbar
	
	.clearfix
	
	//- end inbox title plus buttons
	
	.nspacer

	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Private messages
		.line-purple

		//- guest speakers
	.col-md-12.col-xs-12.col-sm-12.hide-mini3-except-smart
	if topics.length > 2
		//| Needs new page
	
	if (topics.length > 0)
		+message(topics[0])
		if topics.length > 1
			.nspacer
			+message(topics[1])
		if topics.length > 2
			a(href="/inbox/messages", style="margin-left:30px;") #{topics.length-2} more recent conversations
		// Maybe we should have something like: a(href='inbox/messages') Click to view all
	else
		p.text-center No Private messages
	
	//- end guest speakers

	.center(style='height:35px;')
		ul.pagination
			li
				a(href='#') «
			li.active
				a(href='#') 1
			li
				a(href='#') »

	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Business cards received
		.line-purple

	.clearfix
	.nspacer

	//- business
	
	if (user.receivedCards.length == 0)
		p.text-center No cards received
	.pull-left
		for card in user.receivedCards
			+card(card)	

	.clearfix
	.nspacer-medium
	if (user.receivedCards.length > 2)
		//Link to view all
	.center(style='height:35px;')
		ul.pagination
			li
				a(href='#') «
			li.active
				a(href='#') 1
			li
				a(href='#') »
	.clearfix
	//- end business
	
	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Those who saved your profile
		.line-purple
	.clearfix
	.nspacer

	//- saved
	if (savers.length == 0)
		p.text-center No one has saved your profile yet.
		.clearfix
		.nspacer

	.col-md-12.col-xs-12.col-sm-12
		.center
			for saver in savers
				+savedProfile(saver)
		.clearfix
		.nspacer
	
	.center(style='height:35px;')
		ul.pagination
			li
				a(href='#') «
			li.active
				a(href='#') 1
			li
				a(href='#') »
	.clearfix

	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Public messages
		.line-purple
	.clearfix
	.nspacer
	
	//What are public messages?
	p.text-center No Public Messages.
	.clearfix
	.nspacer