extends ../responsive

include inc/card

block content
	include navbar
	
	.clearfix
	.nspacer
	
	//- business
	
	if (user.receivedCards.length == 0)
		h3.text-center No cards received
	
	for card in user.receivedCards
		+card(card)
		img.col-sm-4.col-xs-12.col-md-4.col-lg-4(src="/businesscards/"+card._id+".png")

	
	//- end business
	.clearfix