extends ../responsive

include inc/card

block content
	include navbar
	
	.clearfix
	.nspacer
	
	//- business
	
	if (user.receivedCards.length == 0)
		h3.text-center No cards received
	.pull-left
		for card in user.receivedCards
			+card(card)
	
	//- end business
	.clearfix