extends ../responsive

block content
	include navbar
	
	.nspacer
	
	for topic in topics
		.col-md-2.col-xs-2.col-sm-2
			.font-e1
				| #{topic.users[1].getName()}
				img(src=topic.users[1].avatar, alt="", class="circularespond img-responsive")
		.col-md-10.col-xs-10.col-sm-10.nspacer-bigger
			.font-e1.bigger-pad-left
				| #{topic.name}
			.nspacer
			.pull-left
				img.pull-left(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| #{topic._id}
		.clearfix
		.nspacer
		.col-md-2.col-xs-2.col-sm-2
			.font-e1
				| Guest speaker
			img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")
		.col-md-10.col-xs-10.col-sm-10.nspacer-bigger
			.font-e1.bigger-pad-left
				| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
			.nspacer
			.pull-left
				img.pull-left(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
		.clearfix
		.nspacer
	.clearfix