extends ../responsive

include inc/message

block content
	include navbar
	
	.nspacer
	
	for message in locals.messages
		+message(message)
	
	if (locals.messages.length == 0)
		p.text-center.lead No Private Messages
	
	.clearfix