extends ../responsive

include inc/savedProfile

block content
	include navbar
	
	.nspacer
	//- saved
	.col-md-12.col-xs-12.col-sm-12
		.center
			for profile in user.savedProfiles
				-var i = 0;
				
				+savedProfile(profile)
	
	if (user.savedProfiles.length == 0)
		p.text-center.lead No one has saved your profile yet.
		.clearfix
		.nspacer
	
	.clearfix
