extends ../responsive

include inc/savedProfile

block content
	include navbar
	
	.nspacer
	//- People who saved your profile
	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Those who saved your profile
		.line-purple
	.clearfix
	.nspacer
	.center
		for saver in profileSavers
			+savedProfile(saver)
	if (profileSavers.length == 0)
		b No Saved Profiles.
	.clearfix
	.nspacer-big
	//- Your Saved Profiles
	.col-md-12.col-xs-12.col-sm-12
		.font-tw
			b Profiles you saved
		.line-purple
	.clearfix
	.nspacer
	.center
		for profile in user.savedProfiles
			+savedProfile(profile)
	if (user.savedProfiles.length == 0)
		b No Saved Profiles.
		.clearfix
		.nspacer
	
	.clearfix
