extends ../responsive

block content
	include navbar
	
	.nspacer
	//- saved
	.col-md-12.col-xs-12.col-sm-12
		.center
			for profile in user.savedProfiles
				-var i = 0;
				
				.inline
					.div
						img(src= profile.avatar.length > 0 ? profile.avatar : "/images/default_speaker.svg", alt="", class="circularespond",)
					.font-s
						a(href="/user/"+user._id): b= profile.getName()
						br
						if (profile.company && profile.position)
							= profile.company
							| , 
							= profile.position
						- else if (profile.company)
							= profile.company
						- else if (profile.position)
							= profile.position
	if (user.savedProfiles.length == 0)
		| No one has saved your profile yet.
		.clearfix
		.nspacer
	
	.clearfix
