<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8;">
<meta name="_csrf" content="undefined">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inbox</title>
<link href="/favicon.ico" type="image/x-icon" rel="icon">
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="stylesheet" href="css/all_combined.min.css?v=057d662">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="css/bootstrap-eventmost.css?v=057d662">




</head>
<body class="ng-scope" ng-app="eventMost" onLoad="initialize()">
<header id="header">
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-3 col-xs-3"><a href="/"><img src="images/logo.svg" class="nspacer logos"></a></div>
      <div ng-controller="inboxNotifications" class="pull-right width7 ng-scope"><a href="/events/my" class="image"><img src="images/small-dropbox-icon.svg" alt="" style="width:100%;" class="mail pull-right img-mess-smart"></a>
        <div class="font-header-icon center drop-icon-text">Event <br>
          dropbox</div>
      </div>
      <div ng-controller="inboxNotifications" class="pull-right width7 ng-scope"><a href="/user/540657ba0fcc62e91708499b" class="image"><img src="images/my-profile-icon.svg" alt="" style="width:100%;" class="mail pull-right img-mess-smart"></a>
        <div class="font-header-icon">My profile</div>
      </div>
      <div ng-controller="inboxNotifications" class="pull-right width7 ng-scope"><a href="/inbox" class="image"><img src="images/message-icon.svg" alt="" style="width:100%;" class="mail pull-right img-mess-smart">
        <div class="row-fluid minus2">
          <div class="message-nr">
            <h20 class="ng-binding" ng-bind="notifications" ng-init="notifications = 0">0</h20>
          </div>
        </div>
        </a>
        <div class="font-header-icon">Inbox</div>
      </div>
      <div class="col-md-6 col-xs-6 pull-left pad-header-se">
        <div class="pull-left nspacer-small"><a href="/" class="font-e link-purple header-links">Home</a> | <a href="/event/add" class="font-e link-purple header-links">Create event</a></div>
        <div class="clearfix"></div>
        <div class="nspacer hide-mini">
          <form class="ng-pristine ng-valid" method="GET" accept-charset="utf-8" action="/search/">
            <input name="q" placeholder="Search for Events or People on EventMost" style="width:75%;" class="pull-left font-s search-input pad-left-ten header-links" type="search">
            <input value="GO" style="width:10%; height:36px; border-top-right-radius:10px;  border-bottom-right-radius:10px;" class="gonew2 pull-left header-links" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container" >
  <div class="ng-scope" ng-controller="inboxController" style="margin-top:-16px; float:left">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
        <h3 style="margin-left:20px; margin-bottom:-30px">Inbox</h3>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
        <h3 style=""><a class="ng-binding" href="/user/539c65cb05bd3d621d4efe70" target="_blank" style="color: #542437">John Johnson</a></h3>
      </div>
    </div>
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	
	<!-- custom scrollbar plugin -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script>
		(function($){
			$(window).load(function(){
				
				$("#content-1").mCustomScrollbar({
					theme:"minimal",
          scrollInertia: 0
				});
				
				$("#content-2").mCustomScrollbar({
					theme:"minimal",
          scrollInertia: 0
				});
				
			});
		})(jQuery);
	</script>
    <!--<div id="content-1" class="content">
				<h2>theme: "minimal"</h2>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
				<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
				<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
				<hr />
				<p>End of content.</p>
			</div>-->
    <div class="nspacer"></div>
    <div ng-init="init({ csrf: 'undefined', user: '540657ba0fcc62e91708499b' })" class="row">
      <div ng-hide="status.length == 0" class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style=""><strong class="ng-binding"></strong></div>
      <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 content" id="content-1" style=" border:1px solid #eee; padding-left:0px ; padding-right:0px; margin-right:25px">
        <ul  class="nav nav-pills nav-stacked">
          <div class="nspacer"></div>
          <li ng-class="{ active: !message }"><a href="" ng-click="message = null"><i class="fa fa-fw fa-pencil-square-o"></i> New Message</a></li>
          <!-- ngRepeat: m in messages -->
          
          
          <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)" class="active">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
          	<span class="ng-binding" style="padding-left:10px; ">John Johnson <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
      <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
          	<span class="ng-binding" style="padding-left:10px; ">subwax2 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
          	<span class="ng-binding" style="padding-left:10px; ">subwax3 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
          	<span class="ng-binding" style="padding-left:10px; ">subwax4 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
          	<span class="ng-binding" style="padding-left:10px; ">subwax5 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
            <span class="ng-binding" style="padding-left:10px; ">subwax6 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
            <span class="ng-binding" style="padding-left:10px; ">subwax7 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
            <span class="ng-binding" style="padding-left:10px; ">subwax8 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
            <span class="ng-binding" style="padding-left:10px; ">subwax9 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style="border-bottom:1px solid #eee">
          <a href="" ng-click="selectMessage(m)">
          <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:50px;height:50px; " />
            <span class="ng-binding" style="padding-left:10px; ">subwax10 <!--<span style="float:right">4 JUN</span>--></span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding">0 New</span></a></li>
         
          
          
         
          
          <style>
		  .nav > li > a{ padding-top:5px; padding-bottom:5px}
          	.nav > li > a:hover, .nav > li > a:focus{ background:#f5f7fa !important; border-radius:0px; color:#428bca}
			.content img{ padding:0px !important}
			.nav > li > a:active, .active{ background:#f5f7fa none repeat scroll 0 0 !important}
			
			#messages .nav > li > a:hover, .nav > li > a:focus{ background: none !important}
			.form-control{ !important; float:left}     textarea.form-control{ min-height:70px !important}     </style>
          <div class="nspacer"></div>
        </ul>
      </div>
      <div ng-hide="message == null" class="col-md-8 col-sm-8 col-xs-12 col-lg-8 " style=" padding:0px"  >
      <div class="content" id="content-2" style=" height:290px;width:750px; ">
        <div id="messages" style="height: 390px;   "><!-- ngRepeat: message in message.messages -->
          <div style="" ng-show="message.messages.length == 0" >
           	 <ul  class="nav nav-pills nav-stacked">
          <div class="nspacer"></div>
          
       
          
          
          <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style=" ">
          <a href="" ng-click="selectMessage(m)">
        <div style="float:left;margin-bottom:15px"> <div style="float:left; "> <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:40px;height:40px;" /></div>
          	<div style="float:left;padding-left:10px;margin-top:-5px; width:690px"><span class="ng-binding" style=" padding-top:0px">subwax </span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding"></span></a><br /><span>This is a test message, and another test message. And another test message. And another test message. And another test message.</span></div>
            </div>
            </li>
           <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style=" ">
          <a href="" ng-click="selectMessage(m)">
        <div style="float:left;margin-bottom:15px"> <div style="float:left; "> <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:40px;height:40px;" /></div>
          	<div style="float:left;padding-left:10px;margin-top:-5px; width:690px"><span class="ng-binding" style=" padding-top:0px">subwax </span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding"></span></a><br /><span>This is a test message, and another test message. And another test message. And another test message. And another test message.</span></div>
            </div>
            </li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style=" ">
          <a href="" ng-click="selectMessage(m)">
        <div style="float:left;margin-bottom:15px"> <div style="float:left; "> <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:40px;height:40px;" /></div>
          	<div style="float:left;padding-left:10px;margin-top:-5px; width:690px"><span class="ng-binding" style=" padding-top:0px">subwax </span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding"></span></a><br /><span>This is a test message, and another test message. And another test message. And another test message. And another test message.</span></div>
            </div>
            </li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style=" ">
          <a href="" ng-click="selectMessage(m)">
        <div style="float:left;margin-bottom:15px"> <div style="float:left; "> <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:40px;height:40px;" /></div>
          	<div style="float:left;padding-left:10px;margin-top:-5px; width:690px"><span class="ng-binding" style=" padding-top:0px">subwax </span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding"></span></a><br /><span>This is a test message, and another test message. And another test message. And another test message. And another test message.</span></div>
            </div>
            </li>
            <li class="ng-scope" ng-repeat="m in messages" ng-class="{ active: message.message._id == m.topic._id }" style=" ">
          <a href="" ng-click="selectMessage(m)">
        <div style="float:left;margin-bottom:15px"> <div style="float:left; "> <img src="images/default_speaker.svg" ng-src="/images/default_speaker.svg" style="width:40px;height:40px;" /></div>
          	<div style="float:left;padding-left:10px;margin-top:-5px; width:690px"><span class="ng-binding" style=" padding-top:0px">subwax </span><span style="display: none;" ng-show="m.unread" class="badge pull-right ng-binding"></span></a><br /><span>This is a test message, and another test message. And another test message. And another test message. And another test message.</span></div>
            </div>
            </li>
            
            </ul>
          </div>
        </div>
        </div>
     
        <div class="row" style="border:1px solid #eee; padding:20px 0px">
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
            <textarea id="inputMessage" ng-model="msg" required placeholder="Enter Message" class="form-control ng-pristine ng-invalid ng-invalid-required"></textarea>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="margin-top:18px;">
            <button ng-click="sendMessage()" class="form-control btn btn-info">Send</button>
          </div>
        </div>
      </div>
      <div style="display: none;" ng-show="message == null" class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
        <h3 class="text-center">New Message to:</h3>textarea.ftextarea.form-controlorm-control
        <div class="nspacer"></div>
        <div class="row">
          <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <form class="ng-pristine ng-invalid ng-invalid-required" method="POST" accept-charset="utf-8">
              <input ng-click="searchUser()" value="SEARCH" style="width:20%;" class="gonew2 pull-right header-links" type="button">
              <input ng-model="search" required placeholder="Search for People on EventMost" style="width:77%;" class="pull-right font-s search-input pad-left-ten header-links ng-pristine ng-invalid ng-invalid-required" type="search">
            </form>
          </div>
        </div>
        <div class="nspacer"></div>
        <div class="row">
          <div class="nspacer-big"></div>
          <p style="display: none;" ng-show="progress.length > 0" class="col-sm-12 col-lg-12 col-md-12 col-xs-12 lead text-center ng-binding"></p>
        </div>
        <div style="display: none;" ng-show="showPeopleSearch">
          <div class="nspacer-big"></div>
          <!-- ngRepeat: person in peopleSearch --></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="nspacer"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="font-tw"><b>Business cards received</b></div>
        <div class="line-purple"></div>
      </div>
    </div>
    <div class="nspacer"></div>
    <div class="row">
      <div class="pull-left">
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 nspacer-medium">
          <div class="pull-right"><a href="/user/539c65cb05bd3d621d4efe70"><img src="images/539c65cb05bd3d621d4efe70.png-116x116.png" style="max-width:102px;" class="img-responsive circularespond"></a><a href="/user/539c65cb05bd3d621d4efe70"><span>John Johnson</span></a></div>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 nspacer-medium">
          <div class="center"><img src="images/541fe24126da4edd7805e3e3.png" class="pad-left-ten img-responsive"></div>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1"></div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="nspacer-big"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="font-tw"><b>Your Saved Profiles</b></div>
        <div class="line-purple"></div>
      </div>
    </div>
    <div class="nspacer"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="center">
          <div class="col-md-2 col-xs-2 col-sm-2 inv-till-1">
            <div class="center nspacer-medium"><a href="/user/54da2769ef2260f36ea3814f"><img src="http://dev.eventmost.com/images/default_speaker.svg" style="max-width:102px;margin:-1px auto auto -1px;" class="circularespond"></a></div>
            <div class="font-s"><a href="/user/54da2769ef2260f36ea3814f"><b>subwax</b></a><br>
              <br>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="nspacer"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="font-tw"><b>People that Saved Your Profile</b></div>
        <div class="line-purple"></div>
      </div>
    </div>
    <div class="nspacer"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="center">
          <div class="col-md-2 col-xs-2 col-sm-2 inv-till-1">
            <div class="center nspacer-medium"><a href="/user/539c65cb05bd3d621d4efe70"><img src="images/539c65cb05bd3d621d4efe70.png-116x116.png" style="max-width:102px;margin:-1px auto auto -1px;" class="circularespond"></a></div>
            <div class="font-s"><a href="/user/539c65cb05bd3d621d4efe70"><b>John Johnson</b></a><br>
              Deloite, Vice President of Marketing </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="nspacer"></div>
      </div>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="container">
  <footer class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <div class="text-center">Copyright © 2015 <b>EventMost</b> | <a href="/contact" class="link-white">Contact us</a><small class="pull-right">v0.2.8 - #057d662</small></div>
  </footer>
</div>
<script src="//www.google-analytics.com/analytics.js" async></script><script src="/js/vendor/all_required.min.js?v=057d662" defer></script><script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/21/1/main.js"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/21/1/places.js"></script><script src="/js/google_autocomplete_addr.js"></script><script src="/socket.io/socket.io.js?v=057d662" defer></script><script src="/js/inbox_notifications.js?v=057d662" defer></script><!--script(src="/js/diferscript.js?v=#{versionHash}" defer)--><script src="/js/vendor/moment.min.js?v=057d662" defer></script><script src="/js/inbox.js?v=057d662" defer></script>
</body>
</html>