extends ../layout

mixin input(label, type, name, placeholder, required, tabindex)
	.control-group
		label.control-label(for=name)= label
		.controls
			input(type= type, id= name, tabindex= tabindex, name= name, placeholder= placeholder, required=required)
mixin checkbox(label, name, checked, tabindex, required)
	label.checkbox= label
		input(type="checkbox", checked= checked, name= name, required= required, tabindex= tabindex)

mixin step1()
	p1 hello
	.submit
		input(class="submit-btn", type="submit", value="> Step 2")
mixin step2()
	.submit
		input(class="submit-btn", type="submit", value="> Step 3")
mixin step3()
	.submit
		input(class="submit-btn", type="submit", value="> Step 4")
mixin step4()
	.submit
		input(class="submit-btn", type="submit", value="> Step 5")
mixin step5()
	.submit
		input(class="submit-btn", type="submit", value="> Step 6")
mixin step6()
	.submit
		input(class="submit-btn", type="submit", value="> Step 7")
mixin step7()
	p hello

append js
	script(src="/js/geoField.js")

block content
	include ../inc/sidebar
	#main-content
		.search-box
			.search-content
				p
					span.title Create an event
		.clear
		p
			u 1 - Basic Details
			|  / 
			| 2 - Date
			|  / 
			| 3 - Location
			|  / 
			| 4 - Protection
			|  / 
			| 5 - Protection 2
			|  / 
			| 6 - Attendee Registration
			|  / 
			| 7 - Done
		.clear
		form(action="/event/add", id="EventAddForm", enctype="multipart/form-data", method="post", accept-charset="utf-8", novalidate="novalidate")
			div(style="display:none;")
				input(type="hidden", name="_method", value="POST")
				input(type="hidden", name="_csrf", value=token)
			#step1
				case step
					when 1
						mixin step1()
					when 2
						mixin step2()
					when 3
						mixin step3()
					when 4
						mixin step4()
					when 5
						mixin step5()
					when 6
						mixin step6()
					when 7
						mixin step7()
	.clear