extends ../layout

mixin input(label, type, name, placeholder, required, tabindex)
	.control-group
		label.control-label(for=name)= label
		.controls
			input(type= type, id= name, tabindex= tabindex, name= name, placeholder= placeholder, required=required)
mixin checkbox(label, name, checked, tabindex, required)
	label.checkbox= label
		input(type="checkbox", checked= checked, name= name, required= required, tabindex= tabindex)

append js
	script(src="/js/geoField.js")
	script(src="/js/addEvent.js")

block content
	include ../inc/sidebar
	#main-content
		.search-box#bigred
			.search-content
				p
					span.title Create an event
		
		form(action="/event/add", id="EventAddForm", enctype="multipart/form-data", method="post", accept-charset="utf-8", novalidate="novalidate")
			input(type="hidden", name="_csrf", value=token)
			.home-box-item.bottom-border
				.left Step 1
				.red-arrow
					a#step1Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step1
				.users-spacer
					.user-short-info.single-item
						.event-def-ico.event-name-ico.left
						.left
							.input.text.required
								input.rounded-input#EventName(type="text", name="name", placeholder="Event name", maxlength="255", required="required")
						.clear
				.users-spacer
					.user-short-info.single-item
						.event-def-ico.event-avatar-ico.left
							img
						.left
							.input.file
								input.rounded-input#EventAvatar(type="file", placeholder="Event Avatar", name="avatar")
						.clear
				.submit
					input(class="submit-btn", type="button", value="Next Step")
			.home-box-item.bottom-border.border-top
				.left Step 2
				.red-arrow
					a#step2Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step2.stepClosed
				.submit
					input(class="submit-btn", type="button", value="Next Step")
			.home-box-item.bottom-border.border-top
				.left Step 3
				.red-arrow
					a#step3Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step3.stepClosed
				.submit
					input(class="submit-btn", type="button", value="Next Step")
			.home-box-item.bottom-border.border-top
				.left Step 4
				.red-arrow
					a#step4Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step4.stepClosed
				.submit
					input(class="submit-btn", type="button", value="Next Step")
			.home-box-item.bottom-border.border-top
				.left Step 5
				.red-arrow
					a#step5Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step5.stepClosed
				.submit
					input(class="submit-btn", type="button", value="Next Step")
			.home-box-item.bottom-border.border-top
				.left Step 6
				.red-arrow
					a#step6Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step6.stepClosed
				.submit
					input(class="submit-btn", type="button", value="Submit")
			.home-box-item.bottom-border.border-top
				.left Step 7
				.red-arrow
					a#step7Link(href="/event/add")
						img(src="/img/red-arrow.png", alt="")
				.clear
			#step7.stepClosed
				p You are done!
	.clear