extends ../base

append addonjs
	script(src="/js/datepicker.js")
	script(src="/js/tiny.editor.packed.js")
	script(src="/js/jquery.jcarousel.min.js")
	script.
		jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel({
				vertical: true,
				scroll: 2
			});
		});
	script.
		jQuery(document).ready(function() {
			jQuery('#mycarousel2').jcarousel({
				vertical: true,
				scroll: 2
			});
		});
	script.
		var editor = new TINY.editor.edit('editor', {
			id: 'tinyeditor',
			width: 1150,
			height: 175,
			cssclass: 'tinyeditor',
			controlclass: 'tinyeditor-control',
			rowclass: 'tinyeditor-header',
			dividerclass: 'tinyeditor-divider',
			controls: ['bold', 'italic', 'underline', 'strikethrough', 'leftalign', 'centeralign', 'rightalign', 'blockjustify', 'font', 'size',],
			footer: true,
			fonts: ['Verdana','Arial','Georgia','Trebuchet MS'],
			xhtml: true,
			cssfile: 'custom.css',
			bodyid: 'editor',
			footerclass: 'tinyeditor-footer',
			resize: {cssclass: 'resize'}
		});

append content
	include ../inc/flash
	include ../modals/homemodals
	.row-fluid.headerSpacer 
		.span12
			.redbox
				.left.well2.redbox
					| Event <br /> name
				.row-fluid
					.left.span10
						input(name="", placeholder="", type="email", id="", required="required", class="file_input_textbox6")
	.row-fluid
		.left.span2.well2.yellow
			| Logo
		.left.span4.well2.yellowborder
			img(src="/img/default_logo.svg", alt="", class="arrow")
		.right
			#file_delete_wrapper
		.right
			#file_upload_wrapper
		.right
			#file_browse_wrapper
				input(type="file", id="file_browse",)
		.clearfix
	.row-fluid.headerSpacer 
		.span10
			.yellow
				.left.well3.yellow
					| Venue <br /> name
				.row-fluid
					.left.span9
						input(name="", placeholder="", type="email", id="", class="file_input_textbox5")
		.left.headerspacer2.smallslid
			img(src="/img/optional.svg", alt="", class="arrow")
		.clearfix
	.row-fluid.headerSpacer 
		.span8
			.orange
				.left.well3.orange
					| Event <br /> address
				.row-fluid
					.left.span8
						input(name="", placeholder="", type="email", id="", class="file_input_textbox7")
		.span2
			.orange
				.left.well4.orange
					p.check
						input(name="", placeholder="", type="checkbox", id="css3", value="css3")
						label(for='css3')
					p.small use current location
		.left.headerspacer2.smallslid
			img(src="/img/optional.svg", alt="", class="arrow")
		.clearfix
	.row-fluid.headerSpacer 
		.left.span3
			.orange.well3
				| Event <br /> date
			img(src="/img/big_orrange.svg", alt="", class="arrow" style="padding-top:50px;")
		.left
			.left.orange.well5
				| FROM:
				#datepicker
		.left
			.left.orange.well5
				| TO:
				#datepicker2
	.clearfix
	.row-fluid.headerSpacer
		.bluebox2
			.left.zero
				img(src="/img/pencil.svg", alt="", class="pencil")
			.left.headerSpacer 
				| Event description
			.right
				img(src="/img/optional.svg", alt="", class="pencil1")
			.clearfix
		textarea#tinyeditor(style="width: 1150px; height: 200px")
	.row-fluid.headerSpacer 
		.span12
			.redbox.span12
				.left.span2
					img(src="/img/people2.svg", alt="", class="arrow" style="padding:15px;")
				.left.span8.center.big
					| Choose attendee / ticket categories
				.right.span2
					img(src="/img/optional.svg", alt="", class="pencil1" style="float:right; padding-bottom:20px;") 
				.right
					.right
						img(src="/img/arrow.svg", alt="", class="arrow" style="padding-left:10px; margin-right:15px; width:17px; height:17px; padding-bottom:0px;")
					.right
						a(href="", alt="", class="link1", style="font-size:12px; padding-bottom:0px;") LEARN MORE
	.row-fluid
		.span3.yellow
			ul#mycarousel.jcarousel-skin-tango
				li
					| 1. Guest Speaker
				li
					| 2. Attendee
				li
					| 3. Vencor
				li
					| 4. Entrepreneur
				li
					| 5. Team
				li
					| 6. Startup Team
				li
					| 7. Company
				li
					| 8. Mentor
				li
					| 9. Educator
				li
					| 10. Lorem
				li
					| 11. Ipsum
				li
					| 12. Dolor
				li
					| 13. Erum
				li
					| 14. Ipsum
		.span4.zero2
			h6 Create <br />your own
				.headerSpacer
				input(name="", type="text3", class="file_input_textbox8")
				img(src="/img/arrows.svg", alt="", style="padding-left:10px; margin-right:5px; padding-top:12px;")
				input(name="", type="text3", class="file_input_textbox8")
				img(src="/img/arrows.svg", alt="", style="padding-left:10px; margin-right:5px; padding-top:12px;")
				input(name="", type="text3", class="file_input_textbox8") 
				img(src="/img/arrows.svg", alt="", style="padding-left:10px; margin-right:5px; padding-top:12px;")
				input(name="", type="text3", class="file_input_textbox8")
				img(src="/img/arrows.svg", alt="", style="padding-left:10px; margin-right:5px; padding-top:12px;")
				input(name="", type="text3", class="file_input_textbox8")
				img(src="/img/arrows.svg", alt="", style="padding-left:10px; margin-right:5px; padding-top:12px;")

		.span5p2.zero2.yellow
			h6 Your categories
			.left.smallslid4
				| Attendee
			.right.smallslid2right
				| Does he/she pays?
			ul#mycarousel2.jcarousel-skin-tango2
				li
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="css", value="css3",)
							label(for='css',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="cs", value="css3",)
							label(for='cs',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="1css3", value="css3",)
							label(for='1css3',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="2css3", value="css3",)
							label(for='2css3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="3css3", value="css3",)
							label(for='3css3',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="5css3", value="css3",)
							label(for='5css3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="6css3", value="css3",)
							label(for='6css3',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="8css3", value="css3",)
							label(for='8css3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="pcss3", value="css3",)
							label(for='pcss3',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="ocss3", value="css3",)
							label(for='ocss3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="icss3", value="css3",)
							label(for='icss3', ) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="kcss3", value="css3",)
							label(for='kcss3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
				li.tops-minus
					.right.checks
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="jcss3", value="css3",)
							label(for='jcss3',) 
						.left.tops  YES
						p.check2.left.smallslid2
							input(name="", placeholder="", type="checkbox", id="mcss3", value="css3",)
							label(for='mcss3',)
						.left.tops  NO 

					.left.purple
						| Guest Speaker
		.clearfix
		.row-fluid.headerspacer2.span12.zer
			.left
				h12 Allow them to create their own label for self? 
			.left.tops-minus
				p.check3.left
					input(name="", placeholder="", type="checkbox", id="css344", value="css3")
					label(for='css344',) 
				.left.tops3  YES
			.left.tops-minus
				p.check3.left
					input(name="", placeholder="", type="checkbox", id="css34", value="css3")
					label(for='css34',) 
				.left.tops3  NO
		.clearfix
		row-fluid.headerspacer2.span12
			.left
				.left.zero2.zer.tab1
					.tableh.bluebox2
						| Ticket Type
					.zer
						dl.dropdown2	
							dt
								a.dropx2(href="#")
									| Premium
							dd
								ul
									li
										a(href="#",) Standard
					.zer
						dl.dropdown2	
							dt
								a.dropx2(href="#")
									| Premium
							dd
								ul
									li
										a(href="#",) Standard
					.zer
						dl.dropdown2	
							dt
								a.dropx2(href="#")
									| Premium
							dd
								ul
									li
										a(href="#",) Standard
					.zer
						dl.dropdown2	
							dt
								a.dropx2(href="#")
									| Premium
							dd
								ul
									li
										a(href="#",) Standard
			.left.zero2.tab2
				.tableh.bluebox2
					| Ticket Price
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:131px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:131px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style=" width:131px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:131px;")
			.left.zero2.tab3
				.tableh.bluebox2
					| Number <br /> of tickets
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:108px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:108px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:108px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:108px;")
			.left.zero2.tab4
				.tableh.bluebox2
					| Fee
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:67px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:67px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:67px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:67px;")
			.left.tab5
				.tableh.bluebox2
					| Who pays <br /> the fee?
				.zer.minus
					dl.dropdown3	
						dt
							a.dropx3(href="#")
								| Me
						dd
							ul
								li
									a(href="#",) Them
				.zer.tops-minus
					dl.dropdown3	
						dt
							a.dropx3(href="#")
								| Me
						dd
							ul
								li
									a(href="#",) Them
				.zer.tops-minus
					dl.dropdown3	
						dt
							a.dropx3(href="#")
								| Me
						dd
							ul
								li
									a(href="#",) Them
				.zer.tops-minus
					dl.dropdown3	
						dt
							a.dropx3(href="#")
								| Me
						dd
							ul
								li
									a(href="#",) Them
			.left.zero2.tab6
				.tableh.bluebox2
					| VAT
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:70px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:70px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:70px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:70px;")
			.left.tab7
				.tableh.bluebox2
					| Total <br /> Ticket Price:
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
			.left.tab8
				.tableh.bluebox2
					| What <br /> you’ll recive <br /> per ticket:
				.minus
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:147px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
					input(name="", placeholder="", type="text2", id="", class="file_input_textbox9" style="width:146px;")
		.clearfix
		a.link1(href="#")
			img(src="/img/publish.svg", class="arrow")


		img(src="/img/success.svg", class="arrow")


		row-fluid.span12.zer
			.left
				h14 Invite people with this link:
			.right.span8
				h14 http://www.sedutperspiciatisundeomnisistenatuserrorsitvoluptatemaccusantium
		.clearfix
		row-fluid.span12.headerspacer2.zer.center
			h14 One last step: <span>Control who can see or access your event</span>
		row-fluid.span12.headerspacer2.zer
			h14 Please type your password (there are no stupid restrictions):
		row-fluid.span12.spacer.zer.redbox
			input(name="", placeholder="", type="email", id="", required="required", class="file_input_textbox6", style="width:1130px; margin-top:10px;")
		.clearfix

		.center.headerspacer2
		a.link1(href="#")
			img(src="/img/enter.svg", class="arrow")

		.center.headerspacer2
			h14 <b>SUCCESS!</b> Registration complete. To change any of this at anytime,<br /> just go to “Event settings” within the event page.<br /> Also there you will find how to control other very important functions<br /> such as:

		row-fluid.span12.zer.headerspacer2
			.left
				img(src="/img/arrow_yellow.svg", class="arrow")
			.left.inner
				h14 Adding inactive profile for guest speakers/teams/companies
		row-fluid.span12.zer
			.left
				img(src="/img/arrow_yellow.svg", class="arrow")
			.left.inner
				h14 Adding file to Event’s dropbox
		row-fluid.span12.zer
			.left
				img(src="/img/arrow_yellow.svg", class="arrow")
			.left.inner
				h14 View event summary
		row-fluid.span12.zer
			.left
				img(src="/img/arrow_yellow.svg", class="arrow")
			.left.inner
				h14 Control who can comment out in the open
		row-fluid.span12.headerspacer2
			.left.span6
				img(src="/img/gotohome.svg", class="arrow")
			.right.span6
				img(src="/img/gotoevent.svg", class="arrow")
		row-fluid.span12.zer.headerspacer2
			h14 How <br /> restrictive:
		row-fluid.span12.zer.headerspacer2
			.left.span2
				img(src="/img/paddlock.svg", class="arrow")
			.right.orangebox.span10
				.left.in_orange22
					| Allow anyone from any location to access event.
				.right
					.right.true
						img(src="/img/arrow.svg", alt="", class="arrow", style=" padding-left:10px; margin-right:15px; width:30px; height:30px; ")
					.right.true2
						a(href="", alt="", class="link1", style="font-size:20px;", data-reveal-id="restricion1Modal") LEARN MORE
		row-fluid.span12.zer.headerspacer
			.left.span2
				img(src="/img/paddlock.svg", class="arrow")
			.right.orangebox.span10
				.left.in_orange22
					| Allow people to access event when in range.<br /> <b>No password added.</b>
				.right
					.right.true
						img(src="/img/arrow.svg", alt="", class="arrow", style=" padding-left:10px; margin-right:15px; width:30px; height:30px; ")
					.right.true2
						a(href="", alt="", class="link1", style="font-size:20px;", data-reveal-id="restricion2Modal") LEARN MORE
		row-fluid.span12.zer.headerspacer
			.left.span2
				img(src="/img/paddlock2.svg", class="arrow")
			.right.orangebox.span10
				.left.in_orange22
					| Allow anyone with any location but <b>with a password</b> <br /> access your event.
				.right
					.right.true
						img(src="/img/arrow.svg", alt="", class="arrow", style=" padding-left:10px; margin-right:15px; width:30px; height:30px; ")
					.right.true2
						a(href="", alt="", class="link1", style="font-size:20px;", data-reveal-id="restricion3Modal") LEARN MORE
		row-fluid.span12.zer.headerspacer
			.left.span2
				img(src="/img/paddlock2.svg", class="arrow")
			.right.orangebox.span10
				.left.in_orange22
					| Allow people to access event when <b>in range</b> <br /><b>and with a password.</b>
				.right
					.right.true
						img(src="/img/arrow.svg", alt="", class="arrow", style=" padding-left:10px; margin-right:15px; width:30px; height:30px; ")
					.right.true2
						a(href="", alt="", class="link1", style="font-size:20px;", data-reveal-id="restricion3Modal") LEARN MORE
		row-fluid.span12.zer.headerspacer
			.left.span2
				img(src="/img/paddlock3.svg", class="arrow")
			.right.orangebox.span10
				.left.in_orange22
					| <b>Make private.</b> Attendees can only find event by <br /> getting the link above.
				.right
					.right.true
						img(src="/img/arrow.svg", alt="", class="arrow", style=" padding-left:10px; margin-right:15px; width:30px; height:30px; ")
					.right.true2
						a(href="", alt="", class="link1", style="font-size:20px;", data-reveal-id="restricion5Modal") LEARN MORE


			#restricion1Modal.reveal-modal
				.center2
					img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
				.center.headerspacer.smaller
					| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them to message other attendees. Upside: your event is easy for intended attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors. Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you to do that. <br />
					| In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
					| Anyone from anywhere can see your event but must be within 2 KM to access it (meaning their EventMost profile will show up with all the other attendees allowing them to message other attendees and such). This is mainly for people that show up to your event that did not initially register via your link. This also could be for more ad-hoc meetups where there wasn’t much of a formal registration. Or this could be used if you don’t give anyone the link, but only want to allow people to be a part of your event network if they really physically attended. As the planner you do have admin rights to kick-out any attendee you want, and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused.
				a(href="#", class="close-reveal-modal") 
					img(src="/img/x.svg")
			#restricion2Modal.reveal-modal
				.center2
					img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
				.center.headerspacer.smaller
					| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them to message other attendees.
					| Upside: your event is easy for intended attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors.
					| Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it
					| more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want to receive correspondence from such.
					| Although Attendees can control this in their personal settings, some people are particular about their privacy. <b>Extra precautionary measures we take: </b>We have special algorithms
					| that are extremely effective in preventing spamming and if any individual appears to be doing such, we automatically freeze his/her account.<br /><br />
					| Anyone from anywhere can see your event but <b>must have the password</b> to access it (meaning their EventMost profile will show up with all the other attendees allowing them to message other attendees and such).
					| You create any password you want and there will be two ways by which users can access your event:<br />
					| 1) using the link you provided <br />
					| 1) or <br />
					| 2) entering the password you created.
				a(href="#", class="close-reveal-modal") 
					img(src="/img/x.svg")
			#restricion3Modal.reveal-modal
				.center2
					img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
				.center.headerspacer.smaller
					| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile will show up with all the other attendees allowing them
					| to message other attendees. Upside: your event is easy for intended attendees to enter if they did not get the link.
					| It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors. Also, as the planner you do have admin rights to kick-out
					| any attendee you want and our platform makes it easy for you to do that. In addition, you can change these settings at anytime – make it
					| more restrictive if you feel it’s being abused. Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want
					| to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular
					| about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming
					| and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
					| Anyone from anywhere can see your event, but users that don’t use your link must be within 2KM and know the password
					| you created in order to access your event (meaning their EventMost profile will show up with all the other attendees
					| allowing them to message other attendees and such).
				a(href="#", class="close-reveal-modal") 
					img(src="/img/x.svg")
			#restricion5Modal.reveal-modal
				.center2
					img(src="/img/paddlocks.svg", alt="", style="padding-bottom:10px;")
				.center.headerspacer.smaller
					| Anyone from anywhere in the world can see that your event is going on and can “enter” it - their EventMost profile
					| will show up with all the other attendees allowing them to message other attendees. Upside: your event is easy for intended
					| attendees to enter if they did not get the link. It can increase attendance possibly: virtual and physical. It can also boost publicity for you and your sponsors.
					| Also, as the planner you do have admin rights to kick-out any attendee you want and our platform makes it easy for you
					| to do that. In addition, you can change these settings at anytime – make it more restrictive if you feel it’s being abused.
					| Downside: Attendees might not want their profile to be viewable by those who might not be at the event or might not want
					| to receive correspondence from such. Although Attendees can control this in their personal settings, some people are particular
					| about their privacy. <b>Extra precautionary measures we take:</b> We have special algorithms that are extremely effective in preventing spamming
					| and if any individual appears to be doing such, we automatically freeze his/her account. <br /><br />
					| No one can see or access your event unless they use the link.
				a(href="#", class="close-reveal-modal") 
					img(src="/img/x.svg")


