extends ../responsive

include inc/navbar
include inc/attendee

append content
	mixin navbar(2)
	
	br
	mixin attendee({ user: event.user, category: "Planner" })
	
	for attendee in event.attendees
		mixin attendee(attendee)
	
	br