.row-fluid
	.span9
		.row-fluid
			.span12
				h12= event.name
		.row-fluid
			h8 Thanks to our sponsors
		.description.eventtext= event.description
	.span3
		if event.avatar && event.avatar.url
			img(src=event.avatar.url)
		else
			img(src="/img/default-logo.svg")

.row-fluid.headerspacer2
	.span12
		.bluebox
			a.link4(href="/event/"+event._id+"/attendees") Attendees

for attendee in event.attendees
	= attendee.category

br
.clearfix