extends ../responsive

include inc/navbar
include inc/attendee

append meta
	meta(name="event_id", content="#{ev._id}")

append addonjs
	//-include inc/mapjs

block content
	mixin navbar(0)
	
	.row
		.col-lg-9.col-md-9.col-sm-9
			.row
				.col-lg-12.col-md-12.col-sm-12
					h3= ev.name
			.row
				.col-lg-12.col-md-12.col-sm-12
					h4 Thanks to our sponsors
		.col-lg-3.col-md-3.col-sm-3
			if ev.avatar && ev.avatar.url
				img(src=ev.avatar.url, style="max-width:150px; max-height: 150px;")
			else
				img(src="/img/default-logo.svg")
	
	.row.headerspacer2
		.col-lg-6.col-md-6.col-sm-6
			h3.text-center: a(href="/event/"+ev._id+"/conversations") Conversations
			.well
				h4 No conversations
		.col-lg-6.col-md-6.col-sm-6
			h3.text-center: a(href="/event/"+ev._id+"/attendees") Attendees
			.well
				- var i = 0;
				for attendee in ev.attendees
					mixin attendee(attendee)
					- if (i > 4) break;
					- i++