extends ../responsive

include inc/navbar
include inc/attendee
include inc/message

append addonjs
	//-include inc/mapjs
	script(src="/socket.io/socket.io.js" defer)
	script(src="/js/vendor/moment.min.js" defer)
	script(src="/js/mif.0.0.1.js" defer)

block content
	+navbar
	
	case ev.sponsorLayout.layout
		when 0
			include layouts/0
		when 1
			include layouts/1
		when 2
			include layouts/2
		when 3
			include layouts/3
		when 4
			include layouts/4
		when 5
			include layouts/5
		default
			include layouts/0
	
	//- comment post
	.nspacer
	div(ng-controller="commentsController" ng-cloak ng-init='init({ id: "#{ev._id}", user: "#{user._id}", csrf: "#{token}", attendee: #{JSON.stringify(attendee)} });')
		.row
			.col-sm-12.col-xs-12.col-md-12
				.pull-left
					img.pull-left.bubble-responsive(src="/images/bubble-left-blue.svg" style="vertical-align:top;")
				.pull-left.bg-green.psev.post-width-text-new
					textarea.postcommentarea1(placeholder="Post a comment here..." ng-model="text" comment-form)
					.pull-right
						a(href="" submit-comment)
							img.post-butt(src="/images/post-button-new.svg")
				.clearfix
			
			//- other comments
			div(ng-repeat="comment in comments | limitTo:commentLimit")
				.nspacer
				.underpost.pull-right.break
					.pull-left(style="overflow:hidden; border-radius:30px; -webkit-border-radius: 30px; -moz-border-radius:30px;width:60px;height:60px;border:0px solid #542437;")
						img(ng-src="{{comment.attendee.user.avatar}}" style="width:60px;margin:0px auto auto 0px;")
					.pull-left.pad-left-ten.width85.width85posts
						.font16.bold
							a.link-green(href="/user/{{comment.attendee.user._id}}" target="_blank") {{ comment.attendee.user.name }} {{ comment.attendee.user.surname }}
						//-.small-post
						pre.font14.font14sm.break.font-exception(style="padding:0; border:0; background:none;")
							| {{ comment.message }}
						.pull-left.font14.font14md.font-exception
							a.link-green.bold(href="" ng-click="likeComment(comment)" ng-show="comment.showLike")
								| Like | 
						.pull-left.font14.font14md.color-green.pad-left-five.font-exception(title="{{comment.postedFormatted}}")
							| posted {{comment.postedAgo}} |
						.pull-left.font14.font14md.color-green.pad-left-five.font-exception
							img.pull-left(src="/images/mini-thumb.svg")
							.pad-left-five.pull-left
								span(ng-repeat="like in comment.likes | limitTo:3")
									b(ng-show="$middle") , 
									b(ng-show="!$first && $last")  and 
									b(ng-show="comment.likes.length > 3 && $last") {{ comment.likes.length - 3 }} others
									span(ng-hide="comment.likes.length > 3 && $last")
										a.link-green(href="/user/{{like.user._id}}" target="_blank"): b(ng-hide="user == like.user._id") {{ like.user.name }} {{ like.user.surname }}
										b(ng-show="user == like.user._id") You
								span(ng-show="comment.likes.length > 0")
									|  like this.
								span(ng-show="comment.likes.length == 0")
									| 0 Likes
								span(ng-show="comment.comments.length - 2 > 0") 	|
						.pull-left.font14.font14md.color-green.pad-left-five.font-exception(ng-hide="comment.comments.length - 2 <= 0")
							img.pull-left(src="/images/mini-bubble.svg")
							.pad-left-five.pull-left.font-exception
								a.link-green(href="" ng-click="comment.showComments = !comment.showComments ")
									span(ng-hide="comment.showComments") Show {{ comment.comments.length - 2 }} more comment
										span(ng-show="comment.comments.length - 2 > 1") s
									span(ng-show="comment.showComments") Hide comments
						.clearfix
					.pull-right(ng-show="user == comment.attendee.user._id")
						//- button only visible for creator and planner
						button.btn.btn-primary.font14.pull-right.nspacer(type='submit', style="border-radius: 10px; padding:7px; padding-left:12px; padding-right:12px;")
							a.link-white(href ng-click="deleteComment(comment)") delete
				.clearfix

				div(ng-repeat="subcomment in comment.comments")
					.underpost-smaller.pull-right.break.nspacer(ng-hide="comment.comments.length - 1 - $index > 1 && !comment.showComments")
						.pull-left(style="overflow:hidden; border-radius:22px; -webkit-border-radius: 22px; -moz-border-radius:22px;width:44px;height:44px;border:0px solid #542437;")
							img(ng-src="{{subcomment.attendee.user.avatar}}", style="width:44px;margin:0px auto auto 0px;")
						.pull-left.pad-left-ten.width85.width85posts
							.font14.font14sm.break.font-exception.small-post
								a.link-green(href="/user/{{subcomment.attendee.user._id}}" target="_blank"): span.font16.bold {{ subcomment.attendee.user.name }} {{ subcomment.attendee.user.surname }}
								|  {{ subcomment.message }}
							.pull-left.font14.font14md.color-green.pad-left-five.font-exception(title="{{subcomment.postedFormatted}}")
								| posted {{subcomment.postedAgo}}	|
							.pull-left.font14.font14md.color-green.pad-left-five.font-exception
								img.pull-left(src="/images/mini-thumb.svg")
								.pad-left-five.pull-left
									span(ng-repeat="like in subcomment.likes | limitTo:3")
										b(ng-show="$middle") , 
										b(ng-show="!$first && $last")  and 
										b(ng-show="subcomment.likes.length > 3 && $last") {{ subcomment.likes.length - 3 }} others
										span(ng-hide="subcomment.likes.length > 3 && $last")
											a.link-green(href="/user/{{like.user._id}}" target="_blank"): b(ng-hide="user == like.user._id") {{ like.user.name }} {{ like.user.surname }}
											b(ng-show="user == like.user._id") You
									span(ng-show="subcomment.likes.length > 0")
										|  like this.
									span(ng-show="subcomment.likes.length == 0")
										| 0 Likes
							.pull-left.font14.font14md.pad-left-five.font-exception
								a.link-green.bold(href="" ng-click="likeComment(subcomment)" ng-show="subcomment.showLike")
									|	| Like 
							.clearfix
						.pull-right(ng-show="user == subcomment.attendee.user._id")
							//- button only visible for creator and planner
							button.btn.btn-primary.font14.pull-right.nspacer(type='submit', style="border-radius: 10px; padding:7px; padding-left:12px; padding-right:12px;")
								a.link-white(href ng-click="deleteComment(subcomment, comment)") delete
					.clearfix
				
				.underpost-smaller.pull-right.break.nspacer
					.pull-left(style="overflow:hidden; border-radius:22px; -webkit-border-radius: 22px; -moz-border-radius:22px;width:44px;height:44px;border:0px solid #542437;")
						img(src= attendee.user.avatar.length == 0 ? "/images/default_speaker-purple.svg" : attendee.user.avatar+"-116x116.png", style="width:44px;margin:0px auto auto 0px;")
					.pull-left.pad-left-ten.width85.width85posts
						.font14.font14sm.break.nspacer-small
							input.search-input.width100.psev(type"text" placeholder="Write a comment..." ng-model="text" comment-form comment="comment")
						button.btn.btn-default.font14.pull-right.nspacer(submit-comment style="border-radius: 10px; padding:7px; padding-left:12px; padding-right:12px;")
							| Submit
					.clearfix
		
		.clearfix
		.nspacer-bigger
		.row(ng-show="comments.length > commentLimit")

			.col-sm-12.col-xs-12.col-md-12
				.pull-right
					a.dark-grey(href="" ng-click="commentLimit = 999")
						| show {{ comments.length - commentLimit }} more comments &or;
			.clearfix

	.line-dark-grey
	.clearfix
	.row
		.col-sm-12.col-xs-12.col-md-12
			.center.font
				| Attendees 
				span.dropdown
					a(href data-toggle="dropdown" data-target="#")
						img(src="/images/purple-arrow-down.svg" alt="")
					ul.dropdown-menu(style="margin-left:20px; margin-top:10px;")
						li: a(href="?arrange=default") Default
						li: a(href="?arrange=category") By Category
						li: a(href="?arrange=alphabetical") Alphabetical
						li: a(href="?arrange=recent") Most Recent

	.clearfix
	.nspacer-bigger

	- var attendees = locals.ev.attendees.length
	- for (var i = 0; i < attendees; i++)
		.row
			+attendee(locals.ev.attendees[i], false)
			if (++i < attendees)
				+attendee(locals.ev.attendees[i], false)
			if (++i < attendees)
				+attendee(locals.ev.attendees[i], false)
		.clearfix
	
	.nspacer
	.row
		.col-md-12.col-xs-12.col-sm-12
			.line-dark-grey
		//- end guest speakers

		.pull-right(style='height:35px;')
			ul.pagination
				li
					a(href='#') «
				li.active
					a(href='#') 1
				li
					a(href='#') »
	
	.clearfix
	.nspacer

	

