extends ../responsive

include inc/navbar
include inc/attendee

append meta
	meta(name="event_id", content="#{event._id}")

append addonjs
	//-include inc/mapjs

block content
	mixin navbar(0)

	.row
		.col-lg-9.col-md-9.col-sm-9
			.row
				.col-lg-12.col-md-12.col-sm-12
					h3= event.name
			.row
				.col-lg-12.col-md-12.col-sm-12
					h4 Thanks to our sponsors
		.col-lg-3.col-md-3.col-sm-3
			if event.avatar && event.avatar.url
				img(src=event.avatar.url, style="max-width:150px; max-height: 150px;")
			else
				img(src="/img/default-logo.svg")
	
	.row.headerspacer2
		.col-lg-6.col-md-6.col-sm-6
			h3.text-center: a(href="/event/"+event._id+"/conversations") Conversations
			.well
				h4 No conversations
		.col-lg-6.col-md-6.col-sm-6
			h3.text-center: a(href="/event/"+event._id+"/attendee") Attendees
			.well
				mixin attendee({ user: event.user, category: "Planner" })
				- var i = 0;
				for attendee in event.attendees
					mixin attendee(attendee)
					- if (i > 4) break;
					- i++
