extends ../responsive

include inc/item

append addonjs
	if typeof findNear !== "undefined" && findNear
		script(src="/js/angular-nearEvents.js?v=#{versionHash}" defer)

block content
	include inc/listnavbar
	
	if(typeof findNear !== "undefined" && findNear)
		//- Events nearby
		#nearbyEventsPlaceholder
			p.text-center.lead Locating events around you..
	else if (events.length == 0)
		.row
			.col-md-12.col-sm-12.col-lg-12
				h4.text-center There are no events :(
	else
		hr
	
	for event in events
		mixin eventItem(event)
	
	if (events.length > 0)
		- var pages = Math.ceil(eventsTotal / 10)
		- var curpage = Math.ceil(eventsSkip / 10)
		- var start = curpage - 2;
		- var end = curpage + 3;
		if (start < 0)
			- start = 0;
		if (end > pages)
			- end = pages;
		.nspacer
			.pull-right(style='height:35px;')
				ul.pagination
					li
						a(href=pageURL) «
					- for (var i = start; i < end; i++)
						li(class= curpage == i ? "active" : null)
							a(href=pageURL+'?skip='+i*10)= i+1
				
					li
						a(href=pageURL+'?skip='+((pages*10)-10)) »
		.clearfix