extends ../responsive

include inc/item

append addonjs
	if typeof findNear !== "undefined" && findNear
		script(src="/js/geo#{minified}.js", defer)
		script(src="/js/angular-nearEvents#{minified}.js", defer)

block content
	include inc/listnavbar
	
	if typeof findNear !== "undefined" && findNear
		//- Events nearby
		#nearbyEventsPlaceholder
			p.text-center.lead Locating events around you..
	else if events.length == 0
		.row
			.col-md-12.col-sm-12.col-lg-12
				h4.text-center There are no events :(
	else
		hr
	
	for event in events
		mixin eventItem(event)