extends ../responsive

include inc/item

block content
	.row
		.col-md-12.col-sm-12.col-lg-12
			ul.nav.nav-tabs
				li
					a(href="/events")
						h8 All Events
				li
					a(href="/events/my")
						h8 Created Events
				li
					a(href="/events/near")
						h8 Events Nearby
				li.pull-right
					a(href="/event/add")
						h8 Create Event
	
	
	h2.text-center= pagename
	if events.length == 0
		.row
			.col-md-12.col-sm-12.col-lg-12
				h4.text-center There are no events :(
	else
		hr
	
	for event in events
		mixin eventItem(event)