extends ../layout

block content
	include ../inc/sidebar
	#main-content
		.search-box
			.search-content
				p
					span.title Send push notifications
		p You can push notifications to your attendess from here.
		ul
			li - Business cards
			li - Messages
			li - it gets to their email?
	.clear