mixin eventItem(event)
	.nspacer.col-md-12.col-xs-12.col-lg-12.col-sm-12
		.pull-left.event(style='width:101.4%;')
			a.slid-box(href="/event/"+event._id)
				article.c-two(style="background: url(#{event.avatar.url}) top left; background-size: 100% 100%;")
					.slid-box-background
						h4 
							.eye.hide2
							br
							| VIEW
				.col-lg-9.col-md-9.col-xs-9.psev.pad-left-ten.rbox.eh
					h4= event.name
					.smart-minus!= event.description
	.clearfix