mixin eventItem(event)
	.nspacer
	- var link = '/event/'+event.id;
	- var foreign = event.isForeign();
	if (foreign)
		- link += '?redirect=1';
	
	if (foreign && !loggedIn)
		- link = '';
	.row
	
	a.link-purple(href=link target="_blank" class= foreign && !loggedIn ? "openEvent" : null data-event=event.id)
		.col-lg-3.col-md-3.col-sm-3.col-xs-3.pad-right-zero.don-dis
			img.img-responsive(src= event.avatar ? event.avatar.url : "")
		.col-lg-9.col-md-9.col-sm-9.col-xs-9.psev.pad-left-ten.no-pads1.other-dis
			.nspacer-medium3
				.font16.font16s.color-green.bold= event.name
				.outbox
					.r
						.box.after.dot2
							.smart-minus!= event.description
			.nspacer-small.od.break(style="white-space: nowrap;")
				.pull-left.color-green.font16.bold.font16s
					| WHEN
				.pull-left.pad-left-ten.font16s.bold.break(style="margin-top:2px;")
						= locals.moment(event.start).fromNow()
				.pull-left.pad-left-ten.font16s.break(style="margin-top:2px;")
						= locals.moment(event.start).format('dddd Do MMMM YYYY [at] h:mm:ss a')
				.clearfix
			.nspacer-small.od
				.pull-left.color-green.font16.bold.font16s 
					| WHERE
				.pull-left.pad-left-ten.font16s(style="margin-top:2px;")
					span
						if (event.venue_name)
						= event.venue_name
						span.pad-left-ten
							if (event.address)
							= event.address
	.clearfix