
//- inbox title plus buttons
.nspacer
.row.hide-mini3-except-smart
	.col-md-3.col-xs-3.col-sm-3.nspacer-medium.hide-mini3-except-smart
		.font-tw
			a.link-purple(href="", style="text-decoration: none !important;")
				b= pagename
	.col-md-9.col-xs-9.col-sm-9.hide-mini3-except-smart.pad-right-zero
		.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px;")
			a.link-white(href="/event/add") Create Event
		.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="padding-top:15px; margin-right:5px;")
			a.link-white(href="/events/near") Near Events
		.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="margin-right:5px;")
			a.link-white(href="/events/my") Created<br/>Events
		.font-x1.bg-purple.center.pull-right.psev2.prof-wall(style="margin-right:5px;")
			a.link-white(href="/events") All <br/>Events
	.clearfix.hide-mini3-except-smart

.row.hide-all2
	.col-md-12.col-xs-12.col-sm-12.nspacer-medium.hide-all2
		.center(style="margin-top:-40px;")
			a.link-purple(href="", style="text-decoration: none !important;")
				b= pagename
	.clearfix.hide-all2

.row.hide-all2
	.col-md-12.col-xs-12.col-sm-12.hide-all2
		.center(style="margin-top:-35px;")
			.inline.nspacer-small
				.font-x1.bg-purple.center.psev2.prof-wall
					a.link-white(href="/events/") All<br/>Events
			.inline.nspacer-small
				.font-x1.bg-purple.center.psev2.prof-wall
					a.link-white(href="/events/my") Created <br/>Events
			.inline.nspacer-small
				.font-x1.bg-purple.center.psev2.prof-wall
					a.link-white(href="/events/near") Events <br/>Nearby
			.inline.nspacer-small
				.font-x1.bg-purple.center.psev2.prof-wall
					a.link-white(href="/event/add") Create <br/>Event

	.clearfix

//- end inbox title plus buttons