.eighty-five
	.center2
		.half-round2
			.half-round-purple
				| <b>Registration Information</b>
	table.gridtable-payment-yellow
		tr
			th
				| REGISTRATION TYPE
			th
				| SALES END
			th
				| PRICE
			th
				| FEE
			th
				| QUANTITY
		tr
			td
				| I would like to register as an idividual
			td
				| 19 Sept 2013
			td
				| £25.00
			td
				| £2.15
			td
				dl.dropdown6
					dt
						a.dropx6(href="#")
							| 
					dd
						ul
							li
								a(href="#",) 1
							li
								a(href="#",) 2
							li
								a(href="#",) 3
							li
								a(href="#",) 4
							li
								a(href="#",) 5
							li
								a(href="#",) 6
							li
								a(href="#",) 7
							li
								a(href="#",) 8
							li
								a(href="#",) 9
							li
								a(href="#",) 10
							li
								a(href="#",) 11
							li
								a(href="#",) 12
		tr
			td
				| I would like to register as an idividual but join a team
			td
				| 19 Sept 2013
			td
				| £25.00
			td
				| £2.15
			td
				dl.dropdown6
					dt
						a.dropx6(href="#")
							| 
					dd
						ul
							li
								a(href="#",) 1
							li
								a(href="#",) 2
							li
								a(href="#",) 3
							li
								a(href="#",) 4
							li
								a(href="#",) 5
							li
								a(href="#",) 6
							li
								a(href="#",) 7
							li
								a(href="#",) 8
							li
								a(href="#",) 9
							li
								a(href="#",) 10
							li
								a(href="#",) 11
							li
								a(href="#",) 12
		tr
			td
				| I would like to register a whole team of six
			td
				| 19 Sept 2013
			td
				| £25.00
			td
				| £2.15
			td
				dl.dropdown6
					dt
						a.dropx6(href="#")
							| 
					dd
						ul
							li
								a(href="#",) 1
							li
								a(href="#",) 2
							li
								a(href="#",) 3
							li
								a(href="#",) 4
							li
								a(href="#",) 5
							li
								a(href="#",) 6
							li
								a(href="#",) 7
							li
								a(href="#",) 8
							li
								a(href="#",) 9
							li
								a(href="#",) 10
							li
								a(href="#",) 11
							li
								a(href="#",) 12
		tr
			td
				| Total
			td
				| 
			td
				| <b>£0.00</b>
			td
				| 
			td
				| <b>0</b>
.eighty-five
	.bg-yellowish
		.nspacer
			.pull-right
				input.input-yellow-rounded(name="" , type="text", id="", required="required", style="")
			.pull-right
				|Enter promotional code :
		.clearfix
		.line2
		.pull-left
			img(src="/images/credit-cards2.svg", alt="" style="padding:10px;")
		.pull-right
			button.btn.btn-default.hide-prof-butt(type='submit', style="border-radius: 10px; padding:10px; margin-top:10px;")
				| REGISTER
		.clearfix