- var event_date = "" + ev.start.getDate() + "/" + (ev.start.getMonth()+1) + "/" + ev.start.getFullYear()
div(ng-controller="PaymentController" ng-init="init({ id: '#{ev._id}', csrf: '#{token}', event_date: '#{event_date}', stripe_key: '#{stripe_key}' })")
	.eighty-five
		.center2
			.half-round2
				.half-round-purple
					b Registration Information
		table.gridtable-payment-yellow
			tr
				th REGISTRATION TYPE
				th SALES START
				th SALES END
				th PRICE
				th FEE
				th QUANTITY
			tr(ng-repeat="ticket in tickets")
				td
					span(ng-show="ticket.type == 'custom'") {{ticket.customType}}
					span(ng-show="ticket.type != 'custom'") {{ticket.type}}
				td {{ ticket.start_formatted }}
				td {{ ticket.end_formatted }}
				td £{{ ticket.priceFormatted }}
				td £{{ ticket.priceWithFeeFormatted }}
				td.col-sm-2.col-lg-2.col-md-2.col-xs-4: input.form-control(type="number" step="1" min="0" ng-disabled="hideRegister || ticket.expired" ng-model="ticket.wantedQuantity" ng-init="ticket.wantedQuantity = 0" max="{{ticket.quantity}}" ng-change="updateTotal()")
			tr
				td: b Total
				td
				td
				td: b £{{ticketPriceFormatted}}
				td: b £{{feePriceFormatted}}
				td: b {{totalQuantity}} tickets

	.eighty-five(ng-hide="hideRegister")
		.bg-yellowish
			//-.nspacer.d-s-s-s1
			//-	.pull-left.pad-left-five
			//-		|Enter promotional code :
			//-	.pull-left
			//-		input.input-yellow-rounded(name="" , type="text", id="", required="required", style="", placeholder="9864")
			//-.nspacer.d-s-s-s
			//-	.pull-right
			//-		input.input-yellow-rounded(name="" , type="text", id="", required="required", style="", placeholder="9864")
			//-	.pull-right
			//-		|Enter promotional code :
			.clearfix
			.line2
			.pull-left
				img.d-s-s(src="/images/credit-cards2.svg" style="padding:10px;")
				img.d-s-s1(src="/images/credit-cards2.svg" style="padding:10px; width:70%;")
			.pull-right
				span(style="padding-top:10px;margin-right:15px;") Final Price Including Transaction Fees <strong>£{{totalPriceFormatted}}</strong>
				button.btn.btn-default.hide-prof-butt(type='submit' ng-click="showPaymentMethods = true; hideRegister = true" style="border-radius: 10px; padding:10px; margin-top:10px;")
					| REGISTER
			.clearfix

	.center2(ng-show="showPaymentMethods")
		.half-round
			b Choose payment method
		.nspacer
	
		.row
			.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6
				img.img-responsive(src="/images/credit-cards.svg")
			
				.nspacer-big
				form
					.pad-left-zero.col-lg-4.col-md-4.col-sm-4.font-x.nspacer.right(ng-style="{ color: card.errors.name }")
						| Cardholder Name:
					.psev.col-lg-8.col-md-8.col-sm-8.payment-input
						input.input-yellow-rounded.font-x(type="text" required="required" ng-model="card.name" ng-disabled="cardFormDisabled")
					.nspacer-big
					.clearfix
					.pad-left-zero.col-lg-4.col-md-4.col-sm-4.font-x.nspacer.right(ng-style="{ color: card.errors.number }")
						| Card number:
					.psev.col-lg-8.col-md-8.col-sm-8.payment-input
						input.input-yellow-rounded.font-x(type="text" required="required" ng-model="card.number" ng-disabled="cardFormDisabled")
					.nspacer-big
					.pad-left-zero.col-lg-4.col-md-4.col-sm-4.font-x.nspacer.right(ng-style="{ color: card.errors.expiry }")
						| Expiration date:
					.psev.col-lg-8.col-md-8.col-sm-8.payment-input
						input.input-yellow-rounded.font-x(type="text" placeholder="mm/yyyy" required="required" ng-model="card.expiry" ng-disabled="cardFormDisabled")
					.nspacer-big
					.pad-left-zero.col-lg-4.col-md-4.col-sm-4.font-x.nspacer.right(ng-style="{ color: card.errors.cvc }")
						| CVC:
					.psev.col-lg-8.col-md-8.col-sm-8.payment-input
						input.input-yellow-rounded.font-x(type="text" placeholder="XXX (optional)" ng-model="card.cvc" ng-disabled="cardFormDisabled")
					.nspacer-big
					.clearfix
					.psev.col-lg-12.col-md-12.col-xs-12.payment-button
						span Payment for <strong>£{{totalPriceFormatted}}</strong>
						button.btn.btn-info.font-xs.font-ah.pull-right(ng-click="payWithCard()" ng-hide="cardFormDisabled" style="padding:5px; padding-left:15px; padding-right:15px; margin-right:20px;")
							b PAY NOW
		.clearfix
	.nspacer-big
	.center2
		.font2(ng-show="status != 'success' && status.length > 0")
			{{ status }}
	div(ng-show="status == 'success'")
		.center2
			img(src="/images/bubble-blue.svg")
		.center2
			.font2
				b Thank you!
		.center.font-e
				| Your card will be billed for £{{totalPriceFormatted}}. No ticket is required for this event; simply be prepared to show your ID upon entry.
				span(ng-show="totalQuantity > 1")  Your guests must be accompanied by you.
				|  A confirmation email has been sent to you.
				.col-lg-12.col-md-12.col-xs-12.center2
					if (ev.categories.length > 0 || ev.allowAttendeesToCreateCategories)
						button.btn.btn-primary.hide-prof-butt(type='button' data-toggle="modal" href="#attendModal" style="height:70px; padding:10px; padding-left:35px; padding-right:35px; margin-right:20px;")
							| Attend event
					else
						p.accessEventWarningMessage.hide(style="font-size: 16px;")
						a.btn.btn-primary.hide-prof-butt#accessEventDirect(href="#")
							| Attend event
	.nspacer-big
	.clearfix