extends ../responsive

block content




	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2


		//- header of the content

	.nspacer

	.col-lg-12.col-md-12.col-xs-12
		.col-lg-2.col-md-2.col-xs-2.pad-right-zero
			img(src="/images/dropbox-icon.svg"  class="img-responsive")
		.col-lg-7.col-md-7.col-xs-7.font-lebig.pad-left-zero.nspacer-big.fontish.back-spacer
			| Event dropbox
		.col-lg-3.col-md-3.col-xs-3.pad-right-zero
			a.pull-right(href="#")
				img(src="/images/upload-button.svg"  style="width:100%;")

	.clearfix
	
	
		//- content

		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix
	

		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix


		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix


		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix


									p.check5-purple-small
										input(name="", placeholder="", type="checkbox", id="creditcardsmaller4", value="small")
										label(for='creditcardsmaller4',) 

	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.center
			button.btn.btn-default.font-e2.hide-prof-butt.fontish2(type='submit', style="border-radius: 10px; color:#fff; padding:20px;")
				| Add another file...
