extends ../esct-ver1

append addonjs

block content
		.container-inner 
			//- A. Top Layer
			.white-box
				.green.font.pull-left
					| A. Top Layer
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.center.spacer.grey
					a.small-pad(href="#" class="link-grey") link 1
					| |
					a.small-pad(href="#" class="link-grey") link 2
					| |
					a.small-pad(href="#" class="link-grey") link 3
					| |
					a.small-pad(href="#" class="link-grey") link 4
					| |
					a.small-pad(href="#" class="link-grey") link 5
					| |
					a.small-pad(href="#" class="link-grey") link 6		
				.spacer2
				.center
					| Company Name / Logo
					.company
						| &nbsp;
				.ebrima.font-big.bold.center
					| Event Title / Logo
				.spacer
				.ebrima.font-big.bold.center.green
					| Feb 14.
					span.font 2014
				.company.width25.spacer-small-min
					| &nbsp;
				.ebrima.font-medium.bold.center
					| 4:00 a.m.
				.spacer
				.ebrima.font.bold.center.green
					| Venue Name Venue Name Venue Name
				.spacer
				.center
					button.btn.btn-lg.btn-danger.font-button.big-padding.awsome-pad(type="button")
						| Register
			.spacer

			//- B. Thin Layer
			.white-box
				.green.font.pull-left
					| B. Thin Layer
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.center.spacer.red.font-button.bold
					| The punch line or tag line for this event!
			.spacer

			//- C. Main Content Layer
			.white-box
				.green.font.pull-left
					| C. Main Content Layer
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.center.grey
					a.font-button.bold(href="#" class="link-purple") The Event
					.company
						| &nbsp;
				.spacer
				.pull-left.width40
					img.img-responsive(src="/images-esct/event-avatar.png" alt="")
				.pull-left.width50
						span.red.font-button Here is where you put all of your content.
						br
						| It is the pitch to potential attendees concerning why exactly they 
						| should go to your event. Though you can get into a discussion here 
						| about the different guest speaker you will be having, or the venue, 
						| or location, or the time table, you will have othher layers below 
						| for which to do this.
						.spacer-small
						| Also here you might want to put the 
						span.red.font-button information about  
						br 
						span.red.font-button your company, 
						| society, or organisation. Whether you want to 
						| put that in the paragraph above this one is just a matter of taste.
				.clearfix
			.spacer

			//- D. Guest Speaker Layer 
			.white-box
				.green.font.pull-left
					| D. Guest Speaker Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.center.green.font-button.bold
					| The Speakers
					.company
						| &nbsp;
				.comma
					img(src="/images-esct/comma.svg" alt="")
				.spacer2
				.row
					.col-md-4.col-xs-4
						.center
							img(src="/images-esct/speaker-avatar.svg" alt="")
						.spacer
						.center.green.font-button.font-change
							| Anna Noname
						.company.width98
							| &nbsp;
						.center
							| Large Paragraph about the person
							| or just name and link to further info
							| Large Paragraph about the person
							| or just name and link to further info	
					.col-md-4.col-xs-4
						.center
							img(src="/images-esct/speaker-avatar.svg" alt="")
						.spacer
						.center.green.font-button.font-change
							| when there is a very long name font-change.js works to change the font size of a given class
						.company.width98
							| &nbsp;
						.center
							| Large Paragraph about the person
							| or just name and link to further info
							| Large Paragraph about the person
							| or just name and link to further info		
					.col-md-4.col-xs-4
						.center
							img(src="/images-esct/speaker-avatar.svg" alt="")
						.spacer
						.center.green.font-button.font-change
							| Anna Noname
						.company.width98
							| &nbsp;
						.center
							| Large Paragraph about the person
							| or just name and link to further info
							| Large Paragraph about the person
							| or just name and link to further info				
			.spacer
			//- E. Venue Layer 
			.white-box
				.green.font.pull-left
					| E. Venue Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.pull-left.width35
					img.img-responsive(src="/images-esct/event-avatar.png" alt="")
				.pull-left.width35
					.google-maps
						iframe(width='350', height='19', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.pl/maps?f=q&source=s_q&hl=en&geocode=&q=Gdynia,+Poland&aq=0&oq=gdynia+poland&sll=52.025459,19.204102&sspn=11.244804,28.54248&ie=UTF8&hq=&hnear=Gdynia,+Pomeranian+Voivodeship&t=m&z=11&ll=54.51889,18.530541&output=embed')
				.pull-right.width25
					.venue-spacer
					.red.font-button.right.bold
						| The Venue
					.company.width100
						| &nbsp;
					.right
						| Text about the venue or help in getting to the
						| location or a pitch about how great the venue is
				.clearfix
			.spacer
			//- F. Schedule Layer 
			.white-box
				.green.font.pull-left
					| F. Schedule Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.center.grey
					.font-button.bold.purple
						| Time Table
					.company
						| &nbsp;
				.pull-left.width20.right
					button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad(type="button")
						| Day 1
					.spacer-small
					button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad(type="button")
						| Day 2
					.spacer-small
					button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad(type="button")
						| Day 3
				.pull-left.left-marg.width70
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
				.clearfix
			.spacer
			//- G. Path to Register Layer 
			.white-box
				.green.font.pull-left
					| G. Path to Register Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer2
				.row
					.col-md-7.col-xs-7
						.red.font.center.big-venet-spacer
							| Want to attend The Big Event ?
					.col-md-5.col-xs-5
						button.btn.btn-lg.btn-default.font-button.bigs-padding.huge-pad.bold.purple(type="button")
							| Sign Up Now
							i.left-marg-s.fa.fa-arrow-circle-o-right 
			.spacer
			//- H. Promotion/Contact Layer 
			.white-box
				.green.font.pull-left
					| H. Promotion/Contact Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.center.grey
					.font-button.bold.green
						| Connect
					.company
						| &nbsp;
				.spacer2
				.width80.no-float
					.row
						.col-md-3.col-xs-3
							a(href="#") 
								.rounded-box-green-thick
									.right.green.fa-facebook-size.bigs-padding(style="padding-bottom:0px !important;")
										i.fa.fa-facebook
									.center.font-button.green.comfortaa
										| Facebook
									.center.comfortaa.green
										| Lorem ipsum dolor
						.col-md-3.col-xs-3
							.rounded-box-green-thick
								.center.green.fa-twitter-size
									i.fa.fa-twitter
								.center.font-button.green.comfortaa.twit-spacer
									| Twitter
								.center.comfortaa.green
									| Lorem ipsum dolor
						.col-md-3.col-xs-3
							.rounded-box-green-thick
								.center.green.fa-linkedin-size
									i.fa.fa-linkedin
								.center.font-button.green.comfortaa.linkedin-spacer
									| Linked In
								.center.comfortaa.green
									| Lorem ipsum dolor
						.col-md-3.col-xs-3
							.rounded-box-green-thick
								.center.green.fa-envelope-size
									i.fa.fa-envelope
								.center.font-button.green.comfortaa.mail-spacer
									| Mail
								.center.comfortaa.green
									| Lorem ipsum dolor
			.spacer
			//- I. Sponsors and Partnerships Layer 
			.white-box
				.green.font.pull-left
					| I. Sponsors and Partnerships Layer 
				.pull-right
					//- navigation
					.navbar.navbar-layer(role="navigation")
							ul.nav.navbar-nav.n-layer
								li.dropdown.dropdown-layer-out
									a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
										img(src="/images-esct/dropdown.svg" alt="")
									ul.dropdown-menu.dropdown-layer
										li
											a(href='#') + Add new layer
										li
											a(href='#') + Copy this layer
										li
											a(href='#') + Delete this layer
				.clearfix
				.dotted-line
				.spacer
				.center.grey
					.font-button.bold.red
						| Sponsors
					.company
						| &nbsp;
				.spacer2
				.row
					.col-md-4.col-xs-4
						.rounded-box-green-thin
							.center
								a(href="#") 
									img(src="/images-esct/logo-avatar.svg" alt="")
					.col-md-4.col-xs-4
						.rounded-box-green-thin
							.center
								a(href="#") 
									img(src="/images-esct/logo-avatar.svg" alt="")
					.col-md-4.col-xs-4
						.rounded-box-green-thin
							.center
								a(href="#") 
									img(src="/images-esct/logo-avatar.svg" alt="")
			.spacer