extends ../responsive

block content




	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2


		//- header of the content

	.nspacer

	.col-lg-12.col-md-12.col-xs-12
		.col-lg-2.col-md-2.col-xs-2.pad-right-zero
			img(src="/images/dropbox-icon.svg"  class="img-responsive")
		.col-lg-7.col-md-7.col-xs-7.font-lebig.pad-left-zero.nspacer-big.fontish.back-spacer
			| Event dropbox
		.col-lg-3.col-md-3.col-xs-3.pad-right-zero
			a.pull-right(href="#")
				img(src="/images/upload-button.svg"  style="width:100%;")

	.clearfix
	
	
		//- content

		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix
	

		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix


		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.font-evente.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix


		//- slide
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.width18.pad-right-zero.pull-left
			img(src="/images/logo-avatar-green.svg"  class="img-responsive")

		.width53.pull-left.pad-left-five
			.bg-ashen.filename
				| File name<br />
				| File details

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/download-button.svg"  style="width:100%;")

		.width14.pull-right.pad-left-five
			a(href="#")
				img(src="/images/delete-button.svg"  style="width:100%;")
				
	.clearfix

	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.center.font-evente.color-green				
			| Who can view this file:

	.clearfix

	.nspacer-big
	.no-float.width15.all
		.font-evente.pad-right-five.pull-left.pad-top.fontish
			| All attendees
		.ww.pull-left
			p.check5-green-small
				input(name="", placeholder="", type="checkbox", id="creditcardsmaller4", value="small")
				label(for='creditcardsmaller4',)	 

	.clearfix




		//- dropdowns large
	.no-float.width53.other53.dont-show320

		.width48.inline
			.font-evente.center.cat-text.fontish
				| Certain attendee <br />categories
			.clearfix
			.no-float.font-exception-thin
				ul.nav.navbar-nav.nav-last
					li.dropdown.dropdown-menu-last1
						a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
							| Choose categories
							b.caret
						ul.dropdown-menu.dropdown-menu-last.pull-right
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller441", value="small")
											label(for='creditcardsmaller441',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller442", value="small")
											label(for='creditcardsmaller442',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller443", value="small")
											label(for='creditcardsmaller443',)
							li.border-bottom
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker long name etc tojokof
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller444", value="small")
											label(for='creditcardsmaller444',)
									.clearfix



		.width48.inline
			.font-evente.center.cat-text2.fontish
				| Cetrain individuals
			.clearfix
			.no-float.font-exception-thin
				ul.nav.navbar-nav.nav-last
					li.dropdown.dropdown-menu-last1
						a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
							| Choose individuals
							b.caret
						ul.dropdown-menu.dropdown-menu-last.pull-right
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1441", value="small")
											label(for='creditcardsmaller1441',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1442", value="small")
											label(for='creditcardsmaller1442',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1443", value="small")
											label(for='creditcardsmaller1443',)
							li.border-bottom
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker long name etc tojokof
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1444", value="small")
											label(for='creditcardsmaller1444',)
									.clearfix
		.clearfix




	.clearfix

		//- dropdowns up to 480

		.col-xs-12.show320
			.font-evente.cat-text.fontish
				| Certain attendee categories
			.clearfix
			.font-exception-thin
				ul.nav.navbar-nav.nav-last
					li.dropdown.dropdown-menu-last1
						a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
							| Choose categories
							b.caret
						ul.dropdown-menu.dropdown-menu-last.pull-right
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller441", value="small")
											label(for='creditcardsmaller441',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller442", value="small")
											label(for='creditcardsmaller442',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller443", value="small")
											label(for='creditcardsmaller443',)
							li.border-bottom
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker long name etc tojokof
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller444", value="small")
											label(for='creditcardsmaller444',)
									.clearfix



		.col-xs-12.show320
			.font-evente.cat-text.fontish
				| Cetrain individuals
			.clearfix
			.font-exception-thin
				ul.nav.navbar-nav.nav-last
					li.dropdown.dropdown-menu-last1
						a.dropdown-toggle.dropdown-toggle-last(href='#', data-toggle='dropdown')
							| Choose individuals
							b.caret
						ul.dropdown-menu.dropdown-menu-last.pull-right
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1441", value="small")
											label(for='creditcardsmaller1441',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1442", value="small")
											label(for='creditcardsmaller1442',)
							li
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1443", value="small")
											label(for='creditcardsmaller1443',)
							li.border-bottom
								a(href='/', style="min-height:45px; white-space:normal")
									.pull-left.nspacer.pad-right-ten(style="width:80%;")
										| guest speaker long name etc tojokof
									.pull-right
										p.check5-purple-solid(style="height:25px;")
											input(name="", placeholder="", type="checkbox", id="creditcardsmaller1444", value="small")
											label(for='creditcardsmaller1444',)
									.clearfix




	.nspacer-big

	.col-lg-12.col-md-12.col-xs-12
		.center.font-evente.fontish
			| File will be viewable <b>but not downloadable </b> for anyone who has acccess to your event. <br />
			Would you like to allow general public to also be able to view this file, but not downloand it?<br />
			<b>!(such could help with brand promotion)!</b>

	.clearfix
	.nspacer-awsome

	.col-lg-12.col-md-12.col-xs-12
		.font-evente.pull-left.fontish
			| Allow attendees to upload files?
		.pull-left
			label.checkbox.toggle.candy(style='width: 100px; margin-left:20px; margin-top:4px;', onclick='')
				input.allowAttendeesToCreateTheirOwnCategories(type='checkbox', class="invisible")
				span
					span No
					span Yes
				a.slide-button

	.clearfix			
	.nspacer-big
	.col-lg-12.col-md-12.col-xs-12
		.center
			button.btn.btn-default.font-e2.hide-prof-butt.fontish2(type='submit', style="border-radius: 10px; color:#fff; padding:20px;")
				| Add another file...