extends ../base

block content
		.row-fluid.headerspacer
			.speaker_titlerespond2.smallslid.left
				h5 <b>Inbox:</b>
			.left.speaker_titlerespond2.smallslid
				h5 <b>Lucy Cook</b> - Director of Finance, Delloite
		.clearfix
			.speaker_titlerespond2.smallslid
				h5 <b>Private messages</b>
			.clearfix
			.line
		.row-fluid.headerspacer2.smallslid
			.left.speaker_title2
				| Guest speaker
				.speakerbox
					.left.speaker_title.inner
						img(src="/img/default_speaker.svg", alt="", class="circular")
					.left.speaker_title2.speakerstext
						.smallslid3.smallt 
							| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
						.headerSpacer
							.left
								img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
							.bubbletext.left
								| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
								| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.row-fluid.headerspacer2.smallslid
			.left.speaker_title2
				| Web Designer
				.speakerbox
					.left.speaker_title.inner
						img(src="/img/default_speaker.svg", alt="", class="circular")
					.left.speaker_title2.speakerstext
						.smallslid3.smallt 
							| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
						.headerSpacer
							.left
								img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
							.bubbletext.left
								| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
								| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.row-fluid.center.span12
			//- pagination goes here.
		.clearfix
			.speaker_titlerespond2.smallslid
				h5 <b>Business card recived</b>
			.clearfix
			.line
		.row-fluid.span12.smallslid
			.left.span6
				.left.prof-pic
					img(src="/img/default_speaker.svg", alt="", class="circular" style="margin-left:0px;")
				.left.prof-pic.smallslid
					img(src="/img/card2.svg", alt="", class="arrow" style="margin-top:35px; margin-left:50px;")
			.right.span6.zer
				.left.prof-pic
					img(src="/img/default_speaker.svg", alt="", class="circular" style="margin-left:0px;")
				.left.prof-pic.smallslid
					img(src="/img/card2.svg", alt="", class="arrow" style="margin-top:35px; margin-left:50px;")
		.clearfix
		.row-fluid.center.span12
			//- pagination goes here.
		.clearfix
			.speaker_titlerespond2.smallslid
				h5 <b>Those who saved your profile</b>
			.clearfix
			.line
		.row-fluid.span12.center
			.left.thirty.smallslid4
				img(src="/img/default_speaker.svg", alt="", class="circular" style="padding-bottom:5px;")
				| <b>Lucy Cook</b> <br /> 
				| Director of Finance, Delloite
			.left.thirty
				img(src="/img/default_speaker.svg", alt="", class="circular" style="padding-bottom:5px;")
				| <b>Lucy Cook</b> <br /> 
				| Director of Finance, Delloite
			.left.thirty
				img(src="/img/default_speaker.svg", alt="", class="circular" style="padding-bottom:5px;")
				| <b>Lucy Cook</b> <br /> 
				| Director of Finance, Delloite
		.clearfix
		.row-fluid.center.span12
			//- pagination goes here.
		.speaker_titlerespond2.smallslid
			h5 <b>Public messages</b>
		.clearfix
		.line
		.clearfix
		.row-fluid.headerspacer2.smallslid
			.left.speaker_title2
				| Guest speaker
				.speakerbox
					.left.speaker_title.inner
						img(src="/img/default_speaker.svg", alt="", class="circular")
					.left.speaker_title2.speakerstext
						.smallslid3.smallt 
							| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
						.headerSpacer
							.left
								img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
							.bubbletext.left
								| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
								| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.row-fluid.headerspacer2.smallslid
			.left.speaker_title2
				| Web Designer
				.speakerbox
					.left.speaker_title.inner
						img(src="/img/default_speaker.svg", alt="", class="circular")
					.left.speaker_title2.speakerstext
						.smallslid3.smallt 
							| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
						.headerSpacer
							.left
								img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
							.bubbletext.left
								| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
								| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
								| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.row-fluid.center.span12
			//- pagination goes here.
		.clearfix
		.center3
			.left.headerSpacer.thirty.smallslid3
				input.profile-button-red(type="submit", value="Invite someone via email to take over this profile")
			.left.headerSpacer.thirty
				input.profile-button(type="submit", value="Send this profile’s inbox to an email address")
			.left.headerSpacer.thirty
				input.profile-button(type="submit", value="Send this profile’s inbox to another EventMost user")
		.clearfix

		h5.color.center.smallt 
			| The following message will be sent to the email address you provide:<br /> 
		h5.color.center.smallt 
			| <b>Thank you for attending the event XYZ.</b><br /> 
			| You have 3 private messages, 2 virtual business cards and 5 individuals who saved<br />
			| your EventMost profile waiting for you.<br />
			| To access this feedback/correspondence please visit the following link: <br />
		h5.color.center.smallt 
			| http://www.sedutperspiciatisutemaccusantium<br /> 
		h5.color.center.smallt.headerspacer2
			| Send to:<br /> 


  

		.center.spacer.bluebox-send.neu-send
			input.nin2-send(name="", placeholder="", type="email", id="", required="required", class="file_input_textbox55")
		.right.tops-minus2
			input.profile-sumbit(type="submit", value="SEND")
		.clearfix
		.smallspacer
		

