extends ../base

block content
		.headerspacer2
		.eighty-five
			.thirty1.left
				img(src="/img/default-logo.svg")
			.seventy.right
				.speaker_titlerespond2
					.color.
					h5 <b>Temporibus autem quibusdam et aut officiis</b>
				.headerspacer2
				.left
					.description-text
						| When
					.line
					.left
						img(src="/img/clock.svg", alt="", class="arrow" style="width:50px; height:50x;")
					.left.date2.color
						| 03.15<br />
						| (BST)
					.right_star2.smallslid5
						.image2
							img.image2(src="/img/calendar-icony.svg", alt="" style="width:47px; height:50x;")
							h18
								| 19.02 <br />
								| 2013
				.left.smallslid3
					.description-text
						| Where
					.line
					.left
						img(src="/img/map6.svg", alt="", class="arrow" style="margin-top:-5px; margin-left:-10px;")
					.left.location
						h2 London
						h3 United Kingdom
				.left.smallslid3
					.description-text
						| Event Organizer
					.line
					.left.description-text-small
						| <b>Lucy Cook</b> - Director of Finance, Delloite
				.clearfix
				.headerspacer2
				.left
					.description-text-big
						| Event description
					.line
					.left.description-text-medium
						| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis  praesentium voluptatum deleniti atque corrupti quos 
						| dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt 
						| mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
						| cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas 
						| assumenda est, omnis dolor repellendus.
			.clearfix
		.eighty-five
			.center2
				input.profile-button-small(type="submit", value="Access event")
				input.profile-button-small.smallslid3(type="submit", value="Go back to homepage")

			