extends ../base

block content
		.headerspacer2
		.eighty-five
			.thirty1.left
				img(src="/img/default-logo.svg")
			.seventy.right
				.speaker_titlerespond2
					.color.
					h5 <b>Temporibus autem quibusdam et aut officiis</b>
				.headerspacer2
				.left
					.description-text
						| When
					.line
					.left
						img(src="/img/clock.svg", alt="", class="arrow" style="width:50px; height:50x;")
					.left.date2.color
						| 03.15<br />
						| (BST)
					.right_star2.smallslid5
						.image2
							img.image2(src="/img/calendar-icony.svg", alt="" style="width:47px; height:50x;")
							h18
								| 19.02 <br />
								| 2013
				.left.smallslid3
					.description-text
						| Where
					.line
					.left
						img(src="/img/map6.svg", alt="", class="arrow" style="margin-top:-5px; margin-left:-10px;")
					.left.location
						h2 London
						h3 United Kingdom
				.left.smallslid3
					.description-text
						| Event Organizer
					.line
					.left.description-text-small
						| <b>Lucy Cook</b> - Director of Finance, Delloite
				.clearfix
				.headerspacer2
				.left
					.description-text-big
						| Event description
					.line
					.left.description-text-medium
						| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis  praesentium voluptatum deleniti atque corrupti quos 
						| dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt 
						| mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, 
						| cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas 
						| assumenda est, omnis dolor repellendus.
			.clearfix
		.eighty-five
			.center2
				.half-round2
					.half-round-purple
						| <b>Registration Information</b>
			table.gridtable-payment-yellow
				tr
					th.fiftyfive
						| REGISTRATION TYPE
					th
						| SALES END
					th
						| PRICE
					th
						| FEE
					th
						| QUANTITY
				tr
					td
						| I would like to register as an idividual
					td
						| 19 Sept 2013
					td
						| £25.00
					td
						| £2.15
					td
						dl.dropdown12
							dt
								a.dropx12(href="#")
									| 
							dd
								ul
									li
										a(href="#",) 1
									li
										a(href="#",) 2
									li
										a(href="#",) 3
									li
										a(href="#",) 4
									li
										a(href="#",) 5
									li
										a(href="#",) 6
									li
										a(href="#",) 7
									li
										a(href="#",) 8
									li
										a(href="#",) 9
									li
										a(href="#",) 10
									li
										a(href="#",) 11
									li
										a(href="#",) 12
				tr
					td
						| I would like to register as an idividual but join a team
					td
						| 19 Sept 2013
					td
						| £25.00
					td
						| £2.15
					td
						dl.dropdown12
							dt
								a.dropx12(href="#")
									| 
							dd
								ul
									li
										a(href="#",) 1
									li
										a(href="#",) 2
									li
										a(href="#",) 3
									li
										a(href="#",) 4
									li
										a(href="#",) 5
									li
										a(href="#",) 6
									li
										a(href="#",) 7
									li
										a(href="#",) 8
									li
										a(href="#",) 9
									li
										a(href="#",) 10
									li
										a(href="#",) 11
									li
										a(href="#",) 12
				tr
					td
						| I would like to register a whole team of six
					td
						| 19 Sept 2013
					td
						| £25.00
					td
						| £2.15
					td
						dl.dropdown12
							dt
								a.dropx12(href="#")
									| 
							dd
								ul
									li
										a(href="#",) 1
									li
										a(href="#",) 2
									li
										a(href="#",) 3
									li
										a(href="#",) 4
									li
										a(href="#",) 5
									li
										a(href="#",) 6
									li
										a(href="#",) 7
									li
										a(href="#",) 8
									li
										a(href="#",) 9
									li
										a(href="#",) 10
									li
										a(href="#",) 11
									li
										a(href="#",) 12
				tr
					td
						| Total
					td
						| 
					td
						| <b>£0.00</b>
					td
						| 
					td
						| <b>0</b>
		.eighty-five
			.bg-yellow
				.right
					.right
						input(name="" , type="text", id="", required="required", class="file_input_textbox_registartion" style="")
					.right(style="margin-top:12px;")
						|Enter promotional code :
				.clearfix
				.line2
				.left(style="padding:10px;")
					img(src="/img/credit-cards.svg", alt="", class="arrow")
				.right
					a(href="#", class="register") REGISTER
				.clearfix
		.eighty-five
			.center2.description-text
				| <b>Attending this event as:</b>
			.center2.fiftyfive
				.iconsbox2.left
					input.prof-choice(type="submit", value="Guest Speaker")
					input.prof-choice(type="submit", value="Guest Speaker")
					input.prof-choice(type="submit", value="Guest Speaker")
					input.prof-choice(type="submit", value="Guest Speaker")
				.left.ten
					.inten1
						.inten2
							| or
				.thirty.left.smallslid3
					.description-text(style="margin-top:50px;")
						| <b>Create your own:</b>
						input( placeholder="",, type="text", class="file_input_textbox8" style="font-size:18px; margin-top:20px;")
			.clearfix
		.eighty-five
			.center2
				input.profile-button-red(style="width:20px !important; padding-left:70px; padding-right:70px; font-weight:700;")(type="submit", value="Access event")

			