extends ../esct-ver2

append addonjs

block content
		.container-inner 
			//- A. Top Layer
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| A. Top Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.center.spacer.grey
					a.small-pad(href="#" class="link-grey") link 1
					img(src="/images-esct/circles-small.svg" alt="")
					a.small-pad(href="#" class="link-grey") link 2
					img(src="/images-esct/circles-small.svg" alt="")
					a.small-pad(href="#" class="link-grey") link 3
					img(src="/images-esct/circles-small.svg" alt="")
					a.small-pad(href="#" class="link-grey") link 4
					img(src="/images-esct/circles-small.svg" alt="")
					a.small-pad(href="#" class="link-grey") link 5
					img(src="/images-esct/circles-small.svg" alt="")
					a.small-pad(href="#" class="link-grey") link 6		
				.spacer2
				.center
					| Company Name / Logo
					br
					img(src="/images-esct/circle-thing.svg" alt="")
					.company
						| &nbsp;
				//- reflection works by changing content in css .refleted:before
				.ebrima.font-big.bold.center.reflected
					| Event Title / Logo
				.spacer4
				.ebrima.font-big.bold.center.green
					| Feb 14.2014
				.center
					img(src="/images-esct/circles-small.svg" alt="")
				.ebrima.font-medium.bold.center
					| 4:00 a.m.
				.spacer
				.ebrima.font-mini.center.red
					| Venue Name Venue Name Venue Name
				.spacer
				.center
					button.btn.btn-lg.btn-danger.font-button(type="button")
						| Register
					br
					img(src="/images-esct/circle-thing.svg" alt="")
					br
				.clearfix
			.spacer

			//- B. Thin Layer
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| B. Thin Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.dotted-line
				.outline.center.spacer.green.font.bold
					| The punch line or tag line for this event!
					br
					img(src="/images-esct/circles-small.svg" alt="")
			.spacer

			//- C. Main Content Layer
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| C. Main Content Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer
				.pull-left.width30
					.spacer2
					.center.the-image
						img(src="/images-esct/circles.svg" alt="")
						.on-image
							img(src="/images-esct/logo-avatar2.svg" alt="")
							br
							img(src="/images-esct/circles-small.svg" alt="")
							.outline.center.green.font-button
								| Picture
								br
								| or Logo
							.spacer
							img(src="/images-esct/circle-thing.svg" alt="")
				.pull-left.width70.bigs-pad
						.spacer
						.outline.center.dark.font
							| The Event
							br
							img(src="/images-esct/circles-small.svg" alt="")
						span.red.font-medium Here is where you put all of your content.
						.purple.font16
							| It is the pitch to potential attendees concerning why exactly they 
							| should go to your event. Though you can get into a discussion here 
							| about the different guest speaker you will be having, or the venue, 
							| or location, or the time table, you will have othher layers below 
							| for which to do this.
							.spacer
							| Also here you might want to put the information about your company, 
							| society, or organisation. Whether you want to 
							| put that in the paragraph above this one is just a matter of taste.
				.clearfix
			.spacer

			//- D. Guest Speaker Layer 
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| D. Guest Speaker Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer
				.center.dark.font-button.bold.outline
					| The Speakers
				.spacer2
				.row
					.col-md-4.col-xs-4.left5
						.center.the-image-avatar
							img(src="/images-esct/circles-avatar.svg" alt="")
							.on-the-image
								.circle-image
									img(src="/images-esct/avatar2.svg" alt="")

						.spacer-circles2
						.bg-grey2.left10.reg-padding.drop-shadow2.curved.curved-hz-1
							.center.green.font-button.font-change
								| Anna Noname
							.spacer-small
							.dashed-line
							.spacer-small
							.center
								| Large Paragraph about the person
								| or just name and link to further info
								| Large Paragraph about the person
								| or just name and link to further info	
					.col-md-4.col-xs-4.left10minus
						.center.the-image-avatar
							img(src="/images-esct/circles-avatar.svg" alt="")
							.on-the-image
								.circle-image
									img(src="/images-esct/avatar2.svg" alt="")

						.spacer-circles2
						.bg-grey2.reg-padding.drop-shadow2.curved.curved-hz-1
							.center.green.font-button.font-change
								| Anna Noname
							.spacer-small
							.dashed-line
							.spacer-small
							.center
								| Large Paragraph about the person
								| or just name and link to further info
								| Large Paragraph about the person
								| or just name and link to further info		
					.col-md-4.col-xs-4.left10minus
						.center.the-image-avatar
							img(src="/images-esct/circles-avatar.svg" alt="")
							.on-the-image
								.circle-image
									img(src="/images-esct/avatar2.svg" alt="")

						.spacer-circles2
						.bg-grey2.reg-padding.drop-shadow2.curved.curved-hz-1
							.center.green.font-button.font-change
								| Anna Noname
							.spacer-small
							.dashed-line
							.spacer-small
							.center
								| Large Paragraph about the person
								| or just name and link to further info
								| Large Paragraph about the person
								| or just name and link to further info				
			.spacer
			//- E. Venue Layer 
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| E. Venue Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.spacer
				.pull-left.width30
					.spacer2
					.center.the-image
						img(src="/images-esct/circles.svg" alt="")
						.on-image
							img(src="/images-esct/logo-avatar2.svg" alt="")
							br
							img(src="/images-esct/circles-small.svg" alt="")
							.outline.center.green.font-button
								| Picture
								br
								| or Logo
							.spacer
							img(src="/images-esct/circle-thing.svg" alt="")
				.pull-left.width30.left10minus.reg-padding
						.spacer
						.outline.dark.font
							| The Venue
						.purple.font14.right.spacer-circles2
							| Text about the venue or help
							| in getting to the location
							| or a pitch about
							| how great the venue is
				.pull-left.width40
					.google-maps.drop-shadow2.curved.curved-hz-1
						iframe(width='350', height='19', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.pl/maps?f=q&source=s_q&hl=en&geocode=&q=Gdynia,+Poland&aq=0&oq=gdynia+poland&sll=52.025459,19.204102&sspn=11.244804,28.54248&ie=UTF8&hq=&hnear=Gdynia,+Pomeranian+Voivodeship&t=m&z=11&ll=54.51889,18.530541&output=embed')
				.clearfix
			.spacer
			//- F. Schedule Layer 
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| F. Schedule Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer
				.center.grey
					.font.dark.outline
						| Time Table
				.spacer
				.pull-left.width20.right
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad.bold(type="button")
							| Day 1
					.spacer-small
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad.bold(type="button")
							| Day 2
					.spacer-small
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default.font-small.bigs-padding.huge-pad.bold(type="button")
							| Day 3
				.pull-left.width20.right
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default2.font-small.reg-padding.awsome-pad.bold(type="button")
							| 6:00 a.m
					.spacer-small
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default2.font-small.reg-padding.awsome-pad.bold(type="button")
							| 6:30 a.m
					.spacer-small
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default2.font-small.reg-padding.awsome-pad.bold(type="button")
							| 7:00 a.m
					.spacer-small
					.drop-shadow2.curved.curved-hz-1.pull-left.left25
						button.btn.btn-lg.btn-default2.font-small.reg-padding.awsome-pad.bold(type="button")
							| 7:20 a.m
				.pull-left.left-marg.width50
					.rounded-box-purple			
						input.input-grey.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
					.spacer-small
					.rounded-box-purple
						input.input-grey.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
					.spacer-small
					.rounded-box-purple
						input.input-grey.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
					.spacer-small
					.rounded-box-purple
						input.input-grey.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
				.clearfix
			.spacer
			//- G. Path to Register Layer 
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| G. Path to Register Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer2
				.row
					.col-md-7.col-xs-7
						.green.font.center.big-venet-spacer.outline
							| Want to attend The Big Event ?
					.col-md-5.col-xs-5.spacer
						a.font(href="#" class="link-dark") 
							| Sign Up Now
							i.left-marg-s.fa.fa-arrow-circle-o-right 
			.spacer
			//- H. Promotion/Contact Layer 
			.white-box(style="height:405px;")
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| H. Promotion/Contact Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer
				.center.grey
					.font.bold.dark.outline
						| Connect
				.spacer
				.width80.no-float
					.big-image
						img(src="/images-esct/big-circles.svg" alt="")
						a(href="#") 
							.on-image-face
								.center.purple.fa-facebook-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-facebook
								.center.font-button.purple
									| Facebook
								.center.purple.font-tiny
									| Lorem ipsum dolor
						a(href="#") 
							.on-image-twitter
								.right.purple.fa-twitter-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-twitter
								.font-button.purple.spacer-small-min
									| Twitter
								.purple.font-tiny
									| Lorem ipsum dolor
						a(href="#") 
							.on-image-linkedin
								.right.purple.fa-linkedin-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-linkedin
								.font-button.purple.spacer-small-min
									| Linkedin
								.purple.font-tiny
									| Lorem ipsum dolor
						a(href="#") 
							.on-image-envelope
								.center.purple.fa-envelope-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-envelope
								.font-button.purple.spacer-mini-min.center
									| Mail
								.purple.font-tiny.center
									| Lorem ipsum dolor
					.spacer
			.spacer
			//- I. Sponsors and Partnerships Layer 
			.white-box
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| I. Sponsors and Partnerships Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.spacer
				.center.grey
					.font.bold.dark.outline
						| Sponsors
				.spacer2
				.row.width90.no-float
					.col-md-3.col-xs-3.center
						a.left-marg-s(href="#") 
							img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						img.left25(src="/images-esct/circles-small.svg" alt="")
						img.spacer2.left37minus(src="/images-esct/circle-thing.svg" alt="")
					.col-md-3.col-xs-3.center
						a.left-marg-s(href="#") 
							img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						img.left25(src="/images-esct/circles-small.svg" alt="")
						img.spacer2.left37minus(src="/images-esct/circle-thing.svg" alt="")
					.col-md-3.col-xs-3.center
						a.left-marg-s(href="#") 
							img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						img.left25(src="/images-esct/circles-small.svg" alt="")
						img.spacer2.left37minus(src="/images-esct/circle-thing.svg" alt="")
					.col-md-3.col-xs-3.center
						a.left-marg-s(href="#") 
							img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						img.left25(src="/images-esct/circles-small.svg" alt="")
						img.spacer2.left37minus(src="/images-esct/circle-thing.svg" alt="")
					.clearfix
					.spacer
			.spacer