extends ../esct-ver3

append addonjs

block content
		.container-inner 
			//- A. Top Layer
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| A. Top Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.center.spacer.grey
					.spacer
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg round-left") link 1
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg") link 2
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg") link 3
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg") link 4
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg") link 5
					a.drop-shadow2.curved.curved-hz-1(href="#" class="link-blu-bg round-right") link 6		
				.spacer2
				.bigs-padding
					.left.font-medium
						| Company Name / Logo
					.spacer
					.font-big
						| Event Title / Logo
					.spacer2
						.font-button.dark.pull-left
							| Venue Name Venue Name Venue Name
						.font.dark.pull-right
							| Feb 14.2014
						.clearfix
						.font-button.dark.pull-left
							| Venue Name Venue Name Venue Name
						.font.dark.pull-right
							| 4:00 a.m.
						.clearfix
					.spacer2
						button.btn.btn-lg.btn-danger.font.drop-shadow2.curved.curved-hz-1(type="button")
							| Register
					.clearfix
			.spacer

			//- B. Thin Layer
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| B. Thin Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.center.dark.font-big
						| The punch line or tag line for this event!
			.spacer

			//- C. Main Content Layer
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| C. Main Content Layer
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.font
						| The Event
				.pull-left.width30
					.spacer2
					.center.bg-white.bigs-padding
						.spacer4
						img(src="/images-esct/logo-avatar2.svg" alt="")
						.font.dark.center
							| Picture or Logo
						.spacer4
				.pull-left.width70.bigs-pad
						.spacer3
						span.purple.font-medium Here is where you put all of your content.
						.purple.font16
							| It is the pitch to potential attendees concerning why exactly they 
							| should go to your event. Though you can get into a discussion here 
							| about the different guest speaker you will be having, or the venue, 
							| or location, or the time table, you will have othher layers below 
							| for which to do this.
							.spacer
							| Also here you might want to put the information about your company, 
							| society, or organisation. Whether you want to 
							| put that in the paragraph above this one is just a matter of taste.

				.clearfix
				.spacer
			.spacer

			//- D. Guest Speaker Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| D. Guest Speaker Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.font
						| The Speakers
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width20.spheight
					img(src="/images-esct/speaker-avatar2.svg" alt="")
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width80.spheight.border-left-no
					.dark.font.font-change
						| Anna Noname
					p Large Paragraph about the person
				.clearfix
				.spacer
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width20.spheight
					img(src="/images-esct/speaker-avatar2.svg" alt="")
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width80.spheight.border-left-no
					.dark.font.font-change
						| Anna Noname
					p Large Paragraph about the person
				.clearfix
				.spacer
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width20.spheight
					img(src="/images-esct/speaker-avatar2.svg" alt="")
				.pull-left.bg-white.grey-border.bigs-padding.padding-bottom-zero.width80.spheight.border-left-no
					.dark.font.font-change
						| Anna Noname
					p Large Paragraph about the person
				.clearfix
				.spacer2
			.spacer
			//- E. Venue Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| E. Venue Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.pull-left.width30
					.font.bigs-padding
						| The Venue
					.center.bg-white.bigs-padding
						.spacer4
						img(src="/images-esct/logo-avatar2.svg" alt="")
						.font.dark.center
							| Picture or Logo
						.spacer4
				.pull-left.width30.bigs-pad
						.spacer-circles2
						.dark.font14.right
							| Text about the venue
							| or help in getting to
							| the location
							| or a pitch about
							| how great the venue is
				.pull-left.width40
					.spacer-small
					.google-maps.drop-shadow2.curved.curved-hz-1
						iframe(width='350', height='19', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.pl/maps?f=q&source=s_q&hl=en&geocode=&q=Gdynia,+Poland&aq=0&oq=gdynia+poland&sll=52.025459,19.204102&sspn=11.244804,28.54248&ie=UTF8&hq=&hnear=Gdynia,+Pomeranian+Voivodeship&t=m&z=11&ll=54.51889,18.530541&output=embed')
				.clearfix
				.spacer
			.spacer
			//- F. Schedule Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| F. Schedule Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.font
						| Time Table
				.spacer
				.pull-left.width20.right
					.pull-left.left25
						button.btn.btn-lg.btn-danger.drop-shadow2.curved.curved-hz-1.font-small(type="button")
							| Day 1
					.spacer-small
					.pull-left.left25
						button.btn.btn-lg.btn-danger.drop-shadow2.curved.curved-hz-1.font-small(type="button")
							| Day 2
					.spacer-small
					.pull-left.left25
						button.btn.btn-lg.btn-danger.drop-shadow2.curved.curved-hz-1.font-small(type="button")
							| Day 3
				.pull-left.left-marg.width80
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Registration time", placeholder="Registration time")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
					.spacer-small
					.rounded-box-purple
						.col-md-3.col-xs-3
							input.red.font-button.input-white.spacer-mini-min(type="text", value="time", placeholder="time")
						.col-md-9.col-xs-9				
							input.input-white.spacer-mini(type="text", value="Lorem Ipsum Dolor", placeholder="Lorem Ipsum Dolor")
				.clearfix
				.spacer2
			.spacer
			//- G. Path to Register Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| G. Path to Register Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.row
						.col-md-7.col-xs-7
							.dark.font-medium.center.spacer-small
								| Want to attend The Big Event ?
						.col-md-5.col-xs-5
							button.btn.btn-lg.btn-danger.font.drop-shadow2.curved.curved-hz-1(type="button")
								| Sign Up Now
								i.left-marg-s.fa.fa-arrow-circle-o-right 
			.spacer
			//- H. Promotion/Contact Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| H. Promotion/Contact Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.font
						| Connect
				.pull-left.left-marg-big
						a(href="#") 
								.dark.fa-facebook-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-facebook
								.font-button.dark
									| Facebook
								.dark.font-tiny
									| Lorem ipsum dolor
				.pull-left.left-marg-big
						a(href="#") 
								.dark.fa-twitter-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-twitter
								.font-button.dark
									| Twitter
								.dark.font-tiny
									| Lorem ipsum dolor
				.pull-left.left-marg-big
						a(href="#") 
								.dark.fa-linkedin-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-linkedin
								.font-button.dark
									| Linkedin
								.dark.font-tiny
									| Lorem ipsum dolor
				.pull-left.left-marg-big
						a(href="#") 
								.dark.fa-envelope-size.bigs-padding(style="padding-bottom:0px !important;")
									i.fa.fa-envelope
								.font-button.dark
									| Mail
								.dark.font-tiny
									| Lorem ipsum dolor
				.clearfix
				.spacer2
			.spacer
			//- I. Sponsors and Partnerships Layer 
			.white-box.drop-shadow.curved.curved-hz-1
				.top-banner.drop-shadow.curved.curved-hz-1
					.reg-padding
						.white.font.pull-left.shadow.left-marg-s
							| I. Sponsors and Partnerships Layer 
						.pull-right
							//- navigation
							.navbar.navbar-layer(role="navigation")
									ul.nav.navbar-nav.n-layer
										li.dropdown.dropdown-layer-out
											a(href="#" class="dropdown-toggle " data-toggle="dropdown") 
												img.spacer-small(src="/images-esct/dropdown-white.svg" alt="")
											ul.dropdown-menu.dropdown-layer
												li
													a(href='#') + Add new layer
												li
													a(href='#') + Copy this layer
												li
													a(href='#') + Delete this layer
						.clearfix
				.clearfix
				.bigs-padding
					.row
						.col-md-8.col-xs-8
							.font
								| Sponsors
							.spacer2
							.pull-left
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
							.pull-left.left-marg
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
							.pull-left.left-marg
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
							.pull-left.left-marg
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						.col-md-4.col-xs-4
							.font
								| Partners
							.spacer2
							.pull-left
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
							.pull-left.left-marg
								img(src="/images-esct/logo-avatar2.svg" alt="" style="width:103px; height:65px;")
						.clearfix
					.clearfix
					.spacer
			.spacer