extends ../esct

append addonjs

block content
		.container-tool
			//- left side
			.side.pull-left
				//- it's on opcacity 1.0 when non active should be 0.5
				#white-overlay
					.center
						button.btn.btn-default-green.purple.font-small.small-padding.bold(type="button")
								| Back to
								br
								| Full Template
					.spacer
					.font-small.bold.center
						a(href="#" class="link-purple") View Full Site
							img.spacer-small(src="images-esct/full-site.svg" alt="")
					.spacer2
					.font-small.bold.center.green
						| Border
						br
						| formatting
					.spacer-small
					.center.dark.font-small.bold
						| Type
					.spacer-small
					.navbar.navbar-with-caret(role="navigation")
						ul.nav.navbar-nav
							li.dropdown.with-caret
								a.link-caret.bold(href="#" class="pull-left dropdown-toggle" data-toggle="dropdown") Solid 
								.pull-right.darkbg-carret
									b.caret
								ul.dropdown-menu.dropdown-menu-caret
									li
										a(href='#') Dotted
									li
										a.no-border-bottom(href='#') Dashed
									.clearfix
					.center.dark.font-small.bold
						| Color
					.spacer-small
					//- just a placeholder for color tool from where to pick
					img(src="images-esct/colors2.png" alt="")
					.spacer-small
					.center.dark.font-small.bold
						| Corner radius
					.spacer-small
					.navbar.navbar-with-caret(role="navigation")
						ul.nav.navbar-nav.left-marg-s2
							li.dropdown.with-caret
								a.link-caret2.bold(href="#" class="pull-left dropdown-toggle" data-toggle="dropdown") 1
								.pull-right.darkbg-carret
									b.caret
								ul.dropdown-menu.dropdown-menu-caret.caret-smaller
									li
										a(href='#') 2
									li
										a.no-border-bottom(href='#') 3
									.clearfix
					.center.green.font-small.bold
						| Background color
					.spacer-small
					//- just a placeholder for color tool from where to pick
					img(src="images-esct/colors2.png" alt="")
					.spacer-small
					.center.dark.font-small.bold
						| Transparent
					.radio-wrap.left-marg-bigs
						input.radio(type="radio" id="9" value="9")
			//- main
			.main.pull-left
				#white-overlay
					.left-marg-s.font-button.green.bold
						| Choose background:
					.width70.pull-left
						.dotted-line-green
						.spacer-small
						.width30.pull-left
							.font-small.dark.bold.left-marg-s
								| Upload
								br
								| picture
							.spacer-small
							.image-upload.left-marg-s.pull-left
								label(for="file-input")
									img(src="images-esct/fake-upload.svg" alt="", style="cursor:pointer")
								input(id="file-input" type="file")
							.pull-left.left-marg-s
								a(href="#" class="link-dark")
									img(src="images-esct/upload.svg" alt="", style="cursor:pointer")
						.pull-left
							.font-small.dark.bold.spacer-small
								| or
						.width30.pull-left.left-marg-s
							.font-small.dark.bold.left-marg-s
								| Choose one 
								br
								| of ours
							.spacer-small
							//- just a placeholder for color tool from where to pick
							img.left-marg-s(src="images-esct/color-pallete.svg" alt="")
						.pull-left
							.font-small.dark.bold.spacer-small
								| or
						.width30.pull-left.left-marg-s
							.font-small.dark.bold.left-marg-s
								| Choose color
								br
								| and texture
							.spacer-small
							//- just a placeholder for color tool from where to pick
							img.left-marg-s(src="images-esct/colors.png" alt="")
						.clearfix
					.width30.pull-left.left-marg-s
						.pull-left.left-marg
							.dark.font-small.bold.spacer-small
								| Add gadient
							.spacer2
							.dark.font-small.bold.spacer-small
								| Make this layer
								br
								| a transparent surface
						.radio-wrap.pull-right.right-marg-s
							input.radio(type="radio" id="one" value="one")
							.spacer2
							input.radio(type="radio" id="two" value="two")
					.clearfix



				//- Layer which is being edited
				.spacer		
				.container-inner
				
					//- A. Top Layer
					//- white box class changed to grey box and top of the layer dissappears
					.grey-box
						#white-overlay.bigs-padding
							.center.spacer.grey
								//- for marking - marking-border class, and for tips normalTip exampleTip
								a.small-pad.marking-border.something(href="#" class="disabled normalTip exampleTip" title="Press SHIFT button and hold while stretching to stretch in both dimensions at same time") link 1
								| |
								a.small-pad(href="#" class="disabled" title="") link 2
								| |
								a.small-pad(href="#" class="disabled") link 3
								| |
								a.small-pad(href="#" class="disabled") link 4
								| |
								a.small-pad(href="#" class="disabled") link 5
								| |
								a.small-pad(href="#" class="disabled") link 6		
							.spacer2
							.center
								| Company Name / Logo
								.company
									| &nbsp;
							.ebrima.font-big.bold.center
								| Event Title / Logo
							.spacer
							.ebrima.font-big.bold.center.green
								| Feb 14.
								span.font 2014
							.company.width25.spacer-small-min
								| &nbsp;
							.ebrima.font-medium.bold.center
								| 4:00 a.m.
							.spacer
							.ebrima.font.bold.center.green
								| Venue Name Venue Name Venue Name
							.spacer
							.center
								button.btn.btn-lg.btn-danger.font-button.big-padding.awsome-pad(type="button" )
									| Register
							.arrow-down
								a(href="#")
									img(src="images-esct/arrow-down.svg" alt="")
						.go-back
							a(href="#")
								img(src="images-esct/go-back.svg" alt="")
					.spacer
			//- Right side
			.side.pull-left
				#white-overlay
					.right-tool-spacer
					.center.green.font-small.bold
						| Link text formatting
					.spacer-small
					.center.dark.font-small.bold
						| Size
					.spacer-small
					.navbar.navbar-with-caret(role="navigation")
						ul.nav.navbar-nav.left-marg-s2
							li.dropdown.with-caret
								a.link-caret2.bold(href="#" class="pull-left dropdown-toggle" data-toggle="dropdown") 20
								.pull-right.darkbg-carret
									b.caret
								ul.dropdown-menu.dropdown-menu-caret.caret-smaller
									li
										a(href='#') 25
									li
										a.no-border-bottom(href='#') 3
									.clearfix
					.width30.center.pull-left
						a(href="#") 
							img(src="images-esct/left-align.svg" alt="")
					.width30.center.pull-left.left-marg-t2
						a(href="#") 
							img(src="images-esct/center-align.svg" alt="")
					.width30.center.pull-right
						a(href="#") 
							img(src="images-esct/right-align.svg" alt="")
					.clearfix
					.spacer-small
					.width50.center.pull-left.left-marg-t
						a(href="#") 
							img(src="images-esct/left-in.svg" alt="")
					.width50.center.pull-left
						a(href="#") 
							img(src="images-esct/left-nr.svg" alt="")
					.clearfix
					.spacer
					.center.dark.font-small.bold
						| Formating
					.pull-left.dark.check-height2
						p.check-black.pull-left
							input(type="checkbox", id="italic", value="small")
							label(for='italic')
					.pull-left.dark.font-tiny.bold.spacer-check-black
						| Italic
					.clearfix
					.pull-left.dark.check-height2
						p.check-black.pull-left
							input(type="checkbox", id="bold", value="small")
							label(for='bold')
					.pull-left.dark.font-tiny.bold.spacer-check-black
						| Bold
					.clearfix
					.pull-left.dark.check-height2
						p.check-black.pull-left
							input(type="checkbox", id="underline", value="small")
							label(for='underline')
					.pull-left.dark.font-tiny.bold.spacer-check-black
						| Underline
					.clearfix
					.spacer
					.center.dark.font-small.bold
						| Type
					.spacer-small
					.navbar.navbar-with-caret(role="navigation")
						ul.nav.navbar-nav
							li.dropdown.with-caret
								a.link-caret.bold(href="#" class="pull-left dropdown-toggle" data-toggle="dropdown") Arial 
								.pull-right.darkbg-carret
									b.caret
								ul.dropdown-menu.dropdown-menu-caret
									li
										a(href='#') Helvetica
									li
										a.no-border-bottom(href='#') Raleway
									.clearfix
					.center.dark.font-small.bold
						| Color
					.spacer-small
					//- just a placeholder for color tool from where to pick
					img(src="images-esct/colors2.png" alt="")
					.spacer-small
			.clearfix


