extends ../responsive

block content

	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2


	.nspacer
	.col-md-2.col-xs-2.col-sm-2.hide-mini3-except-smart
		.pull-right
			img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")
	.col-md-6.col-xs-6.col-sm-6.hide-mini3-except-smart
		.text-left.font-s.nspacer-bigger
			| <b>Lucy Cook</b> - Director of Finance, Delloite<br />
			img(src="/images/message-icon-small.svg", alt="", class="pad-right-ten")
			a(href="#", class="link-purple")
				| lucy.cook@mediaart.com
		.pull-left.font-s.nspacer
			.pull-left.text-right
				| Website: <br />
				| Location: <br />
				| Interests: <br />
				| Educaction: 
			.pull-right.pad-left-ten
				| <b>media.com</b> <br />
				| <b>London</b> <br />
				| <b>sport, photography</b> <br />
				| <b>MBA, Oxford University</b> 
		.clearfix
	.col-md-4.col-xs-4.col-sm-4.hide-mini3-except-smart
		.right.iconsbox.spacerbig
			button.btn.btn-primary.font-x(type='submit', href="", style="width:125px; padding:10px; padding-left:35px; padding-right:35px; margin-right:20px;")
				| EDIT
			.nspacer-small
			button.btn.btn-primary.font-x(type='submit', href="", style="width:125px; padding:10px; padding-left:35px; padding-right:35px; margin-right:20px;")
				| DELETE


	.col-md-4.col-xs-4.col-sm-4.hide-except-smart
		img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")

	.col-md-8.col-xs-8.col-sm-8.hide-except-smart
		.text-right.font-s.nspacer-bigger
			| <b>Lucy Cook</b> - Director of Finance, Delloite<br />
			img(src="/images/message-icon-small.svg", alt="", class="pad-right-ten")
			a(href="#", class="link-purple")
				| lucy.cook@mediaart.com
	.nspacer.hide-except-smart
		.clearfix

	.clearfix
	.nspacer-big


	.clearfix.center.hide-all3
	.nspacer.hide-all3
	.col-md-12.col-xs-12.col-sm-12.font-s.hide-except-smart
		.pull-left
			.pull-left.text-right
				| Website: <br />
				| Location: <br />
				| Interests: <br />
				| Educaction: 
			.pull-right.pad-left-ten
				| <b>media.com</b> <br />
				| <b>London</b> <br />
				| <b>sport, photography</b> <br />
				| <b>MBA, Oxford University</b> 

	.clearfix.hide-except-smart
	.col-md-12.col-xs-12.col-sm-12.hide-except-smart
		.center
		.iconsbox.nspacer
			button.btn.btn-primary.font-x(type='submit', href="", style="width:85px; padding:10px; padding-left:35px; padding-right:35px; margin-right:20px;")
				| EDIT
			button.btn.btn-primary.font-x(type='submit', href="", style="width:85px; padding:10px; padding-left:35px; padding-right:35px; margin-right:20px;")
				| DELETE
	.clearfix
	.nspacer-big
	.col-md-7.col-xs-7.col-sm-7.hide-mini3-except-smart
			.font-e1
				| Description: 
			.font-x 
				| Sed ut perspiciatis <b>unde omnis iste natus error sit  voluptatem accusanti</b> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
				| inventore veritatis  et quasi architecto beatae vitae dicta sunt explicabo.  <b>Nemo enim ipsam </b>voluptatem quia voluptas sit  aspernatur aut odit 
				| aut  fugit, sed quia consequuntur  magni dolores eos qui ratione voluptatem  sequi nesciunt. Neque porro quisquam est, qui dolorem.
	.clearfix

	.col-md-12.col-xs-12.col-sm-12.hide-except-smart
			.font-e1
				| Description: 
			.font-x 
				| Sed ut perspiciatis <b>unde omnis iste natus error sit  voluptatem accusanti</b> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
				| inventore veritatis  et quasi architecto beatae vitae dicta sunt explicabo.  <b>Nemo enim ipsam </b>voluptatem quia voluptas sit  aspernatur aut odit 
				| aut  fugit, sed quia consequuntur  magni dolores eos qui ratione voluptatem  sequi nesciunt. Neque porro quisquam est, qui dolorem.

	.nspacer-big
	.col-md-12.col-xs-12.col-sm-12.hide-mini3-except-smart
		.font2.semi-bold
			| Lucy Cook’s wall
		.line-purple
		.col-md-2.col-xs-2.col-sm-2
			.font-e1
				| Guest speaker
			img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")
		.col-md-10.col-xs-10.col-sm-10.nspacer-bigger
			.font-e1.bigger-pad-left
				| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
			.nspacer
			.pull-left
				img.pull-left.bubble-responsive(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.nspacer
		.col-md-2.col-xs-2.col-sm-2
			.font-e1
				| Guest speaker
			img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")
		.col-md-10.col-xs-10.col-sm-10.nspacer-bigger
			.font-e1.bigger-pad-left
				| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
			.nspacer
			.pull-left
				img.pull-left(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.nspacer
		.col-md-2.col-xs-2.col-sm-2
			.font-e1
				| Guest speaker
			img(src="/images/default_speaker.svg", alt="", class="circularespond img-responsive")
		.col-md-10.col-xs-10.col-sm-10.nspacer-bigger
			.font-e1.bigger-pad-left
				| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
			.nspacer
			.pull-left
				img.pull-left(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.nspacer

	.col-md-12.col-xs-12.col-sm-12.hide-except-smart
		.font2.semi-bold
			| Lucy Cook’s wall
		.line-purple
		.clearfix
			.font-e1.pull-left
				| Guest speaker
			.clearfix
			.col-md-5.col-xs-5.col-sm-5
				img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
			.col-md-7.col-xs-7.col-sm-7
				.font-e1(style="margin-top:30px;")
					| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
		.col-md-12.col-xs-12.col-sm-12
			.pull-left
				img.pull-left.bubble-responsive(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
				| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
				| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
		.clearfix
		.nspacer
			.font-e1.pull-left
				| Guest speaker
			.clearfix
			.col-md-5.col-xs-5.col-sm-5
				img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
			.col-md-7.col-xs-7.col-sm-7
				.font-e1(style="margin-top:30px;")
					| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
		.clearfix
		.col-md-12.col-xs-12.col-sm-12
			.pull-left
				img.pull-left.bubble-responsive(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
		.clearfix
		.nspacer
			.font-e1.pull-left
				| Guest speaker
			.clearfix
			.col-md-5.col-xs-5.col-sm-5
				img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
			.col-md-7.col-xs-7.col-sm-7
				.font-e1(style="margin-top:30px;")
					| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
		.clearfix
		.col-md-12.col-xs-12.col-sm-12
			.pull-left
				img.pull-left.bubble-responsive(src="/images/bubble-left-grey.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-grey.psev.post-width.font-x 
				| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
		.clearfix

	.center(style='height:35px;')
		ul.pagination
			li
				a(href='#') «
			li.active
				a(href='#') 1
			li
				a(href='#') 2
			li
				a(href='#') 3
			li.disabled
				a(href='#') ...
			li
				a(href='#') 5
			li
				a(href='#') »
	.clearfix
	.nspacer
	.col-sm-12.col-xs-12.col-md-12.hide-mini3-except-smart
		.col-sm-2.col-xs-2.col-md-2
		.col-sm-10.col-xs-10.col-md-10
			.pull-left
				img.pull-left(src="/images/bubble-left-blue.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-green.psev.post-width-text
				textarea.postcommentarea(placeholder="Post a comment here...")
				.pull-right
					a(href="#",) 
						img(src="/images/post-button.svg", alt="", class="img-responsive post-butt")
			.clearfix
			.nspacer
			.pull-right
				a(href="",)
				button.btn.btn-default.font-e.hide-prof-butt(type='submit', style="border-radius: 10px; color:#fff; padding:20px;")
					| Hide profile
	.col-sm-12.col-xs-12.col-md-12.hide-except-smart
			.pull-left
				img.pull-left.bubble-responsive(src="/images/bubble-left-blue.svg", alt="", style="vertical-align:top;")
			.pull-left.bg-green.psev.post-width-text
				textarea.postcommentarea(placeholder="Post a comment here...")
				.pull-right
					a(href="#",) 
						img(src="/images/post-button.svg", alt="", class="img-responsive post-butt")
			.clearfix
			.nspacer
			.pull-right
				a(href="",)
				button.btn.btn-default.font-e.hide-prof-butt(type='submit', style="border-radius: 10px; color:#fff; padding:20px;")
					| Hide profile
	.clearfix

	.nspacer-big
	.col-sm-3.col-xs-3.col-md-3.lower
		button.btn.btn-default.font-e2.hide-prof-butt(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:20px;")
			| View this profile inbox <br /> 

	.col-sm-3.col-xs-3.col-md-3.lower
		button.btn.btn-info.font-e2.hide-prof-butt(type='submit', style="height:95px; width:100%; border-radius: 10px; padding:20px;")
			| Invite someone via email <br /> to take over this profile

	.col-sm-3.col-xs-3.col-md-3.lower
		button.btn.btn-primary.font-e2.hide-prof-butt(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:20px;")
			| Send this profile’s inbox <br /> to an email address

	.col-sm-3.col-xs-3.col-md-3.lower
		button.btn.btn-default.font-e2.hide-prof-butt(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:20px;")
			| Send this profile’s inbox <br /> to another EventMost user


	.col-sm-12.col-xs-12.col-md-12.defer.no-float.center
		.inline.center
			button.btn.btn-default.font-e2(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:10px;")
				| View this <br />profile inbox <br /> 
		.inline
			button.btn.btn-info.font-e2(type='submit', style="height:95px; width:100%; border-radius: 10px; padding:10px;")
				| Invite someone <br />via email to take<br /> over this profile
		.inline
			button.btn.btn-primary.font-e2(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:10px;")
				| Send this<br /> profile’s inbox <br /> to an email address
		.inline
			button.btn.btn-default.font-e2(type='submit', style="height:95px; width:100%; border-radius: 10px; color:#fff; padding:10px;")
				| Send this <br />profile’s inbox <br /> to another<br /> EventMost user



	.col-sm-11.col-xs-11.col-md-11.defer2.no-float
		.center
			button.btn.btn-default.font-e2(type='submit', style=" width:100%; border-radius: 10px; color:#fff; padding:20px;")
				| View this profile inbox <br /> 
		.center.nspacer
			button.btn.btn-info.font-e2(type='submit', style="width:100%; border-radius: 10px; padding:20px;")
				| Invite someone via email <br /> to take over this profile
		.center.nspacer
			button.btn.btn-primary.font-e2(type='submit', style="width:100%; border-radius: 10px; color:#fff; padding:20px;")
				| Send this profile’s inbox <br /> to an email address
		.center.nspacer
			button.btn.btn-default.font-e2(type='submit', style="width:100%; border-radius: 10px; color:#fff; padding:20px;")
				| Send this profile’s inbox <br /> to another EventMost user

	.clearfix