extends ../responsive

block content




	.col-xs-12.hide-all2
		form(method="POST", accept-charset="utf-8")
			input.gonew2.pull-right.header-links(type="button", value="GO", style="width:10%;")
			input(type="hidden", name="_csrf", value=token)
			input.pull-right.font-s.search-input.pad-left-ten.header-links(type="search", placeholder="search events or people", style="width:87%;")
	.clearfix.hide-all2


		//- content

	.nspacer
	.col-md-3.col-xs-3.col-sm-3.dont-show320
		.font-s.center
			| Guest speaker
		.center.nspacer
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.col-md-9.col-xs-9.col-sm-9.dont-show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.clearfix.dont-show320

	.nspacer.dont-show320
	.line-purple.dont-show320



	.nspacer.dont-show320
	.col-md-3.col-xs-3.col-sm-3.dont-show320
		.font-s.center
			| Guest speaker
		.center.nspacer
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.col-md-9.col-xs-9.col-sm-9.dont-show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.clearfix.dont-show320

	.nspacer.dont-show320
	.line-purple.dont-show320



	.nspacer.dont-show320
	.col-md-3.col-xs-3.col-sm-3.dont-show320
		.font-s.center
			| Guest speaker
		.center.nspacer.width100
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.col-md-9.col-xs-9.col-sm-9.dont-show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.clearfix.dont-show320

	.nspacer.dont-show320
	.line-purple.dont-show320


		//- content small devices


	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s.center
			| Guest speaker
		.center.nspacer
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.nspacer.show320

	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.nspacer.show320
	.line-purple.show320

	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s.center
			| Guest speaker
		.center.nspacer
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.nspacer.show320

	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.nspacer.show320
	.line-purple.show320

	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s.center
			| Guest speaker
		.center.nspacer
			img(src="/images/default_speaker.svg", alt="", class="circularespond", style="width:100%;")
		.font-s.nspacer-bigger.center
			| <b>Lucy Cook</b> <br />Director of Finance, Delloite

	.nspacer.show320

	.col-md-12.col-xs-12.col-sm-12.show320
		.font-s
			| <b>My note:</b>
		.nspacer
		textarea.postcommentarea-ashen

	.nspacer.show320
	.line-purple.show320