extends ../base

block content
	.row-fluid.color.spacer
		.left.speaker_title.inner
			img(src="/img/default_speaker.svg", alt="", class="circularespond")
		.left.event-size.text-right.smallslid.spacer
			| <b>Lucy Cook</b> - Director of Finance, Delloite<br />
			| Guest speaker<br />
			img(src="/img/email-icon-small2.svg", alt="", style="padding-right:5px;")
			a(href="#", class="link3")
				| lucy.cook@mediaart.com
		.clearfix
		.right.iconsbox.spacerbig
			a(href="#", class="link1")
				img(src="/img/send-private-rev.svg", alt="", style="padding-right:5px;")
			a(href="#", class="link1")
				img(src="/img/send-card-rev.svg", alt="", style="padding-right:5px;")
			a(href="#", class="link1")
				img(src="/img/save-profile-rev.svg", alt="", style="padding-right:5px; padding-top:5px;")
			a(href="#", class="link1")
				img(src="/img/exit-person.svg", alt="", style="padding-right:5px; padding-top:5px;")
		.left.spacerbig
			.left.headerSpacer.event-size2.text-right
				| Name: <br />
				|Position: <br />
				| Company: <br />
			.right.event-size2.headerSpacer.zero2
				| <b>Lucy Cook</b> <br />
				| <b>Guest Speaker</b> <br />
				| <b>Media Inc.</b> <br />
		.left.smallslid3.spacerbig
			.left.headerSpacer.event-size2.text-right
				| Website: <br />
				| Location: <br />
				| Interests: <br />
				| Educaction: 
			.right.event-size2.headerSpacer.zero2
				| <b>media.com</b> <br />
				| <b>London</b> <br />
				| <b>sport, photography</b> <br />
				| <b>MBA, Oxford University</b> 
		.span8.zer.spacerbigger
			.left.event-size3
				| Description: 
			.left.event-size
				| Sed ut perspiciatis <b>unde omnis iste natus error sit  voluptatem accusanti</b> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
				| inventore veritatis  et quasi architecto beatae vitae dicta sunt explicabo.  <b>Nemo enim ipsam </b>voluptatem quia voluptas sit  aspernatur aut odit 
				| aut  fugit, sed quia consequuntur  magni dolores eos qui ratione voluptatem  sequi nesciunt. Neque porro quisquam est, qui dolorem.
		.clearfix
	.speaker_titlerespond2.spacerbig
		h5 Lucy Cook’s wall
	.clearfix
	.line.nin
	.clearfix
	.row-fluid.headerspacer2
		.event-size3.color
			| Web Designer
			.speakerbox2
				.left.speaker_title.inner
					img(src="/img/default_speaker.svg", alt="", class="circularespond")
				.left.speaker_title3.smallslid
					.smallslid3.event-size3.color
						| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
					.headerSpacer
						.left
							img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
						.bubbletext.left.event-size3
							| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
							| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
							| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
	.clearfix
	.row-fluid
		.event-size3.color
			| Web Designer
			.speakerbox2
				.left.speaker_title.inner
					img(src="/img/default_speaker.svg", alt="", class="circularespond")
				.left.speaker_title3.smallslid
					.smallslid3.event-size3.color
						| <b>Lucy Cook</b> - Director of Finance, Delloite	<br />
					.headerSpacer
						.left
							img(src="/img/bubble-left.svg", alt="", style="vertical-align:top;")
						.bubbletext.left.event-size3
							| At vero eos et accusamus et iusto odio dignissimos <b>ducimus qui blanditiis</b> praesentium voluptatum deleniti atque corrupti quos dolores 
							| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <b>praesentium voluptatum deleniti</b> atque corrupti quos dolores 
							| et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt.
	.clearfix
	//- pagination goes here.
	.headerspacer2.nin
		.left
			img(src="/img/bubble-left-red.svg", alt="", style="vertical-align:top;")
		.comment2.left
			.right.postcomment
				a(href="#",) 
					img(src="/img/post.svg", alt="", style="width:106px; height:103px;")
			textarea.postcommentarea(placeholder="Post a comment here...")
	.clearfix
	.row-fluid.nin
		.right
			input.enter4(type="submit", value="Hide profile" style="margin-right:5px !important;")
	.clearfix