extends ../esct

append addonjs

block content
		.container-tool
			//- left side
			.side.pull-left
				.center
					button.btn.btn-default-green.purple.font-small.small-padding.bold(type="button")
							| Back to
							br
							| Full Template
				.spacer
				.font-small.bold.center
					a(href="#" class="link-purple") View Full Site
						img.spacer-small(src="images-esct/full-site.svg" alt="")
				.spacer2
				.font-small.bold.center.green
					| Action
				.spacer-small
				.font-tiny.bold.left-marg-s
					a(href="#" class="link-dark") link
					br
					a(href="#" class="link-dark") section of site
					br
					a(href="#" class="link-dark") mouse over
			//- main
			.main.pull-left
				.left-marg-s.font-button.green.bold
					| Choose background:
				.width70.pull-left
					.dotted-line-green
					.spacer-small
					.width30.pull-left
						.font-small.dark.bold.left-marg-s
							| Upload
							br
							| picture
						.spacer-small
						.image-upload.left-marg-s.pull-left
							label(for="file-input")
								img(src="images-esct/fake-upload.svg" alt="", style="cursor:pointer")
							input(id="file-input" type="file")
						.pull-left.left-marg-s
							a(href="#" class="link-dark")
								img(src="images-esct/upload.svg" alt="", style="cursor:pointer")
					.pull-left
						.font-small.dark.bold.spacer-small
							| or
					.width30.pull-left.left-marg-s
						.font-small.dark.bold.left-marg-s
							| Choose one 
							br
							| of ours
						.spacer-small
						//- just a placeholder for color tool from where to pick
						img.left-marg-s(src="images-esct/color-pallete.svg" alt="")
					.pull-left
						.font-small.dark.bold.spacer-small
							| or
					.width30.pull-left.left-marg-s
						.font-small.dark.bold.left-marg-s
							| Choose color
							br
							| and texture
						.spacer-small
						//- just a placeholder for color tool from where to pick
						img.left-marg-s(src="images-esct/colors.png" alt="")
					.clearfix
				.width30.pull-left.left-marg-s
					.pull-left.left-marg
						.dark.font-small.bold.spacer-small
							| Add gadient
						.spacer2
						.dark.font-small.bold.spacer-small
							| Make this layer
							br
							| a transparent surface
					.radio-wrap.pull-right.right-marg-s
						input.radio(type="radio" id="one" value="one")
						.spacer2
						input.radio(type="radio" id="two" value="two")
				.clearfix


				//- Layer which is being edited
				.spacer		
				.container-inner
					//- A. Top Layer
					//- white box class changed to grey box and top of the layer dissappears
					.grey-box.bigs-padding
						.center.spacer.grey
							//- for marking - marking-border class, and for tips normalTip exampleTip
							a.small-pad.marking-border.something(href="#" class="disabled normalTip exampleTip" title="Press SHIFT button and hold while stretching to stretch in both dimensions at same time") link 1
							| |
							a.small-pad(href="#" class="disabled" title="") link 2
							| |
							a.small-pad(href="#" class="disabled") link 3
							| |
							a.small-pad(href="#" class="disabled") link 4
							| |
							a.small-pad(href="#" class="disabled") link 5
							| |
							a.small-pad(href="#" class="disabled") link 6		
						.spacer2
						.center
							| Company Name / Logo
							.company
								| &nbsp;
						.ebrima.font-big.bold.center
							| Event Title / Logo
						.spacer
						.ebrima.font-big.bold.center.green
							| Feb 14.
							span.font 2014
						.company.width25.spacer-small-min
							| &nbsp;
						.ebrima.font-medium.bold.center
							| 4:00 a.m.
						.spacer
						.ebrima.font.bold.center.green
							| Venue Name Venue Name Venue Name
						.spacer
						.center
							button.btn.btn-lg.btn-danger.font-button.big-padding.awsome-pad(type="button" )
								| Register
						.arrow-down
							a(href="#")
								img(src="images-esct/arrow-down.svg" alt="")
					.spacer
			//- Right side
			.side.pull-left
				.center.green.font-small.bold
					| Tool bar
				.dotted-line-green
				.spacer
				.center.dark.font-small.bold
					a(href="#" class="link-dark")
						| Text field
						img(src="images-esct/text.svg" alt="")
				.spacer3
				.width50.pull-left
					a(href="#" class="link-dark")
						.center.dark.font-mini.bold
							| Image
							br
							span.font-ultrasmall
								| (ractangular frame)
						.center
							img(src="images-esct/rec-image.svg" alt="")
				.width50.pull-left
					a(href="#" class="link-dark")
						.center.dark.font-mini.bold
							| Image
							br
							span.font-ultrasmall
								| (circular frame)
						.center
							img(src="images-esct/cir-image.svg" alt="" )
				.clearfix
				.spacer3
				.center.dark.font-small.bold
					a(href="#" class="link-dark")
						| Placeholder
						img(src="images-esct/placeholder.svg" alt="")
				.spacer3
				.width50.pull-left
					a(href="#" class="link-dark")
						.center.dark.font-tiny.bold
							| vertical
							br
							| line
						.center
							img(src="images-esct/vertical-line.svg" alt="")
				.width50.pull-left
					a(href="#" class="link-dark")
						.center.dark.font-tiny.bold
							| Horizontal
							br
							| line
						.center
							img(src="images-esct/horizontal-line.svg" alt="" )
				.clearfix
				.spacer2
				.center.dark.font-small.bold
					a(href="#" class="link-dark")
						| Map
						img(src="images-esct/map.svg" alt="")
				.spacer3
				.center.dark.font-small.bold
					| Shape
				.center.spacer-small
					.width30.pull-left.center
						a(href="#" class="link-dark")
							img(src="images-esct/triangle.svg" alt="")
					.width30.pull-left.center.left-marg-t
						a(href="#" class="link-dark")
							img(src="images-esct/circle.svg" alt="")
					.width30.pull-right.center
						a(href="#" class="link-dark")
							img(src="images-esct/square.svg" alt="")
			.clearfix


